h5
    b Период

.input-group.input-daterange
    = text_field_tag :date_in, nil,
    { class: 'form-control', value: params[:date_in] }
    .input-group-addon
        b style = "color: gray;" до
    = text_field_tag :date_out, nil,
    { class: 'form-control', value: params[:date_out] }
    .input-group-addon.btn
        = content_tag('span', '',
        class: 'fa fa-times',
        style: 'color: gray;',
        id: 'date_clear_button' )

h5
    b Номера резонаторов
= select_tag :number, options_for_select(@resonators_array),
{   class: 'select2_multi form-control',
    multiple: true }

h5
    b Изготовители катодов
= select_tag :manufacturer, options_for_select(@manufacturer_array),
{   class: 'select2_multi form-control',
    multiple: true  }

h5
    b Режимы окисления катодов
= select_tag :oxidation, options_for_select(@oxidation_array),
{   class: 'select2_multi form-control',
    multiple: true  }

h5
    b Катоды
= select_tag :cathodes, options_for_select(@cathodes_array),
{   class: 'select2_multi form-control',
    multiple: true  }

h5
    b Ножки
= select_tag :legs, options_for_select(@legs_array),
{   class: 'select2_multi form-control',
    multiple: true  }

h5
    b Зеркала
= select_tag :mirrors, options_for_select(@mirrors_array),
{   class: 'select2_multi form-control',
    multiple: true  }

h5
    b Интервал значений по X
.input-group
    = number_field_tag :x_in, nil,
    { class: 'form-control', value: params[:x_in] }
    .input-group-addon
        b style = "color: gray;" по
    = number_field_tag :x_out, nil,
    { class: 'form-control', value: params[:x_out] }
    .input-group-addon.btn
        = content_tag('span', '',
        class: 'fa fa-times',
        style: 'color: gray;',
        id: 'x_interval_clear_button' )

h5
    b Знаков после запятой

/.input-group
    = number_field_tag :round, nil,
    { class: 'form-control', value: params[:round] }
    .input-group-addon.btn
        = content_tag('span', '',
        class: 'fa fa-times',
        style: 'color: gray;',
        id: 'round_val_clear_button' )

.input-group
    = number_field_tag :round, nil,
        { class: 'form-control slider', value: params[:round] }

br


br

. align = 'right'
    button.btn.btn-default type = "button" onclick = "$('#form').submit()" ОК
