/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 *= require bootstrap-slider
 */
//@import "bootstrap";
//@import "bootstrap-sprockets";

@import "font-awesome-sprockets";
@import "font-awesome";

th {
    text-align: center;
}

td {
    text-align: center;
}

.sys_error {
	color: rgb(185, 74, 72);
}

.sys_warning {
	color: rgb(192, 152, 83);
}

.sys_info {
	color: rgb(58, 135, 173);
}

.sys_success {
	color: rgb(70, 136, 71);
}

.sys_mute {
	color: rgb(153, 153, 153);
}
.back_error {
	background: #CD5C5C;
}

th.center {
	text-align: center;
}

td.center {
	text-align: center;
}

.element_list {
	display: none;
}

.parametr_list {
	display: none;
}

.other_list {
	display: none;
}

.pagination {
	background: white;
	cursor: default;
	height: 20px;
	a, span, em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px;
	}
	.disabled {
		//display: none;
		//border: 1px solid red;
	}
	.current {
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		margin: 5px;
		padding: 0px;
	}
}

.panel.panel-default .panel-heading a {
	color: #777;
	text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.panel.panel-info .panel-heading a {
	color: #31708f;
	text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.panel.panel-danger .panel-heading a {
	color: #b94a48;
	text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.text-title {
	color: #777;
}

/* Для фиксированной шапки при прокрутке */
header {
	position: fixed;
	top: 90px;
	left: 40px;
	font-size: 20px;
	transition: all 0.1s ease;
	width: 13%;
}

header.sticky {
	top: 40px;
	left: 40px;
	font-size: 18px;
	transition: all 0.2s ease;
}

.other_link {
	color: #777;
	font-size: 12px;
}


.setButton {
	position: fixed;
	top: 100px;
	left: 180px;
	transition: all 0.1s ease;

}

table {
	font-size: 12px;
}

.btn-index-size {
	font-size: 12px;
}


.dropdown_group_label {
	color: gray;
	font-size: 1em;
	margin-left: 1.3em;

}

.gray_panel {
	top: -0.45em;
	padding: 0;
	margin: 0;
	background-color: #F5F5F5;
	border-right: 1px solid #E2DFDF;
	height: 1280px;
}
