// Place all the styles related to the Resonators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid{
	border: 1px solid red;
}

.search_button {
	color: red;
}

.btn-primary a {
	color: white;
}

.row {
    padding-top: 6px;
}

.datepicker {
    padding-left: 5em;
}
