header.text-title
    h5 Период
    = form_tag('return_after_evo', method: 'get', id: 'form') do
        .input-group.input-daterange
            = text_field_tag :date_in, nil,
            { class: 'form-control', value: params[:date_in] }
            .input-group-addon до
            = text_field_tag :date_out, nil,
            { class: 'form-control', value: params[:date_out] }
            .input-group-btn
                button.btn.btn-default type = "button" onclick = "$('#form').submit()" ОK
