. align="left" = will_paginate @cathodes, previous_label: "<", next_label: ">"

table.table.table-condensed style="width: 90%" align="center"
	thead
		tr
			th.center = @cathode_title[0]
			th.center = @cathode_title[12]
			th.center = @cathode_title[2]
			th.center = @cathode_title[15]
			th.center = @cathode_title[17]
			th.center = @cathode_title[18]
			th.center = @cathode_title[19]
			th.center = @cathode_title[20]
			th colspan=3

	tbody
		- @cathodes.each do |cathode|
			- @ctd_title = ""

			tr
				td.center = cathode.number
				td.center = cathode.date_of_transfer_to_assembly_otk
				td.center = cathode.manufacturer_supplier
				td.center = cathode.date_of_transfer_to_assembly

				td.center
					- if cathode.resonator_id?
						- resonator = Resonator.find(cathode.resonator_id)
						= link_to "#{resonator.number}", resonator
						td.center = cathode.date_of_installation_in_the_resonator
					-else
						td

				-if cathode.result_of_manufacturing_the_workpiece == 'Не годен' or cathode.reason_for_rejection?
					td.center.back_error Не годен
				- else
					td.center.success Годен

				td.center title="#{cathode.deviations}"
					- if cathode.deviations?
						= link_to content_tag('span', '', class: 'fa fa-file-o'),cathode_path(cathode) + '#deviations', class: 'action'

				td.center = link_to content_tag('span', '', class: 'fa fa-circle-o'), cathode_path(cathode), class: 'action'

				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :cathode
						td.center = link_to content_tag('span', '', class: 'fa fa-pencil'), edit_cathode_path(cathode), class: 'action'

				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator
						td.center = link_to content_tag('span', '', class: 'fa fa-trash'), cathode, class: 'action', data: {confirm: "Хотите удалить катод #{cathode.number}?"}, method: :delete
