= form_for @cathode do |f|
	table.table-condensed
		/ Номер катода
		tr
			td = @cathode_title[0]
			td = f.text_field :number, class: 'form-control'

		/ Дата изготовления заготовки
		tr
			td = @cathode_title[1]
			td = f.date_select :date_of_manufacture, {include_blank: true}

		/ Изготовитель (поставщик)
		tr
			td = @cathode_title[2]
			td = f.select :manufacturer_supplier, @manufacturer_list, {}, {class: 'select2_nosearch form-control', disabled: false}

		/ Результат изготовления заготовки
		tr
			td = @cathode_title[3]
			td = f.select :result_of_manufacturing_the_workpiece, [["Годен"],["Не годен"]], {}, {class: 'select2_nosearch form-control', disabled: false}

		/ Описание внешнего вида
		tr
			td = @cathode_title[4]
			td = f.text_area :description_of_appearance, class: 'form-control'

		/ Дата окисления (отпай с поста окисления)
		tr
			td = @cathode_title[5]
			td = f.date_select :oxidation_date, {include_blank: true}

		/ Режим окисления
		tr
			td = @cathode_title[6]
			td = f.select :oxidation_mode, @mode_list, {}, {class: 'select2_nosearch form-control', disabled: false}

		/ Напряжение пробоя
		tr
			td = @cathode_title[7]
			td = f.number_field :breakdown_voltage, class: 'form-control'

		/ Напряжение горения
		tr
			td = @cathode_title[8]
			td = f.number_field :combustion_voltage, class: 'form-control'

		/-----------------------------
		tr
			td colspan=2
				hr

		/ Время пробоя
		tr
			td 
				b = @cathode_title[9] 

		/ Первое включение
		tr
			td = @cathode_title[10]
			td = f.number_field :tb_first_inclusion, class: 'form-control'

		/ Последующие включения(max)
		tr
			td = @cathode_title[11]
			td = f.number_field :tb_subsequent_inclusions, class: 'form-control'

		/-----------------------------
		tr
			td colspan=2
				hr

		/ Дата сдачи в ОТК
		tr
			td = @cathode_title[12]
			td = f.date_select :date_of_transfer_to_assembly_otk, {include_blank: true}

		/ Результат изготовления катода
		tr
			td = @cathode_title[13]
			td = f.select :the_result_of_cathode_manufacturing, [["Годен"],["Не годен"]], {}, {id: 'the_result_of_cathode_manufacturing_field', class: 'select2_nosearch form-control', disabled: false}


		/ Причина забракования
		tr
			td = @cathode_title[14]
			td data-toggle="tooltip" data-placement="right" title="Введите или выберите из списка"
				= f.select :reason_for_rejection, [["Внешний вид"],["Время пробоя"],@cathode.reason_for_rejection], {}, {id: 'reason_for_rejection_field', class: 'select2_tags form-control', disabled: true}

		/ Дата передачи на сборку
		tr
			td = @cathode_title[15]
			td = f.date_select :date_of_transfer_to_assembly, {include_blank: true}

		/ Отклонения (по картам отклонений)
		tr
			td = @cathode_title[16]
			td = f.text_field :deviations, class: 'form-control'

		/-------------------------------------------------------------------------------------------
        tr
            td colspan=2
                hr
		tr
			td align="center" colspan="3" = f.submit "Внести", class: 'btn btn-default'
				