div.container-fluid
    p.sys_error
        = notice
    div.row
        div.col-sm-1
			h4 = "Редактировать катод #{@cathode.number}"
			= link_to "Назад", cathodes_path, class: 'btn btn-default'

        div.col-sm-11
            = render 'form'