div.container-fluid
    p.sys_success
        = notice
    div.row
        div.col-sm-1
			h4 Катоды
				
			-if user_signed_in?
				-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :cathode
					= link_to "Внести", new_cathode_path, class: 'btn btn-default'

            hr

            = form_tag('cathodes/search', method: 'get', id: 'cathodes_search_form') do
                table
                    tr
                        td = text_field_tag :search_val, '', class: 'form-control'
                        td 
                            .btn.fa.fa-search onclick="$('#cathodes_search_form').submit()" = submit_tag nil, style: 'display: none;'

        div.col-sm-11
            = render 'cathodes'