div.container-fluid
    p.sys_error
        = notice
    div.row
        div.col-sm-1
			h4 = "Катод #{@cathode.number}"
			= link_to "Назад", cathodes_path, class: 'btn btn-default'

        div.col-sm-11
        	table.table-condensed

				tr
					td = @cathode_title[0]
					td = @cathode.number
				tr
					td = @cathode_title[1]
					td = @cathode.date_of_manufacture
				tr
					td = @cathode_title[2]
					td = @cathode.manufacturer_supplier
				tr
					td = @cathode_title[3]
					td = @cathode.result_of_manufacturing_the_workpiece
				tr
					td = @cathode_title[4]
					td = @cathode.description_of_appearance
				tr
					td = @cathode_title[5]
					td = @cathode.oxidation_date
				tr
					td = @cathode_title[6]
					td = @cathode.oxidation_mode
				tr
					td = @cathode_title[7]
					td = @cathode.breakdown_voltage
				tr
					td = @cathode_title[8]
					td = @cathode.combustion_voltage
				
				tr
					td colspan=2
						hr
				tr
					td 
						b = @cathode_title[9]
					td
				tr
					td = @cathode_title[10]
					td = @cathode.tb_first_inclusion
				tr
					td = @cathode_title[11]
					td = @cathode.tb_subsequent_inclusions

				tr
					td colspan=2
						hr

				tr
					td = @cathode_title[12]
					td = @cathode.date_of_transfer_to_assembly_otk
				tr
					td = @cathode_title[13]
					td = @cathode.the_result_of_cathode_manufacturing
				tr
					td = @cathode_title[14]
					td = @cathode.reason_for_rejection
				tr
					td = @cathode_title[15]
					td = @cathode.date_of_transfer_to_assembly
				tr id="deviations"
					td = @cathode_title[16]
					td = @cathode.deviations
				
				- if @cathode.resonator_id?
                    tr
                        td colspan=2
                            hr
					tr
						td = @cathode_title[17]
                        td = link_to "#{Resonator.find(@cathode.resonator_id).number}", resonators_path

                    tr
                    	td = @cathode_title[18]
                    	td = @cathode.date_of_installation_in_the_resonator


						