.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_al_title[1]
		.col-sm-5
			= @resonator.al_date

    .row
        .col-sm-12
            hr

	/ Катод
	.row
		.col-sm-7
			 = @resonator_al_title[2]
		.col-sm-5
			-if @resonator.cathode_id?
				- cathode = Cathode.find(@resonator.cathode_id)
				= link_to "#{cathode.number}", cathode

	/ Дата изготовления катода
	.row
		.col-sm-7
			= @resonator_al_title[3]
		.col-sm-5
			- if @resonator.cathode_id?
				- cathode = Cathode.find(@resonator.cathode_id)
				- if cathode.date_of_manufacture?
					= "#{cathode.date_of_manufacture.strftime("%d.%m.%Y")}"

	/ Ножка
	.row
		.col-sm-7
			= @resonator_al_title[4]
		.col-sm-5
			-if @resonator.leg_id?
				- leg = Leg.find(@resonator.leg_id)
				= link_to "#{leg.disk_number}", leg

	/ Дата изготовления ножки
	.row
		.col-sm-7
			= @resonator_al_title[5]
		.col-sm-5
			- if @resonator.leg_id?
				- leg = Leg.find(@resonator.leg_id)
				- if leg.ds_date_of_manufacture?
						= "#{leg.ds_date_of_manufacture.strftime("%d.%m.%Y")}"

	/ Усилие прижима ножки, кг
	.row
		.col-sm-7
			= @resonator_al_title[6]
		.col-sm-5
			= @resonator.al_leg_clamp

	/ Плоское зеркало
	.row
		.col-sm-7
			= @resonator_al_title[7]
		.col-sm-5
			- if @resonator.fmirror_id?
				- fmirror = Mirror.find(@resonator.fmirror_id)
				- fmirror_phase = fmirror.pa_phase_anisotropy
				= link_to "#{fmirror.number_of_substrate}", fmirror


	/ Дата изготовления плоского зеркала
	.row
		.col-sm-7
			= @resonator_al_title[8]
		.col-sm-5
			- if @resonator.fmirror_id?
				- fmirror = Mirror.find(@resonator.fmirror_id)
				- if fmirror.date_of_manufacture_of_the_substrate
					= "#{fmirror.date_of_manufacture_of_the_substrate.strftime("%d.%m.%Y")}"


	/ Пьезо 1
	.row
		.col-sm-7
			= @resonator_al_title[9]
		.col-sm-5
			- if @resonator.pmirror_1_id?
				- pmirror_1 = Mirror.find(@resonator.pmirror_1_id)
				- pmirror_1_phase = pmirror_1.pa_phase_anisotropy
				= link_to "#{pmirror_1.number_of_substrate}", pmirror_1

	/ Дата изготовления пьезо зеркала 1
	.row
		.col-sm-7
			= @resonator_al_title[10]
		.col-sm-5
			- if @resonator.pmirror_1_id?
				- pmirror1 = Mirror.find(@resonator.pmirror_1_id)
				- if pmirror1.date_of_manufacture_of_the_substrate
					= "#{pmirror1.date_of_manufacture_of_the_substrate.strftime("%d.%m.%Y")}"

	/ Пьезо 2
	.row
		.col-sm-7
			= @resonator_al_title[11]
		.col-sm-5
			- if @resonator.pmirror_2_id?
				- pmirror_2 = Mirror.find(@resonator.pmirror_2_id)
				- pmirror_2_phase = pmirror_2.pa_phase_anisotropy
				= link_to "#{pmirror_2.number_of_substrate}", pmirror_2

	/ Дата изготовления пьезо зеркала 2
	.row
		.col-sm-7
			= @resonator_al_title[12]
		.col-sm-5
			- if @resonator.pmirror_2_id?
				- pmirror2 = Mirror.find(@resonator.pmirror_2_id)
				- if pmirror2.date_of_manufacture_of_the_substrate
					= "#{pmirror2.date_of_manufacture_of_the_substrate.strftime("%d.%m.%Y")}"

	/ Сферическое зеркало
	.row
		.col-sm-7
			= @resonator_al_title[13]
		.col-sm-5
			- if @resonator.smirror_id?
				- smirror = Mirror.find(@resonator.smirror_id)
				- smirror_phase = smirror.pa_phase_anisotropy
				= link_to "#{smirror.number_of_substrate}", smirror

	/ Дата изготовления сферического зеркала
	.row
		.col-sm-7
			= @resonator_al_title[14]
		.col-sm-5
			- if @resonator.smirror_id?
				- smirror = Mirror.find(@resonator.smirror_id)
				- if smirror.date_of_manufacture_of_the_substrate?
					= "#{smirror.date_of_manufacture_of_the_substrate.strftime("%d.%m.%Y")}"

    .row
        .col-sm-12
            hr

	/ Суммарная фазовая анизотропия зеркал
	.row
		.col-sm-7
			= @resonator_al_title[22]
		.col-sm-5
			= (fmirror_phase.to_f + pmirror_1_phase.to_f + pmirror_2_phase.to_f + smirror_phase.to_f).round 4


    .row
        .col-sm-12
            hr

	.row
		.col-sm-7
			= @resonator_al_title[15]
		.col-sm-5
			= @resonator.al_TEM00_loss
	.row
		.col-sm-7
			= @resonator_al_title[16]
		.col-sm-5
			= @resonator.al_selectivity

	.row
        .col-sm-12
            hr

	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.al_result


	- if @resonator.al_reason_for_return? and @alignment_return_list.rassoc(@resonator.al_reason_for_return)
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.al_return_date

		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@alignment_return_list.rassoc(@resonator.al_reason_for_return).first}(#{@resonator.al_for_the_return_list})"
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.al_refund_description
