= form_for @resonator do |f|

    / Дата проведения
    .row
        .col-sm-7
            = @resonator_al_title[1]
        .col-sm-5
            = f.text_field :al_date,
            { include_blank: true,
            class: 'datepicker form-control' }

    .row
        .col-sm-12
            hr

    / Номер катода
    .row
        .col-sm-7
            = @resonator_al_title[2]
        .col-sm-5
            - if @resonator.cathode_id?
                .row
                    .col-sm-10 align = 'center'
                        - cathode = Cathode.find(@resonator.cathode_id)
                        = link_to cathode.number, cathode
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_cathode_resonators_path(id: @resonator),
                        { class: 'action',
                        data: { toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь катод из резонатора' }
            - else
                = f.select :cathode_id, {}, {},
                { class: 'select2_empty form-control',
                disabled: false,
                placeholder: 'Enter' } do
                    - if Cathode.exists?
                        option
                        - Cathode.all.collect {|p| [p.number,
                            p.resonator_id, p.id]}.each do |c|
                            - if !c[1]
                                = content_tag(:option,
                                c.first, value: c.last)
                                - @cathode = true
                        - if !@cathode
                            = content_tag(:option,
                            'Нет свободных катодов',
                            disabled: true)
                    - else
                        = content_tag(:option,
                        'В базе нет катодов',
                        disabled: true)
    / Номер ножки
    .row
        .col-sm-7
            = @resonator_al_title[4]
        .col-sm-5
            - if @resonator.leg_id?
                .row
                    .col-sm-10 align = 'center'
                        - leg = Leg.find(@resonator.leg_id)
                        = link_to leg.disk_number, leg
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_leg_resonators_path(id: @resonator),
                        { class: 'action ',
                        data: { toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь ножку из резонатора' }
            -else
                    = f.select :leg_id, {}, {},
                    { class: 'select2_tags form-control' } do
                        - if Leg.exists?
                            option
                            - Leg.all.collect {|p| [p.disk_number,
                                p.resonator_id, p.id]}.each do |c|
                                - if !c[1]
                                    = content_tag(:option,
                                    c.first, value: c.last)
                                    - @leg=true
                            - if !@leg
                                = content_tag(:option,
                                'Нет свободных ножек',
                                disabled: true)
                        - else
                            = content_tag(:option,
                            "В базе нет ножек", disabled: true)

    / Номер плоского зеркала
    .row
        .col-sm-7
            = @resonator_al_title[7]
        .col-sm-5
            - if @resonator.fmirror_id?
                .row
                    .col-sm-10 align = 'center'
                        - fmirror = Mirror.find(@resonator.fmirror_id)
                        = link_to fmirror.number_of_substrate, fmirror
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_fmirror_resonators_path(id: @resonator),
                        { class: 'action',
                        data: { toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь зеркало из резонатора' }
            - else
                = f.select :fmirror_id, {}, {},
                { class: 'select2_empty form-control', disabled: false } do
                    -if Mirror.exists?
                        option
                        - Mirror.all.collect { |p| [p.number_of_substrate,
                          p.mirror_type, p.resonator_id, p.id] }.each do |c|
                            -if c[1] == 'Плоское' and !c[2]
                                = content_tag(:option,
                                c.first, value: c.last)
                                - @fmirror = true
                        - if !@fmirror
                            = content_tag(:option,
                            "Нет свободных плоских зеркал", disabled: true)
                    - else
                        = content_tag(:option,
                        "В базе нет зеркал", disabled: true)

    / Номер пьезо зеркала 1
    .row
        .col-sm-7
            = @resonator_al_title[9]
        .col-sm-5
            - if @resonator.pmirror_1_id?
                .row
                    .col-sm-10 align = 'center'
                        - pmirror1 = Mirror.find(@resonator.pmirror_1_id)
                        = link_to pmirror1.number_of_substrate, pmirror1
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_pmirror_1_resonators_path(id: @resonator),
                        { class: 'action',
                        data: { toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь зеркало из резонатора' }
            - else
                = f.select :pmirror_1_id, {}, {},
                { class: 'select2_empty form-control', disabled: false } do
                    - if Mirror.exists?
                        option
                        - Mirror.all.collect { |p| [p.number_of_substrate,
                        p.mirror_type, p.resonator_id, p.id] }.each do |c|
                            - if c[1] == "Пьезо" and !c[2]
                                = content_tag(:option,
                                c.first, value: c.last)
                                - @pmirror1 = true
                        - if !@pmirror1
                            = content_tag(:option,
                            "Нет свободных пьезо зеркал", disabled: true)
                    - else
                        = content_tag(:option,
                        "В базе нет зеркал", disabled: true)

    / Номер пьезо зеркала 2
    .row
        .col-sm-7
            = @resonator_al_title[11]
        .col-sm-5
            - if @resonator.pmirror_2_id?
                .row
                    .col-sm-10 align = 'center'
                        - pmirror2 = Mirror.find(@resonator.pmirror_2_id)
                        = link_to pmirror2.number_of_substrate, pmirror2
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_pmirror_2_resonators_path(id: @resonator),
                        { class: 'action',
                        data: {toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь зеркало из резонатора' }
            - else
                = f.select :pmirror_2_id, {}, {},
                { class: 'select2_empty form-control', disabled: false } do
                    - if Mirror.exists?
                        option
                        - Mirror.all.collect { |p| [p.number_of_substrate,
                        p.mirror_type, p.resonator_id, p.id] }.each do |c|
                            - if c[1] == "Пьезо" and !c[2]
                                = content_tag(:option,
                                c.first, value: c.last)
                                - @pmirror2 = true
                        - if !@pmirror2
                            = content_tag(:option,
                            "Нет свободных пьезо зеркал", disabled: true)
                    - else
                        = content_tag(:option,
                        "В базе нет зеркал", disabled: true)

    / Номер сферического зеркала
    .row
        .col-sm-7
            = @resonator_al_title[13]
        .col-sm-5
            - if @resonator.smirror_id?
                .row
                    .col-sm-10 align = 'center'
                        - smirror = Mirror.find(@resonator.smirror_id)
                        = link_to smirror.number_of_substrate, smirror
                    .col-sm-2
                        = link_to content_tag('p', '', class: 'fa fa-trash'),
                        pull_out_smirror_resonators_path(id: @resonator),
                        { class: 'action',
                        data: { toggle: 'tooltip', placement: 'right' },
                        title: 'Извлечь зеркало из резонатора' }
            - else
                = f.select :smirror_id, {}, {},
                { class: 'select2_empty form-control', disabled: false } do
                    - if Mirror.exists?
                        option
                        - Mirror.all.collect { |p| [p.number_of_substrate,
                        p.mirror_type, p.resonator_id, p.id] }.each do |c|
                            - if c[1] == "Сферическое" and !c[2]
                                = content_tag(:option,
                                c.first, value: c.last)
                                - @smirror = true
                        - if !@smirror
                            = content_tag(:option,
                            "Нет свободных сферических зеркал",
                            disabled: true)
                    - else
                        = content_tag(:option,
                        "В базе нет зеркал", disabled: true)

    / Усилие прижима ножки, кг
    .leg_clamp
        .row
            .col-sm-7
                = @resonator_al_title[6]
            .col-sm-5
                = f.number_field :al_leg_clamp,
                { step: 0.01,
                class: 'form-control',
                id: 'leg_clamp_field' }

    .row
        .col-sm-12
            hr

    / Потери на моде ТЕМ00
    .row
        .col-sm-7
            = @resonator_al_title[15]
        .col-sm-5
            = f.number_field :al_TEM00_loss,
            { step: @step, class: 'form-control' }

    / Селективность
    .row
        .col-sm-7
            = @resonator_al_title[16]
        .col-sm-5
            = f.number_field :al_selectivity,
            { step: @step, class: 'form-control'}

    .row
        .col-sm-12
            hr

    / Результат
    .row
        .col-sm-7
              = @return_title[0]
        .col-sm-5
            = f.select :al_result,
            [ ["Годен"], ["Возврат"] ], {},
            { id: 'result_field',
            class: 'select2_nosearch form-control',
            style: 'width: 100%;' }


    .return_fields
        / Дата возврата
        .row
            .col-sm-7
                  = @return_title[1]
            .col-sm-5
                = f.text_field :al_return_date,
                { include_blank: true,
                class: 'form-control datepicker',
                id: 'return_date_field',
                value: Date.today }

        / Причина возврата
        .row
            .col-sm-7
                = @return_title[2]
            .col-sm-5
                - return_list = @alignment_return_list.values_at(0, 5, 8)
                = f.select :al_reason_for_return,
                return_list, {},
                { id: 'reason_for_return_field',
                class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-7
            .col-sm-5
                .option-group-0 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :al_for_the_return_list,
                    @alignment_return_list[1..4], {},
                    { id: 'option-group-0-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-group-1 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :al_for_the_return_list,
                    @alignment_return_list[6..7], {},
                    { id: 'option-group-1-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-other {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Введите с клавиатуры" }
                    = f.text_field :al_for_the_return_list,
                    { id: 'option-other-field',
                    class: 'form-control' }
        .row
            .col-sm-7
            .col-sm-5
                .option-item-other {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Введите с клавиатуры" }
                    = f.text_field :al_for_the_return_list,
                    { id: 'option-item-other-field',
                    class: 'form-control' }

        .row
            .col-sm-7
                = @return_title[3]
            .col-sm-5
                = f.text_area :al_refund_description,
                { id: 'return_description_field',
                class: 'form-control' }

    .row
        .col-sm-12
            hr

    / Статус операции
    .row
        .col-sm-7
            = @status_title
        .col-sm-5
            = f.select :alignment, [ ["Не завершена"],["Завершена"] ], {},
            { class: 'select2_nosearch form-control',
            style: 'width: 100%;' }

    .row
        .col-sm-12
            hr

    / Внести
    .row
        .col-sm-10
        .col-sm-2
            = f.submit "Внести",
            { class: 'btn btn-default form-control' }
