= form_for @resonator do |f|
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_cr_title[1]
		.col-sm-5
			= f.text_field :cr_date,
			{ include_blank: true,
			class: 'form-control datepicker',
			style: 'width: 100%;' }

	/ Проверочная операция после холодоустойчивости (ХУ)
	.row
		.col-sm-7
			= @resonator_cr_title[2]
		.col-sm-5
			= f.text_field :cr_verification_operation_after_ts,
			{ include_blank: true,
			class: 'form-control datepicker',
			style: 'width: 100%;' }

	/ Контроль оптического контакта
	.row
		.col-sm-7
			= @resonator_cr_title[3]
		.col-sm-5
			= f.select :cr_optical_contact_monitoring,
			[["Да"],["Нет"]], {},
			{ class: 'select2_nosearch form-control',
			style: 'width: 100%;' }

	/ Описание оптического контакта (посадки)
	.row
		.col-sm-7
			= @resonator_cr_title[4]
		.col-sm-5
			= f.text_field :cr_description_of_optical_contact,
			{ class: 'form-control' }

	/ Напряжение горения через 2сек, U(2)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[5]
		.col-sm-5
			= f.number_field :cr_burning_voltage_after_2_sec,
			{ step: @step, class: 'form-control' }

	/ Напряжение горения через 35сек, U(35)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[6]
		.col-sm-5
			= f.number_field :cr_burning_voltage_after_35_sec,
			{ step: @step, class: 'form-control' }

	/ Напряжение горения через 10 мин, U(10)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[7]
		.col-sm-5
			= f.number_field :cr_burning_voltage_after_10_min,
			{ step: @step, class: 'form-control' }

	/ Порговый ток после ХУ Iпор (ху), мА
	.row
		.col-sm-7
			= @resonator_cr_title[8]
		.col-sm-5
			= f.number_field :cr_threshold_current_after_XY,
			{ step: @step, class: 'form-control' }

	/ Частоты выходного сигнала на моде 1, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[9]
		.col-sm-5
			= f.number_field :cr_output_frequency_in_mode_1,
			{ step: @step, class: 'form-control' }

	/ Захват на моде 1, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[10]
		.col-sm-5
			= f.number_field :cr_capture_in_fashion_1,
			{ step: @step, class: 'form-control' }

	/ Частоты выходного сигнала на моде 2, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[11]
		.col-sm-5
			= f.number_field :cr_output_frequency_in_mode_2,
			{ step: @step, class: 'form-control' }

	/ Захват на моде 2, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[12]
		.col-sm-5
			= f.number_field :cr_capture_on_fashion_2,
			{ step: @step, class: 'form-control' }

	/ Частоты выходного сигнала на моде 3, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[13]
		.col-sm-5
			= f.number_field :cr_output_frequency_in_mode_3,
			{ step: @step, class: 'form-control' }

	/ Захват на моде 3, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[14]
		.col-sm-5
			= f.number_field :cr_capture_in_fashion_3,
			{ step: @step, class: 'form-control' }

	/ Частоты выходного сигнала на моде 4, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[15]
		.col-sm-5
			= f.number_field :cr_output_frequency_in_mode_4,
			{ step: @step, class: 'form-control' }

	/ Захват на моде 4, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[16]
		.col-sm-5
			= f.number_field :cr_capture_on_fashion_4,
			{ step: @step, class: 'form-control' }

    .row
        .col-sm-12
            hr

	/ Потери σ
	.row
		.col-sm-7
			= @resonator_cr_title[26]
		.col-sm-5
			= f.number_field :cr_losses,
			{ step: @step, class: 'form-control' }

	/ Селективность с
	.row
		.col-sm-7
			= @resonator_cr_title[27]
		.col-sm-5
			= f.number_field :cr_selectivity,
			{ step: @step, class: 'form-control' }

	/ Давление азота
	.row
		.col-sm-7
			= @resonator_cr_title[28]
		.col-sm-3 style = 'padding-right: 3px;'
			span { style = "position: absolute;
			margin-left: 8em; margin-top: .5em; font-size: 14px;" } x10
			= f.number_field :cr_nitrogen_level,
			{ class: 'form-control', step: @step,
            style: 'width: 100%;' }
		.col-sm-2 style = 'padding-left: 3px;'
			= f.select :cr_nitrogen_level_rate,
			[ [],[-1],[-2],[-3],[-4],[-5],[-6],[-7],[-8] ], {},
			{ class: 'select2_empty_rate form-control',
			style: 'width: 100%;'}

    .row
        .col-sm-12
            hr

	/ Герметичность Shamrock
	.row
		.col-sm-12
			b = @resonator_cr_title[21]
			br
			br

	/ Дата
	.row
		.col-sm-7
			= @resonator_cr_title[22]
		.col-sm-5
			= f.text_field :cr_im_date,
			{ include_blank: true,
			class: 'form-control datepicker',
			style: 'width: 100%;' }

	/ Годен
	.row
		.col-sm-7
			= @resonator_cr_title[23]
		.col-sm-5
			= f.select :cr_im_fit,
			[[""],["Да"],["Нет"]], {},
			{ class: 'select2_empty form-control',
			style: 'width: 100%;' }

    .row
        .col-sm-12
            hr

	/ Результат
    .row
        .col-sm-7
        	= @return_title[0]
		.col-sm-5
			= f.select :cr_result,
			[ ["Годен"], ["Возврат"] ], {},
			{ id: 'result_field',
			class: 'select2_nosearch',
			style: 'width: 100%;' }

	.return_fields

		/ Дата возврата
		.row
			.col-sm-7
			  	= @return_title[1]
			.col-sm-5
				= f.text_field :cr_return_date,
	            { id: 'return_date_field',
	            class: 'form-control datepicker',
	            style: 'width: 100%;',
	            value: Date.today }

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				- return_list = @cold_resistance_return_list.values_at(0, 4, 11, 16)
				= f.select :cr_reason_for_return,
				return_list, {},
				{ id: 'reason_for_return_field',
				class: 'select2_nosearch form-control',
				style: 'width: 100%;' }

		.row
			.col-sm-7
			.col-sm-5
				.option-group-0 {
				data-toggle = "tooltip"
				data-placement = "right"
				title = "Выберите" }
					= f.select :cr_for_the_return_list,
					@cold_resistance_return_list[1..3], {},
					{ id: 'option-group-0-field',
					class: 'select2_nosearch form-control',
					style: 'width: 100%;' }

				.option-group-1 {
				data-toggle = "tooltip"
				data-placement = "right"
				title = "Выберите" }
					= f.select :cr_for_the_return_list,
					@cold_resistance_return_list[5..10], {},
					{ id: 'option-group-1-field',
					class: 'select2_nosearch form-control',
					style: 'width: 100%;' }

				.option-group-2 {
				data-toggle = "tooltip"
				data-placement = "right"
				title = "Выберите" }
					= f.select :cr_for_the_return_list,
					@cold_resistance_return_list[12..15], {},
					{ id: 'option-group-2-field',
					class: 'select2_nosearch form-control',
					style: 'width: 100%;' }

				.option-other {
				data-toggle = "tooltip"
				data-placement = "right"
				title = "Введите с клавиатуры" }
					= f.text_field :cr_for_the_return_list,
					{ id: 'option-other-field',
					class: 'form-control',
					style: 'width: 100%;'}

	    / Описание возврата
	    .row
	        .col-sm-7
	            = @return_title[3]
	        .col-sm-5
	            = f.text_area :cr_refund_description,
	            { class: 'form-control',
	            id: 'return_description_field',
	            style: 'width: 100%;' }

    .row
        .col-sm-12
            hr

	/ Статус операции
	.row
		.col-sm-7
			= @status_title
		.col-sm-5
			= f.select :cold_resistance,
			[["Не завершена"],["Завершена"]], {},
			{ class: 'select2_nosearch form-control',
			style: 'width: 100%;' }

    .row
        .col-sm-12
            hr

    / Внести
    .row
        .col-sm-10
        .col-sm-2
            = f.submit "Внести",
            { class: 'btn btn-default form-control' }





