.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_cr_title[1]
		.col-sm-5
			 = @resonator.cr_date

    .row
        .col-sm-12
            hr

	/ Проверочная операция после климатических испытаний
	.row
		.col-sm-7
			= @resonator_cr_title[2]
		.col-sm-5
			= @resonator.cr_verification_operation_after_ts

	/ Контроль оптического контакта
	.row
		.col-sm-7
			= @resonator_cr_title[3]
		.col-sm-5
			= @resonator.cr_optical_contact_monitoring

	/ Описание оптического контакта (посадки)
	.row
		.col-sm-7
			= @resonator_cr_title[4]
		.col-sm-5
			= @resonator.cr_description_of_optical_contact

	/ Напряжение горения через 2сек, U(2)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[5]
		.col-sm-5
			= @resonator.cr_burning_voltage_after_2_sec

	/ Напряжение горения через 35сек, U(35)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[6]
		.col-sm-5
			= @resonator.cr_burning_voltage_after_35_sec

	/ Напряжение горения через 10 мин, U(10)гор, В
	.row
		.col-sm-7
			= @resonator_cr_title[7]
		.col-sm-5
			= @resonator.cr_burning_voltage_after_10_min

	/ Изменение напряжения горения, ΔU гор
	.row
		.col-sm-7
			= @resonator_cr_title[30]
		.col-sm-5
			= @resonator.cr_combustion_voltage_delta

	/ Порговый ток после ХУ Iпор (ху), мА
	.row
		.col-sm-7
			= @resonator_cr_title[8]
		.col-sm-5
			= @resonator.cr_threshold_current_after_XY

    .row
        .col-sm-12
            hr

	/ Частоты выходного сигнала на моде 1, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[9]
		.col-sm-5
			= @resonator.cr_output_frequency_in_mode_1

	/ Захват на моде 1, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[10]
		.col-sm-5
			= @resonator.cr_capture_in_fashion_1

	/ Частоты выходного сигнала на моде 2, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[11]
		.col-sm-5
			= @resonator.cr_output_frequency_in_mode_2

	/ Захват на моде 2, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[12]
		.col-sm-5
			= @resonator.cr_capture_on_fashion_2

	/ Частоты выходного сигнала на моде 3, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[13]
		.col-sm-7
			= @resonator.cr_output_frequency_in_mode_3

	/ Захват на моде 3, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[14]
		.col-sm-5
			= @resonator.cr_capture_in_fashion_3

	/ Частоты выходного сигнала на моде 4, КГц
	.row
		.col-sm-7
			= @resonator_cr_title[15]
		.col-sm-5
			= @resonator.cr_output_frequency_in_mode_4

	/ Захват на моде 4, Гц
	.row
		.col-sm-7
			= @resonator_cr_title[16]
		.col-sm-5
			= @resonator.cr_capture_on_fashion_4

	/ Среднее по модам захвата, Σ(захват на моде N)/4
	.row
		.col-sm-7
			= @resonator_cr_title[31]
		.col-sm-5
			= @resonator.cr_capture_in_fashion_delta

	/ Средняя частота выходного сигнала на модах
	.row
		.col-sm-7
			= @resonator_cr_title[32]
		.col-sm-5
			= @resonator.cr_output_frequency_delta

    .row
        .col-sm-12
            hr

	/ Потери σ
	.row
		.col-sm-7
			= @resonator_cr_title[26]
		.col-sm-5
			= @resonator.cr_losses

	/ Селективность с
	.row
		.col-sm-7
			= @resonator_cr_title[27]
		.col-sm-5
			= @resonator.cr_selectivity

	/ Давление азота
	.row
		.col-sm-7
			= @resonator_cr_title[28]
		.col-sm-5
			-if @resonator.cr_nitrogen_level?
				span = "#{@resonator.cr_nitrogen_level} x 10 "
			|
			-if @resonator.cr_nitrogen_level_rate?
				sup = @resonator.cr_nitrogen_level_rate

    .row
        .col-sm-12
            hr

	/ Герметичность Shamrock
	.row
		.col-sm-12
			b = @resonator_cr_title[21]
			br
			br

	/ Дата
	.row
		.col-sm-7
			= @resonator_cr_title[22]
		.col-sm-5
			= @resonator.cr_im_date

	/ Годен
	.row
		.col-sm-7
			= @resonator_cr_title[23]
		.col-sm-5
			= @resonator.cr_im_fit

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.cr_result

	- if @resonator.cr_for_the_return_list? and @cold_resistance_return_list.rassoc(@resonator.cr_reason_for_return)

		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.cr_return_date

		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@cold_resistance_return_list.rassoc(@resonator.cr_reason_for_return).first}(#{@resonator.cr_for_the_return_list})"

		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.cr_refund_description
