.

	/ Дата
	.row
		.col-sm-7
            = @resonator_control[1]
		.col-sm-5
            = @resonator.cn_date

    .row
        .col-sm-12
            hr

    / Результат
    .row
        .col-sm-7
            = @return_title[0]
        .col-sm-5
            = @resonator.cn_result

    - if @resonator.cn_reason_for_return? and @control_return_list.rassoc(@resonator.cn_reason_for_return)

        / Дата возврата
        .row
            .col-sm-7
                = @return_title[1]
            .col-sm-5
                = @resonator.cn_return_date

        / Причина возврата
        .row
            .col-sm-7
                = @return_title[2]
            .col-sm-5
                = "#{@control_return_list.rassoc(@resonator.cn_reason_for_return).first}(#{@resonator.cn_for_the_return_list})"

        / Описание возврата
        .row
            .col-sm-7
                = @return_title[3]
            .col-sm-5
                = @resonator.t3_refund_description
