= form_for @resonator do |f|
		/ Дата
		.row
            .col-sm-7
                = @resonator_control[1]
			.col-sm-5
                = f.text_field :cn_date,
                { include_blank: true,
                class: 'form-control datepicker' }

        .row
            .col-sm-12
                hr

        / Результат
        .row
            .col-sm-7
                = @return_title[0]
            .col-sm-5
                = f.select :cn_result,
                [ ["Годен"], ["Возврат"] ], {},
                { id: 'result_field',
                class: 'select2_nosearch',
                style: 'width: 100%;' }

        .return_fields

            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :cn_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]

                .col-sm-5
                    - return_list = @control_return_list.values_at(0, 1, 5, 9)
                    = f.select :cn_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :cn_for_the_return_list,
                        @control_return_list[2..4], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :cn_for_the_return_list,
                        @control_return_list[6..8], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :cn_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-item-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :cn_for_the_return_list,
                        { id: 'option-item-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :cn_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field',
                    style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

		/ Статус операции
        .row
			.col-sm-7
                = @status_title
			.col-sm-5
                = f.select :control,
                [ ["Не завершена"],["Завершена"] ], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
