.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_ev_title[1]
		.col-sm-5
			= @resonator.ev_date
	/ Номер вакуумного поста
	.row
		.col-sm-7
			= @resonator_ev_title[2]
		.col-sm-5
			= @resonator.ev_vacuum_post_number

	.row
        .col-sm-12
            hr

	/ Порговый ток в начале тренировки Iпор (нт), мА
	.row
		.col-sm-7
			= @resonator_ev_title[3]
		.col-sm-5
			= @resonator.ev_threshold_current_at_the_beginning_of_the_workout

	/ Напряжение горения в начале тренировки Uгор т1, В
	.row
		.col-sm-7
			= @resonator_ev_title[4]
		.col-sm-5
			= @resonator.ev_burning_stress_at_the_beginning_of_the_workout

	/ Напряжение горения через 5 часов тренировки Uгор т2, В
	.row
		.col-sm-7
			= @resonator_ev_title[5]
		.col-sm-5
			= @resonator.ev_burning_voltage_after_5_hours_of_training

	/ Напряжение горения в после перезаполнения Uгор т3, В
	.row
		.col-sm-7
			= @resonator_ev_title[6]
		.col-sm-5
			= @resonator.ev_combustion_voltage_after_refilling

	/ Напряжение горения через 10 часов тренировки Uгор т4, В
	.row
		.col-sm-7
			= @resonator_ev_title[7]
		.col-sm-5
			= @resonator.ev_the_burning_voltage_after_10_hours_of_training

	/ Порговый ток в конце тренировки Iпор (кт), мА
	.row
		.col-sm-7
			= @resonator_ev_title[8]
		.col-sm-5
			= @resonator.ev_threshold_current_at_the_end_of_the_workout

	/ Напряжение горения в начале стабилизации Uгор с1, В
	.row
		.col-sm-7
			= @resonator_ev_title[9]
		.col-sm-5
			= @resonator.ev_the_combustion_voltage_at_the_beginning_of_stabilization

	/ Напряжение горения через 1 час стабилизации Uгор с2, В
	.row
		.col-sm-7
			= @resonator_ev_title[10]
		.col-sm-5
			= @resonator.ev_the_combustion_voltage_after_1_hour_of_stabilization

	/ Напряжение горения через 2 часа стабилизации Uгор с3, В
	.row
		.col-sm-7
			= @resonator_ev_title[11]
		.col-sm-5
			= @resonator.ev_the_combustion_voltage_after_2_hours_of_stabilization

	/ Напряжение горения через 3 часа стабилизации Uгор с4, В
	.row
		.col-sm-7
			= @resonator_ev_title[12]
		.col-sm-5
			= @resonator.ev_the_combustion_voltage_after_3_hours_of_stabilization

	/ Порговый ток в конце стабилизации Iпор с, мА
	.row
		.col-sm-7
			= @resonator_ev_title[13]
		.col-sm-5
			= @resonator.ev_threshold_current_at_the_end_of_stabilization

	.row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.ev_result

	- if @resonator.ev_reason_for_return? and @evo_return_list.rassoc(@resonator.ev_reason_for_return)

		/ Дата возврата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.ev_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@evo_return_list.rassoc(@resonator.ev_reason_for_return).first} (#{@resonator.ev_for_the_return_list})"
		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.ev_refund_description
