= form_for @resonator do |f|

	/ Дата ЭВО
    .row
        .col-sm-7
            = @resonator_ev_title[1]
		.col-sm-5
            = f.text_field :ev_date,
            { include_blank: true,
            class: 'form-control datepicker' }

	/ Номер вакуумного поста
    .row
        .col-sm-7
            = @resonator_ev_title[2]
		.col-sm-5
            = f.text_field :ev_vacuum_post_number,
            { class: 'form-control' }


    .evo_fields

        .row
            .col-sm-12
                hr

    	/ Порговый ток в начале тренировки Iпор (нт), мА
    	.row
            .col-sm-7
                = @resonator_ev_title[3]
    		.col-sm-5
                = f.number_field :ev_threshold_current_at_the_beginning_of_the_workout,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения в начале тренировки Uгор т1, В
    	.row
            .col-sm-7
                = @resonator_ev_title[4]
    		.col-sm-5
                = f.number_field :ev_burning_stress_at_the_beginning_of_the_workout,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения через 5 часов тренировки Uгор т2, В
    	.row
            .col-sm-7
                = @resonator_ev_title[5]
    		.col-sm-5
                = f.number_field :ev_burning_voltage_after_5_hours_of_training,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения в после перезаполнения Uгор т3, В
    	.row
            .col-sm-7
                = @resonator_ev_title[6]
    		.col-sm-5
                = f.number_field :ev_combustion_voltage_after_refilling,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения через 10 часов тренировки Uгор т4, В
    	.row
            .col-sm-7
                = @resonator_ev_title[7]
    		.col-sm-5
                = f.number_field :ev_the_burning_voltage_after_10_hours_of_training,
                { step: @step, class: 'form-control' }

    	/ Порговый ток в конце тренировки Iпор (кт), мА
    	.row
            .col-sm-7
                = @resonator_ev_title[8]
    		.col-sm-5
                = f.number_field :ev_threshold_current_at_the_end_of_the_workout,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения в начале стабилизации Uгор с1, В
    	.row
            .col-sm-7
                = @resonator_ev_title[9]
    		.col-sm-5
                = f.number_field :ev_the_combustion_voltage_at_the_beginning_of_stabilization,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения через 1 час стабилизации Uгор с2, В
    	.row
            .col-sm-7
                = @resonator_ev_title[10]
    		.col-sm-5
                = f.number_field :ev_the_combustion_voltage_after_1_hour_of_stabilization,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения через 2 часа стабилизации Uгор с3, В
    	.row
            .col-sm-7
                = @resonator_ev_title[11]
    		.col-sm-5
                = f.number_field :ev_the_combustion_voltage_after_2_hours_of_stabilization,
                { step: @step, class: 'form-control' }

    	/ Напряжение горения через 3 часа стабилизации Uгор с4, В
    	.row
            .col-sm-7
                = @resonator_ev_title[12]
    		.col-sm-5
                = f.number_field :ev_the_combustion_voltage_after_3_hours_of_stabilization,
                { step: @step, class: 'form-control' }

    	/ Порговый ток в конце стабилизации Iпор с, мА
    	.row
            .col-sm-7
                = @resonator_ev_title[13]
    		.col-sm-5
                = f.number_field :ev_threshold_current_at_the_end_of_stabilization,
                { step: @step, class: 'form-control' }

        .row
            .col-sm-12
                hr

    	/ Результат
    	.row
            .col-sm-7
                = @return_title[0]
    		.col-sm-5
                = f.select :ev_result,
                [["Годен"],["Возврат"]], {},
                { id: 'result_field',
                class: 'select2_nosearch form-control',
                style: 'width: 100%;',
                disabled: false }

        .return_fields
            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :ev_return_date,
                    { include_blank: true,
                    id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }


            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @evo_return_list.values_at(0, 7, 11)
                    = f.select :ev_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }
            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ev_for_the_return_list,
                        @evo_return_list[1..6], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ev_for_the_return_list,
                        @evo_return_list[8..10], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :ev_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }
            .row
                .col-sm-7
                .col-sm-5
                    .option-item-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :ev_for_the_return_list,
                        { id: 'option-item-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :ev_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field' }

        .row
            .col-sm-12
                hr

        / Статус операции
        .row
            .col-sm-7
                = @status_title
    		.col-sm-5
                = f.select :evo, [ ["Не завершена"],["Завершена"] ], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
