= form_for @resonator do |f|
    .row
        .col-sm-2
            = f.text_field :number, class: 'form-control'
    .row
        .col-sm-1
        .col-sm-1
            = f.submit "Внести",
            { class: 'btn btn-default',
                style: 'width: 100%' }
