.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_ht_title[1]
		.col-sm-5
			= @resonator.ht_date

	/ Контроль оптического контакта
	.row
		.col-sm-7
			= @resonator_ht_title[3]
		.col-sm-5
			= @resonator.ht_optical_contact_monitoring

	/ Изменение давления аргона в резонаторе, %
	.row
		.col-sm-7
			= @resonator_ht_title[9]
		.col-sm-5
			= @resonator.ht_the_change_in_the_argon_pressure_in_the_resonator

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.ht_result

	- if @resonator.ht_reason_for_return? and @heat_treatment_in_an_argon_chamber_return_list.rassoc(@resonator.ht_reason_for_return)

		/ Дата возврата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.ht_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@heat_treatment_in_an_argon_chamber_return_list.rassoc(@resonator.ht_reason_for_return).first}(#{@resonator.ht_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.ht_refund_description

