= form_for @resonator do |f|

		/ Дата проведения
        .row
			.col-sm-7
                = @resonator_ht_title[1]
			.col-sm-5
                = f.text_field :ht_date,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Контроль оптического контакта
        .row
			.col-sm-7
                = @resonator_ht_title[3]
			.col-sm-5
                = f.select :ht_optical_contact_monitoring,
                [["Да"],["Нет"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

		/ Изменение давления аргона в резонаторе, %
        .row
			.col-sm-7
                = @resonator_ht_title[9]
			.col-sm-5
                = f.number_field :ht_the_change_in_the_argon_pressure_in_the_resonator,
                { step: @step,
                class: 'form-control' }

        .row
            .col-sm-12
                hr

        / Результат
        .row
            .col-sm-7
                = @return_title[0]
            .col-sm-5
                = f.select :ht_result,
            [ ["Годен"], ["Возврат"] ], {},
            { id: 'result_field',
            class: 'select2_nosearch',
            style: 'width: 100%;' }

        .return_fields

            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :ht_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @heat_treatment_in_an_argon_chamber_return_list.values_at(0, 6)
                    = f.select :ht_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }
            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ht_for_the_return_list,
                        @heat_treatment_in_an_argon_chamber_return_list[1..5],
                        {}, { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :ht_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :ht_refund_description,
                    { id: 'return_description_field',
                    class: 'form-control' }

        .row
            .col-sm-12
                hr

        .row
            .col-sm-7
                = @status_title
			.col-sm-5
                = f.select :heat_treatment_in_an_argon_chamber,
                [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
