. align="left" = will_paginate @resonators, previous_label: "<", next_label: ">"

table.table-condensed
	  tr
	  - if @resonators
			- @resonators.each do |resonator|

				tr
					/ Номер
					td = link_to "#{resonator.number}", resonator

					/ 1. Юстировка
					td
						- if resonator.al_result == 'Возврат'
							= link_to "#{@resonator_al_title[0]}",
							show_alignment_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- elsif resonator.alignment == 'Завершена'
							= link_to "#{@resonator_al_title[0]}",
							show_alignment_resonators_path(id: resonator.id),
							{ class: 'btn btn-info' }
						- else
							= link_to "#{@resonator_al_title[0]}",
							show_alignment_resonators_path(id: resonator.id),
							{ class: 'btn btn-default' }

					/ 2. ЭВО
					td
						- if resonator.ev_result == 'Возврат'
							= link_to "#{@resonator_ev_title[0]}",
							show_evo_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- elsif resonator.evo == 'Завершена'
							= link_to "#{@resonator_ev_title[0]}",
							show_evo_resonators_path(id: resonator.id),
							{ class: 'btn btn-info' }
						- else
							= link_to "#{@resonator_ev_title[0]}",
							show_evo_resonators_path(id: resonator.id),
							{ class: 'btn btn-default' }

					/ 3. Проверочная
					td
						- if resonator.t3_result == 'Возврат' or resonator.t3_im_fit == 'Нет'
							= link_to "#{@resonator_t3[0]}",
							show_test3_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- else
							- if (resonator.t3_nitrogen_level.to_i * 10 ** resonator.t3_nitrogen_level_rate.to_i).to_f > 0.000005
								= link_to "#{@resonator_t3[0]}",
								show_test3_resonators_path(id: resonator.id),
								{ class: 'btn btn-warning' }
							- elsif resonator.test_3 == 'Завершена'
								= link_to "#{@resonator_t3[0]}",
								show_test3_resonators_path(id: resonator.id),
								{ class: 'btn btn-info' }
							- else
								= link_to "#{@resonator_t3[0]}",
								show_test3_resonators_path(id: resonator.id),
								{ class: 'btn btn-default' }

					/ 4. Стабилизация
					td
						- if resonator.ts_result == 'Возврат'
							= link_to "#{@resonator_ts_title[0]}",
							show_thermostabilization_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- elsif resonator.thermostabilization == 'Завершена'
							= link_to "#{@resonator_ts_title[0]}",
							show_thermostabilization_resonators_path(id: resonator.id),
							{ class: 'btn btn-info' }
						- else
							= link_to "#{@resonator_ts_title[0]}",
							show_thermostabilization_resonators_path(id: resonator.id),
							{ class: 'btn btn-default' }

					/ 5. Испытания климатические
					td
						- if resonator.cr_result == 'Возврат' || resonator.cr_im_fit == 'Нет'
							= link_to "#{@resonator_cr_title[0]}",
							show_cold_resistance_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- else
							- if resonator.cr_nitrogen_level.to_f * 10 ** resonator.cr_nitrogen_level_rate.to_f > 0.00005
								= link_to "#{@resonator_cr_title[0]}",
								show_cold_resistance_resonators_path(id: resonator.id),
								{ class: 'btn btn-warning' }
							- elsif resonator.cold_resistance == "Завершена"
								= link_to "#{@resonator_cr_title[0]}",
								show_cold_resistance_resonators_path(id: resonator.id),
								{ class: 'btn btn-info' }
							- else
								= link_to "#{@resonator_cr_title[0]}",
								show_cold_resistance_resonators_path(id: resonator.id),
								{ class: 'btn btn-default' }

					/ 6. Приработка
					td
						- if resonator.ri_result == 'Возврат'
							= link_to "#{@resonator_ri_title[0]}",
							show_running_in_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- elsif resonator.running_in == 'Завершена'
							= link_to "#{@resonator_ri_title[0]}",
							show_running_in_resonators_path(id: resonator.id),
							{ class: 'btn btn-info' }
						- else
							= link_to "#{@resonator_ri_title[0]}",
							show_running_in_resonators_path(id: resonator.id),
							{ class: 'btn btn-default' }

					/ 7. Вибрация
					td
						- if resonator.se_result == 'Возврат' or resonator.se_im_fit == 'Нет'
							= link_to "#{@resonator_se_title[0]}",
							show_sealing_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- elsif resonator.sealing == "Завершена"
							= link_to "#{@resonator_se_title[0]}",
							show_sealing_resonators_path(id: resonator.id),
							{ class: 'btn btn-info' }
						- else
							= link_to "#{@resonator_se_title[0]}",
							show_sealing_resonators_path(id: resonator.id),
							{ class: 'btn btn-default' }

					/ 8. Термоциклическая обработка
					td
						- if resonator.ht_result == 'Возврат'
							= link_to "#{@resonator_ht_title[0]}",
							show_heat_treatment_in_an_argon_chamber_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- else
							- if resonator.ht_the_change_in_the_argon_pressure_in_the_resonator.to_f > 30
								= link_to "#{@resonator_ht_title[0]}",
								show_heat_treatment_in_an_argon_chamber_resonators_path(id: resonator.id),
								{ class: 'btn btn-warning' }
							- elsif resonator.heat_treatment_in_an_argon_chamber == 'Завершена'
								= link_to "#{@resonator_ht_title[0]}",
								show_heat_treatment_in_an_argon_chamber_resonators_path(id: resonator.id),
								{ class: 'btn btn-info' }
							- else
								= link_to "#{@resonator_ht_title[0]}", show_heat_treatment_in_an_argon_chamber_resonators_path(id: resonator.id), class: 'btn btn-default', title: @ht_title

					/ 9. Проверочная
					td
						- if resonator.t9_im_fit == 'Нет'
							= link_to "#{@resonator_t9[0]}",
							show_test9_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- else
							- if (resonator.t9_nitrogen_level.to_i * 10 ** resonator.t9_nitrogen_level_rate.to_i).to_f > 0.000005
								= link_to "#{@resonator_t9[0]}",
								show_test9_resonators_path(id: resonator.id),
								{ class: 'btn btn-warning' }
							- elsif resonator.test_9 == 'Завершена'
								= link_to "#{@resonator_t9[0]}",
								show_test9_resonators_path(id: resonator.id),
								{ class: 'btn btn-info' }
							- else
								= link_to "#{@resonator_t9[0]}",
								show_test9_resonators_path(id: resonator.id),
								{ class: 'btn btn-default' }

					/ 10. Контрольная
					td
						- if resonator.cn_result == 'Возврат'
							= link_to "#{@resonator_control[0]}",
							show_control_resonators_path(id: resonator.id),
							{ class: 'btn btn-danger' }
						- else
							- if resonator.control == "Завершена"
								= link_to "#{@resonator_control[0]}",
								show_control_resonators_path(id: resonator.id),
								{ class: 'btn btn-info' }
							- else
								= link_to "#{@resonator_control[0]}",
								show_control_resonators_path(id: resonator.id),
								{ class: 'btn btn-default' }

					/ Удалить
					td
						  -if $rv_type
								-if user_signed_in?
									  -if current_user.has_role? :admin or current_user.has_role? :moderator
											= link_to content_tag('span', '', class: 'fa fa-trash'),
											resonator,
											data:{ confirm: "Удалить резонатор #{resonator.number}" },
											method: :delete,
											title: 'Удалить запись'

					/ Возврат из удаленных
					td
						  -if !$rv_type
								-if user_signed_in?
									-if current_user.has_role? :admin
										= link_to content_tag('span', '', class: 'fa fa-eject'),
										roll_back_bad_resonators_path(id: resonator.id),
										{ title: 'Вернуть в список годных' }
