= form_for @resonator do |f|

        / Дата проведения
		.row
			.col-sm-7
                = @resonator_ri_title[1]
			.col-sm-5
                = f.text_field :ri_date,
                { include_blank: true,
                class: 'form-control datepicker' }

        / Проверочая операция после приработки
        .row
			.col-sm-7
                = @resonator_ri_title[2]
			.col-sm-5
                = f.text_field :ri_verification_operation_after_ts,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Контроль оптического контакта
        .row
			.col-sm-7
                = @resonator_ri_title[3]
			.col-sm-5
                = f.select :ri_optical_contact_monitoring,
                [["Да"],["Нет"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        / Описание оптического контакта (посадки)
        .row
			.col-sm-7
                = @resonator_ri_title[4]
			.col-sm-5
                = f.number_field :ri_description_of_optical_contact,
                { step: @step, class: 'form-control' }

        / Порговый ток после ХУ Iпор , мА
        .row
			.col-sm-7
                = @resonator_ri_title[5]
			.col-sm-5
                = f.number_field :ri_threshold_current_after_XY,
                { step: @step, class: 'form-control' }

        / Частоты выходного сигнала на моде 1, КГц
        .row
			.col-sm-7
                = @resonator_ri_title[6]
			.col-sm-5
                = f.number_field :ri_output_frequency_in_mode_1,
                { step: @step, class: 'form-control' }

        / Захват на моде 1, Гц
        .row
			.col-sm-7
                = @resonator_ri_title[7]
			.col-sm-5
                = f.number_field :ri_capture_in_fashion_1,
                { step: @step, class: 'form-control' }

        / Частоты выходного сигнала на моде 2, КГц
		.row
			.col-sm-7
                = @resonator_ri_title[8]
			.col-sm-5
                = f.number_field :ri_output_frequency_in_mode_2,
                { step: @step, class: 'form-control' }

        / Захват на моде 2, Гц
		.row
			.col-sm-7
                = @resonator_ri_title[9]
			.col-sm-5
                = f.number_field :ri_capture_on_fashion_2,
                { step: @step, class: 'form-control' }

		/ Частоты выходного сигнала на моде 3, КГц
        .row
			.col-sm-7
                = @resonator_ri_title[10]
			.col-sm-5
                = f.number_field :ri_output_frequency_in_mode_3,
                { step: @step, class: 'form-control' }

        / Захват на моде 3, Гц
        .row
			.col-sm-7
                = @resonator_ri_title[11]
			.col-sm-5
                = f.number_field :ri_capture_in_fashion_3,
                { step: @step, class: 'form-control' }

        / Частоты выходного сигнала на моде 4, КГц
        .row
			.col-sm-7
                = @resonator_ri_title[12]
			.col-sm-5
                = f.number_field :ri_output_frequency_in_mode_4,
                { step: @step, class: 'form-control' }

        / Захват на моде 4, Гц
        .row
			.col-sm-7
                = @resonator_ri_title[13]
			.col-sm-5
                = f.number_field :ri_capture_on_fashion_4,
                { step: @step, class: 'form-control' }

        .row
            .col-sm-12
                hr

		/ Внешний вид
        .row
            .col-sm-7
                = @resonator_ri_title[18]
			.col-sm-5
                = f.text_field :ri_appearance,
                { class: 'form-control' }

		/ Напряжение горения через 2 сек, U(2)гор, В
        .row
            .col-sm-7
                = @resonator_ri_title[19]
			.col-sm-5
                = f.number_field :ri_combustion_voltage_2s,
                { step: @step, class: 'form-control' }

        / Напряжение горения через 35сек, U(35)гор, В
        .row
            .col-sm-7
                = @resonator_ri_title[20]
			.col-sm-5
                = f.number_field :ri_combustion_voltage_35s,
                { step: @step, class: 'form-control' }

		/ Напряжение горения через 10 мин, U(10)гор, В
        .row
            .col-sm-7
                = @resonator_ri_title[21]
			.col-sm-5
                = f.number_field :ri_combustion_voltage_10m,
                { step: @step, class: 'form-control' }

        .row
            .col-sm-12
                hr

		/ Результат
		.row
            .col-sm-7
                = @return_title[0]
			.col-sm-5
				= f.select :ri_result,
				[ ["Годен"], ["Возврат"] ], {},
            	{ id: 'result_field',
            	class: 'select2_nosearch',
                style: 'width: 100%;' }

        .return_fields

        	/ Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :ri_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @running_in_return_list.values_at(0, 5, 9)
                    = f.select :ri_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ri_for_the_return_list,
                        @running_in_return_list[1..4], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ri_for_the_return_list,
                        @running_in_return_list[6..8], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }


                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :ri_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;'}

            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :ri_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field',
                    style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

		/ Статус операции
		.row
			.col-sm-7
                = @status_title
			.col-sm-5
                = f.select :running_in,
                [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
