.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_ri_title[1]
		.col-sm-5
			= @resonator.ri_date

	/ Проверочая операция после приработки
	.row
		.col-sm-7
			= @resonator_ri_title[2]
		.col-sm-5
			= @resonator.ri_verification_operation_after_ts

	/ Контроль оптического контакта
	.row
		.col-sm-7
			= @resonator_ri_title[3]
		.col-sm-5
			= @resonator.ri_optical_contact_monitoring

	/ Описание оптического контакта (посадки)
	.row
		.col-sm-7
			= @resonator_ri_title[4]
		.col-sm-5
			= @resonator.ri_description_of_optical_contact

	/ Порговый ток после ХУ Iпор , мА
	.row
		.col-sm-7
			= @resonator_ri_title[5]
		.col-sm-5
			= @resonator.ri_threshold_current_after_XY

	/ Частоты выходного сигнала на моде 1, КГц
	.row
		.col-sm-7
			= @resonator_ri_title[6]
		.col-sm-5
			= @resonator.ri_output_frequency_in_mode_1

	/ Захват на моде 1, Гц
	.row
		.col-sm-7
			= @resonator_ri_title[7]
		.col-sm-5
			= @resonator.ri_capture_in_fashion_1

	/ Частоты выходного сигнала на моде 2, КГц
	.row
		.col-sm-7
			= @resonator_ri_title[8]
		.col-sm-5
			= @resonator.ri_output_frequency_in_mode_2

	/ Захват на моде 2, Гц
	.row
		.col-sm-7
			= @resonator_ri_title[9]
		.col-sm-5
			= @resonator.ri_capture_on_fashion_2

	/ Частоты выходного сигнала на моде 3, КГц
	.row
		.col-sm-7
			= @resonator_ri_title[10]
		.col-sm-5
			= @resonator.ri_output_frequency_in_mode_3

	/ Захват на моде 3, Гц
	.row
		.col-sm-7
			= @resonator_ri_title[11]
		.col-sm-5
			= @resonator.ri_capture_in_fashion_3

	/ Частоты выходного сигнала на моде 4, КГц
	.row
		.col-sm-7
			= @resonator_ri_title[12]
		.col-sm-5
			= @resonator.ri_output_frequency_in_mode_4

	/ Захват на моде 4, Гц
	.row
		.col-sm-7
			= @resonator_ri_title[13]
		.col-sm-5
			= @resonator.ri_capture_on_fashion_4

	/ Среднее по модам захвата, Σ(захват на моде N)/4
	.row
		.col-sm-7
			= @resonator_ri_title[22]
		.col-sm-5
			= @resonator.ri_capture_in_fashion_delta

	/ Средняя частота выходного сигнала на модах
	.row
		.col-sm-7
			= @resonator_ri_title[23]
		.col-sm-5
			= @resonator.ri_output_frequency_delta

    .row
        .col-sm-12
            hr

	/ Внешний вид
	.row
		.col-sm-7
			= @resonator_ri_title[18]
		.col-sm-5
			= @resonator.ri_appearance

	/ Напряжение горения через 2 сек, U(2)гор, В
	.row
		.col-sm-7
			= @resonator_ri_title[19]
		.col-sm-5
			= @resonator.ri_combustion_voltage_2s

	/ Напряжение горения через 35сек, U(35)гор, В
	.row
		.col-sm-7
			= @resonator_ri_title[20]
		.col-sm-5
			= @resonator.ri_combustion_voltage_35s

	/ Напряжение горения через 10 мин, U(10)гор, В
	.row
		.col-sm-7
			= @resonator_ri_title[21]
		.col-sm-5
			= @resonator.ri_combustion_voltage_10m

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @resonator_ri_title[14]
		.col-sm-5
			= @resonator.ri_result

	- if @resonator.ri_reason_for_return? and @cold_resistance_return_list.rassoc(@resonator.ri_reason_for_return)
		/ Дата возврата
		.row
			.col-sm-7
				= @resonator_ri_title[15]
			.col-sm-5
				= @resonator.ri_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @resonator_ri_title[16]
			.col-sm-5
				= "#{@cold_resistance_return_list.rassoc(@resonator.ri_reason_for_return).first}(#{@resonator.ri_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @resonator_ri_title[17]
			.col-sm-5
				= @resonator.ri_refund_description
