= form_for @resonator do |f|
	table.table-condensed

		/ Дата герметизации (Герм)
		.row
			.col-sm-7
                = @resonator_se_title[1]
			.col-sm-5
                = f.text_field :se_date,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Проверочная операция после герметизации
		.row
			.col-sm-7
                = @resonator_se_title[2]
			.col-sm-5
                = f.text_field :se_verification_operation_after_ts,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Пороговое напряжение пробоя 1ГРП, кВ
		.row
			.col-sm-7
                = @resonator_se_title[15]
			.col-sm-5
                = f.number_field :se_threshold_voltage_1GRP,
                { step: @step, class: 'form-control' }

		/ Пороговое напряжение пробоя 2ГРП, кВ
		.row
			.col-sm-7
                = @resonator_se_title[16]
			.col-sm-5
                = f.number_field :se_threshold_voltage_2GRP,
                { step: @step, class: 'form-control' }

        .row
            .col-sm-12
                hr

		/ Внешний вид
		.row
			.col-sm-7
                = @resonator_se_title[10]
			.col-sm-5
                = f.text_area :se_appearance,
                { class: 'form-control' }

        .row
            .col-sm-12
                hr

		/ Герметичность Shamrock
		.row
			.col-sm-12
                b = @resonator_se_title[12]
                br
                br

		/ Дата
        .row
			.col-sm-7
                = @resonator_se_title[13]
			.col-sm-5
                = f.text_field :se_im_date,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Годен
        .row
			.col-sm-7
                = @resonator_se_title[14]
			.col-sm-5
                = f.select :se_im_fit,
                [ [""], ["Да"], ["Нет"] ], {},
                { class: 'select2_empty form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Результат
        .row
            .col-sm-7
                = @return_title[0]
            .col-sm-5
                = f.select :se_result,
                [ ["Годен"], ["Возврат"] ], {},
                { id: 'result_field',
                class: 'select2_nosearch',
                style: 'width: 100%;' }

        .return_fields

            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :se_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @sealing_return_list.values_at(0, 4, 6, 11)
                    = f.select :se_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :se_for_the_return_list,
                        @sealing_return_list[1..3], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :se_for_the_return_list,
                        @sealing_return_list[5], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-2 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :se_for_the_return_list,
                        @sealing_return_list[7..10], {},
                        { id: 'option-group-2-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :se_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :al_refund_description,
                    { id: 'return_description_field',
                    class: 'form-control' }

        .row
            .col-sm-12
                hr

		/ Статус операции
        .row
            .col-sm-7
                = @status_title
			.col-sm-5
                = f.select :sealing,
                [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
