.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_se_title[1]
		.col-sm-5
			= @resonator.se_date

	/ Проверочная операция после герметизации
	.row
		.col-sm-7
			= @resonator_se_title[2]
		.col-sm-5
			= @resonator.se_verification_operation_after_ts

	/ Пороговое напряжение пробоя 1ГРП, кВ
	.row
		.col-sm-7
			= @resonator_se_title[15]
		.col-sm-5
			= @resonator.se_threshold_voltage_1GRP

	/ Пороговое напряжение пробоя 2ГРП, кВ
	.row
		.col-sm-7
			= @resonator_se_title[16]
		.col-sm-5
			= @resonator.se_threshold_voltage_2GRP

    .row
        .col-sm-12
            hr

	/ Внешний вид
	.row
		.col-sm-7
			= @resonator_se_title[10]
		.col-sm-5
			= @resonator.se_appearance

	.row
        .col-sm-12
            hr

	/ Герметичность Shamrock
	.row
		.col-sm-12
			b = @resonator_se_title[12]
			br
			br

	.row
		.col-sm-7
			= @resonator_se_title[13]
		.col-sm-5
			= @resonator.se_im_date

	.row
		.col-sm-7
			= @resonator_se_title[14]
		.col-sm-5
			= @resonator.se_im_fit

	.row
        .col-sm-12
            hr

	.row
		.col-sm-7
			= @resonator_se_title[6]
		.col-sm-5
			= @resonator.se_result

	- if @resonator.se_reason_for_return? and @sealing_return_list.rassoc(@resonator.se_reason_for_return)
		.row
			.col-sm-7
				= @resonator_se_title[7]
			.col-sm-5
				= @resonator.se_return_date

		.row
			.col-sm-7
				= @resonator_se_title[8]
			.col-sm-5
				= "#{@sealing_return_list.rassoc(@resonator.se_reason_for_return).first}(#{@resonator.se_for_the_return_list})"
		.row
			.col-sm-7
				= @resonator_se_title[9]
			.col-sm-5
				= @resonator.se_refund_description
