/h1 =@resonator.end_count
.row
	.col-sm-6
		/ 1.Юстировка
		.alignment_container.panel {
		data-return = @resonator.al_result
		data-status = @resonator.alignment }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_al_title[0]}",
						"#alignment_show",
						{ id: 'alignment',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'alignment_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_alignment_resonators_path(id: @resonator.id)
			#alignment_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/alignment_show'

		/ 2.ЭВО
		.evo_container.panel {
		data-return = @resonator.ev_result
		data-status = @resonator.evo }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_ev_title[0]}",
						"#evo_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'evo_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :evo
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать' ),
								set_evo_resonators_path(id: @resonator.id)
			#evo_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/evo_show'

		/ 3.Проверочная
		.test_3_container.panel {
		data-nos = @resonator.t3_nitrogen_level
		data-nos-rate = @resonator.t3_nitrogen_level_rate
		data-shamrock = @resonator.t3_im_fit
		data-return = @resonator.t3_result
		data-status = @resonator.test_3 }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_t3[0]}, #{@t3_title}",
						"#test3_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'test3_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_test3_resonators_path(id: @resonator.id)
			#test3_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/test3_show'

		/ 4.Стабилизация
		.thermostabilization_container.panel {
		data-return = @resonator.ts_result
		data-status = @resonator.thermostabilization }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_ts_title[0]}, #{@ts_title}",
						"#thermostabilization_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'thermostabilization_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_thermostabilization_resonators_path(id: @resonator.id)
			#thermostabilization_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/thermostabilization_show'

		/ 5.Испытания_климатические
		.cold_resistance_container.panel {
		data-nos = @resonator.cr_nitrogen_level
		data-nos-rate = @resonator.cr_nitrogen_level_rate
		data-shamrock = @resonator.cr_im_fit
		data-return = @resonator.cr_result
		data-status = @resonator.cold_resistance }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_cr_title[0]}, #{@cr_title}",
						"#cold_resistance_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'cold_resistance_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_cold_resistance_resonators_path(id: @resonator.id)
			#cold_resistance_show.panel-body.collapse
				.row
					.col-sm-12
						= render 'resonators/cold_resistance_show'

		/ 6.Приработка
		.running_in_container.panel {
		data-return = @resonator.ri_result
		data-status = @resonator.running_in }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_ri_title[0]}, #{@ri_title}",
						"#running_in_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'running_in_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_running_in_resonators_path(id: @resonator.id)
			#running_in_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/running_in_show'

		/ 7.Вибрация
		.sealing_container.panel {
		data-return = @resonator.se_result
		data-shamrock = @resonator.se_im_fit
		data-status = @resonator.sealing }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_se_title[0]}, #{@se_title}",
						"#sealing_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'sealing_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_sealing_resonators_path(id: @resonator.id)
			#sealing_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/sealing_show'

		/ 8.Термоциклическая_обработка
		.heat_treatment_in_an_argon_chamber_container.panel {
		data-return = @resonator.ht_result
		data-status = @resonator.heat_treatment_in_an_argon_chamber }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_ht_title[0]}, #{@ht_title}",
						"#heat_treatment_in_an_argon_chamber_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'heat_treatment_in_an_argon_chamber_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_heat_treatment_in_an_argon_chamber_resonators_path(id: @resonator.id)
			#heat_treatment_in_an_argon_chamber_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/heat_treatment_in_an_argon_chamber_show'

		/ 9.Проверочная
		.test_9_container.panel {
		data-nos = @resonator.t9_nitrogen_level
		data-nos-rate = @resonator.t9_nitrogen_level_rate
		data-shamrock = @resonator.t9_im_fit
		data-return = @resonator.t9_result
		data-status = @resonator.test_9 }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_t9[0]}, #{@t9_title}",
						"#test9_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'test9_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_test9_resonators_path(id: @resonator.id)
			#test9_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/test9_show'

		/ 10.Контрольная
		.control_container.panel {
		data-return = @resonator.cn_result
		data-status = @resonator.control }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_control[0]}",
						"#control_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'control_show' } }
					.col-sm-1
						-if user_signed_in?
							-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_control_resonators_path(id: @resonator.id)
			#control_show.panel-body.collapse
				.row
					.col-sm-12 = render 'resonators/control_show'


.row
	.col-sm-12
		hr

.row
	.col-sm-6
		.panel.panel-default
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@resonator_title[2]}", "#remark_show", { class: 'collapsed', data: { toggle: 'collapse' }, aria: { expanded: true, controls: 'remark_show' } }
					.col-sm-1
						-if user_signed_in?
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), edit_resonator_path


			#remark_show.panel-body.collapse style="height: 283px; overflow-y: auto; overflow-x: hidden;"
				.row
					.col-sm-12
						= @resonator.remark




		.panel.panel-default
			.panel-heading
				span = link_to "#{@resonator_title[1]}", "#history_show", { class: 'collapsed', data: { toggle: 'collapse' }, aria: { expanded: true, controls: 'history_show' } }
			#history_show.panel-body.collapse style="height: 220px; overflow-y: auto; overflow-x: hidden;"
				.row
					.col-sm-12
						- @histories.each do |history|
							.text-title = "#{history.created_at.strftime("%d.%m.%Y в %H:%M:%S ")}"
							|
							.text-title
								b = "#{history.operation}"
							hr
