= form_for @resonator do |f|

		/ Селективность
		.row
			.col-sm-7
                = @resonator_t3[4]
			.col-sm-5
				= f.number_field :t3_selectivity,
				{ class: 'form-control', step: @step }

		/ Потери
		.row
            .col-sm-7
                = @resonator_t3[5]
			.col-sm-5
                = f.number_field :t3_losses,
				{ class: 'form-control', step: @step }

		/ Давление азота
        .row
            .col-sm-7
                = @resonator_t3[9]
			.col-sm-3 style = 'padding-right: 3px;'
				span { style = "position: absolute;
				margin-left: 8em; margin-top: .5em; font-size: 14px;" } x10
				= f.number_field :t3_nitrogen_level,
				{ class: 'form-control', step: @step,
                style: 'width: 100%;' }
			.col-sm-2 style = 'padding-left: 3px;'
				= f.select :t3_nitrogen_level_rate,
				[ [],[-1],[-2],[-3],[-4],[-5],[-6],[-7],[-8] ], {},
				{ class: 'select2_empty_rate form-control',
				style: 'width: 100%;'}

        .row
            .col-sm-12
                hr

		/ Герметичность Shamrock
        .row
            .col-sm-12
				b = @resonator_t3[6]
				br
				br

        / Дата
        .row
            .col-sm-7
                = @resonator_t3[7]
			.col-sm-5
                = f.text_field :t3_im_date,
                { include_blank: true,
                class: 'form-control datepicker' }

        / Годен
        .row
            .col-sm-7
                = @resonator_t3[8]
			.col-sm-5
                = f.select :t3_im_fit, [[""],["Да"],["Нет"]], {},
                { class: 'select2_empty form-control',
                style: 'width: 100%;' }

		.row
            .col-sm-12
                hr

		/ Результат
		.row
            .col-sm-7
                = @return_title[0]
			.col-sm-5
				= f.select :t3_result,
				[ ["Годен"], ["Возврат"] ], {},
            	{ id: 'result_field',
            	class: 'select2_nosearch',
            	style: 'width: 100%;' }

    	.return_fields

            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :t3_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @test_3_return_list.values_at(0, 4, 11, 14)
                    = f.select :t3_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t3_for_the_return_list,
                        @test_3_return_list[1..3], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t3_for_the_return_list,
                        @test_3_return_list[5..10], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-2 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t3_for_the_return_list,
                        @test_3_return_list[12..13], {},
                        { id: 'option-group-2-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :t3_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-item-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :t3_for_the_return_list,
                        { id: 'option-item-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }


            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :t3_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field',
                    style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

		/ Статус операции
        .row
            .col-sm-7
                = @status_title
			.col-sm-5
                = f.select :test_3, [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

		.row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }

