.
	/ Селективность ς
	.row
		.col-sm-7
			= @resonator_t3[4]
		.col-sm-5
			= @resonator.t3_selectivity

	/ Потери σ
	.row
		.col-sm-7
			= @resonator_t3[5]
		.col-sm-5
			= @resonator.t3_losses

	/ Давление азота
	.row
		.col-sm-7
			= @resonator_t3[9]
		.col-sm-5
			-if @resonator.t3_nitrogen_level?
				span = "#{@resonator.t3_nitrogen_level} x 10 "
			|
			-if @resonator.t3_nitrogen_level_rate?
				sup = @resonator.t3_nitrogen_level_rate

    .row
        .col-sm-12
            hr

	/ Герметичность Shamrock
	.row
		.col-sm-7
			b = @resonator_t3[6]
			br
			br

	/ Дата
	.row
		.col-sm-7
			= @resonator_t3[7]
		.col-sm-5
			= @resonator.t3_im_date

	/ Годен
	.row
		.col-sm-7
			= @resonator_t3[8]
		.col-sm-5
			= @resonator.t3_im_fit

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.t3_result

	- if @resonator.t3_reason_for_return?

		/ Дата возврата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.t3_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@test_3_return_list.rassoc(@resonator.t3_reason_for_return).first}(#{@resonator.t3_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.t3_refund_description

