.
	/ Внешний вид
	.row
		.col-sm-7
			= @resonator_t9[2]
		.col-sm-5
			= @resonator.t9_appearance

	/ Оптический контакт
	.row
		.col-sm-7
			= @resonator_t9[3]
		.col-sm-5
			= @resonator.t9_optical_contact

	/ Давление азота
	.row
		.col-sm-7
			= @resonator_t9[13]
		.col-sm-5
			-if @resonator.t9_nitrogen_level?
				span = "#{@resonator.t9_nitrogen_level} x 10 "
			|
			-if @resonator.t9_nitrogen_level_rate?
				sup = @resonator.t9_nitrogen_level_rate

    .row
        .col-sm-12
            hr

    / Герметичность Shamrock
    .row
        .col-sm-12
        	b = @resonator_t9[4]
        	br
        	br

	/ Дата
	.row
		.col-sm-7
			= @resonator_t9[5]
		.col-sm-5
			= @resonator.t9_im_date

	/ Годен
	.row
		.col-sm-7
			= @resonator_t9[6]
		.col-sm-5
			= @resonator.t9_im_fit

    .row
        .col-sm-12
            hr

	/ Напряжение горения через 2 сек, Uгор 2 сек, В
	.row
		.col-sm-7
			= @resonator_t9[7]
		.col-sm-5
			= @resonator.t9_combustion_voltage_2s

	/ Напряжение горения через 35 сек, Uгор 35 с, В
	.row
		.col-sm-7
			= @resonator_t9[8]
		.col-sm-5
			= @resonator.t9_combustion_voltage_35s

	/ Напряжение горения через 10 мин, Uгор 10 м, В
	.row
		.col-sm-7
			= @resonator_t9[9]
		.col-sm-5
			= @resonator.t9_combustion_voltage_10m

	/ ΔU гор
	.row
		.col-sm-7
			= @resonator_t9[10]
		.col-sm-5
			= @resonator.t9_combustion_voltage_delta

	/ Порговый ток, I пор, мА
	.row
		.col-sm-7
			= @resonator_t9[11]
		.col-sm-5
			= @resonator.t9_threshold_current

	/ Ω (стат. захват)
	.row
		.col-sm-7
			= @resonator_t9[12]
		.col-sm-5
			= @resonator.t9_omega

    .row
        .col-sm-12
            hr

    / Потери на моде ТЕМ00
    .row
        .col-sm-7
            = @resonator_t9[14]
        .col-sm-5
            = @resonator.t9_losses


    / Селективность
    .row
        .col-sm-7
            = @resonator_t9[15]
        .col-sm-5
            = @resonator.t9_selectivity

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.t9_result

	- if @resonator.t9_reason_for_return?

		/ Дата возврата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.t9_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@test_9_return_list.rassoc(@resonator.t9_reason_for_return).first}(#{@resonator.t9_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.t9_refund_description
