= form_for @resonator do |f|

		/ Внешний вид
		.row
			.col-sm-7
                = @resonator_t9[2]
			.col-sm-5
                = f.text_area :t9_appearance,
                { class: 'form-control' }

		/ Оптический контакт
		.row
			.col-sm-7
                = @resonator_t9[3]
			.col-sm-5
                = f.text_field :t9_optical_contact,
                { class: 'form-control' }

		/ Давление азота
        .row
            .col-sm-7
                = @resonator_t9[13]
            .col-sm-3 style = 'padding-right: 3px;'
                span { style = "position: absolute;
                margin-left: 8em; margin-top: .5em; font-size: 14px;" } x10
                = f.number_field :t9_nitrogen_level,
                { class: 'form-control', step: @step,
                style: 'width: 100%;' }
            .col-sm-2 style = 'padding-left: 3px;'
                = f.select :t9_nitrogen_level_rate,
                [ [],[-1],[-2],[-3],[-4],[-5],[-6],[-7],[-8] ], {},
                { class: 'select2_empty_rate form-control',
                style: 'width: 100%;'}

        .row
            .col-sm-12
                hr

		/ Герметичность Shamrock
		.row
			.col-sm-7
				b = @resonator_t9[4]
                br
                br

		/ Дата
        .row
			.col-sm-7
                = @resonator_t9[5]
			.col-sm-5
				= f.text_field :t9_im_date,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Годен
        .row
            .col-sm-7
                = @resonator_t9[6]
			.col-sm-5
                = f.select :t9_im_fit,
                [ [""],["Да"],["Нет"] ], {},
                { class: 'select2_empty form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

		/ Напряжение горения через 2 сек, Uгор 2 сек, В
        .row
			.col-sm-7
                = @resonator_t9[7]
			.col-sm-5
                = f.number_field :t9_combustion_voltage_2s,
                { class: 'form-control', step: @step }

		/ Напряжение горения через 35 сек, Uгор 35 с, В
        .row
			.col-sm-7
                = @resonator_t9[8]
			.col-sm-5
                = f.number_field :t9_combustion_voltage_35s,
                { class: 'form-control', step: @step }

		/ Напряжение горения через 10 мин, Uгор 10 м, В
        .row
			.col-sm-7
                = @resonator_t9[9]
			.col-sm-5
                = f.number_field :t9_combustion_voltage_10m,
                { class: 'form-control', step: @step }

		/ ΔU гор
        .row
			.col-sm-7
                = @resonator_t9[10]
			.col-sm-5
                = f.number_field :t9_combustion_voltage_delta,
                { class: 'form-control', step: @step }

		/ Порговый ток, I пор, мА
        .row
			.col-sm-7
                = @resonator_t9[11]
			.col-sm-5
                = f.number_field :t9_threshold_current,
                { class: 'form-control', step: @step }

		/ Ω (стат. захват)
        .row
			.col-sm-7
                = @resonator_t9[12]
			.col-sm-5
                = f.number_field :t9_omega,
                { class: 'form-control', step: @step }

        .row
            .col-sm-12
                hr

        / Потери на моде ТЕМ00
        .row
            .col-sm-7
                = @resonator_t9[14]
            .col-sm-5
                = f.number_field :t9_losses,
                { class: 'form-control', step: @step }


        / Селективность
        .row
            .col-sm-7
                = @resonator_t9[15]
            .col-sm-5
                = f.number_field :t9_selectivity,
                { class: 'form-control', step: @step }

        .row
            .col-sm-12
                hr

        / Результат
        .row
            .col-sm-7
                = @return_title[0]
            .col-sm-5
                = f.select :t9_result,
                [ ["Годен"], ["Возврат"] ], {},
                { id: 'result_field',
                class: 'select2_nosearch',
                style: 'width: 100%;' }

        .return_fields

            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :t9_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    style: 'width: 100%;',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @test_9_return_list.values_at(0, 6, 10, 14)
                    = f.select :t9_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t9_for_the_return_list,
                        @test_9_return_list[1..5], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-1 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t9_for_the_return_list,
                        @test_9_return_list[7..9], {},
                        { id: 'option-group-1-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-group-2 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :t9_for_the_return_list,
                        @test_9_return_list[11..13], {},
                        { id: 'option-group-2-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :t9_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }


            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :t9_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field',
                    style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Статус операции
        .row
            .col-sm-7
                = @status_title
            .col-sm-5
                = f.select :test_9, [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }

