= form_for @resonator do |f|

		/ Дата проведения термостабилизации (ТС)
        .row
            .col-sm-7
                = @resonator_ts_title[1]
			.col-sm-5
                = f.text_field :ts_date,
                { include_blank: true,
                class: 'form-control datepicker' }

		/ Контроль оптического контакта
        .row
            .col-sm-7
                = @resonator_ts_title[3]
			.col-sm-5
                = f.select :ts_optical_contact_monitoring, ["Да","Нет"], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

		/ Дата прогрева газопоглотителя
        .row
            .col-sm-7
                = @resonator_ts_title[6]
			.col-sm-5
                = f.text_field :ts_date_of_preheating_of_getter,
                { include_blank: true,
                class: 'form-control datepicker'}

        .row
            .col-sm-12
                hr

		/ Результат
		.row
			.col-sm-7
                = @return_title[0]
			.col-sm-5
				= f.select :ts_result,
				[ ["Годен"], ["Возврат"] ], {},
            	{ id: 'result_field',
            	class: 'select2_nosearch',
            	style: 'width: 100%;' }

    	.return_fields
            / Дата возврата
            .row
                .col-sm-7
                    = @return_title[1]
                .col-sm-5
                    = f.text_field :ts_return_date,
                    { id: 'return_date_field',
                    class: 'form-control datepicker',
                    value: Date.today }

            / Причина возврата
            .row
                .col-sm-7
                    = @return_title[2]
                .col-sm-5
                    - return_list = @stabilization_return_list.values_at(0, 4)
                    = f.select :ts_reason_for_return,
                    return_list, {},
                    { id: 'reason_for_return_field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

            .row
                .col-sm-7
                .col-sm-5
                    .option-group-0 {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Выберите" }
                        = f.select :ts_for_the_return_list,
                        @stabilization_return_list[1..3], {},
                        { id: 'option-group-0-field',
                        class: 'select2_nosearch form-control',
                        style: 'width: 100%;' }

                    .option-other {
                    data-toggle = "tooltip"
                    data-placement = "right"
                    title = "Введите с клавиатуры" }
                        = f.text_field :ts_for_the_return_list,
                        { id: 'option-other-field',
                        class: 'form-control',
                        style: 'width: 100%;' }

            / Описание возврата
            .row
                .col-sm-7
                    = @return_title[3]
                .col-sm-5
                    = f.text_area :ts_refund_description,
                    { class: 'form-control',
                    id: 'return_description_field',
                    style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

		/ Статус операции
		.row
			.col-sm-7
                = @status_title
			.col-sm-5
                = f.select :thermostabilization,
                [["Не завершена"],["Завершена"]], {},
                { class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-12
                hr

        / Внести
        .row
            .col-sm-10
            .col-sm-2
                = f.submit "Внести",
                { class: 'btn btn-default form-control' }
