.
	/ Дата проведения
	.row
		.col-sm-7
			= @resonator_ts_title[1]
		.col-sm-5
			= @resonator.ts_date

    .row
        .col-sm-12
            hr

    / Контроль оптического контакта
	.row
		.col-sm-7
			= @resonator_ts_title[3]
		.col-sm-5
			= @resonator.ts_optical_contact_monitoring

	/ Дата прогрева газопоглотителя
	.row
		.col-sm-7
			= @resonator_ts_title[6]
		.col-sm-5
			= @resonator.ts_date_of_preheating_of_getter

    .row
        .col-sm-12
            hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @resonator.ts_result

	- if @resonator.ts_for_the_return_list?

		/ Дата возврата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @resonator.ts_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@stabilization_return_list.rassoc(@resonator.ts_reason_for_return).first}(#{@resonator.ts_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @resonator.ts_refund_description
