.row
	.col-sm-2
		header.text-title
			h4
				b Причины брака
			hr

			span = link_to "За последнюю неделю", bad_gist_resonators_path(period: Time.now - 1.week), {class: 'other_link'}
			br
			span = link_to "За последний месяц", bad_gist_resonators_path(period: Time.now - 1.month), {class: 'other_link'}
			br
			span = link_to "За последний квартал", bad_gist_resonators_path(period: Time.now - 3.month), {class: 'other_link'}
			br
			span = link_to "За последнее полугодие", bad_gist_resonators_path(period: Time.now - 6.month), {class: 'other_link'}
			br
			span = link_to "За последний год", bad_gist_resonators_path(period: Time.now - 1.year), {class: 'other_link'}
	.col-sm-10
		br
		br
		== render 'resonators/add/bad_gist'

		/= competitions_by_year
