<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">
	<Worksheet ss:Name="Резонаторы ЭК-104С">
		<Table>
			<Row>

			<Cell><Data ss:Type="String">Номер катода</Data></Cell>
			<Cell><Data ss:Type="String">Номер ножки</Data></Cell>
			<Cell><Data ss:Type="String">Номер плоского зеркала</Data></Cell>
			<Cell><Data ss:Type="String">Номер пьезо зеркала 1</Data></Cell>
			<Cell><Data ss:Type="String">Номер пьезо зеркала 2</Data></Cell>
			<Cell><Data ss:Type="String">Номер сферического зеркала</Data></Cell>
			<Cell><Data ss:Type="String">Датчик</Data></Cell>

			<Cell><Data ss:Type="String">Номер резонатора </Data></Cell>
			<Cell><Data ss:Type="String">Юстировка </Data></Cell>
			<Cell><Data ss:Type="String">Дата юстировки </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления катода </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления ножки </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления плоского зеркала </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления пьезо зеркала 1 </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления пьезо зеркала 2 </Data></Cell>
			<Cell><Data ss:Type="String">Дата изготовления сферического зеркала </Data></Cell>
			<Cell><Data ss:Type="String">Потери на моде TEM00 </Data></Cell>
			<Cell><Data ss:Type="String">Потери на моде TEM01 </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки) </Data></Cell>
			<Cell><Data ss:Type="String">Результат юстировки </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата (примечание) </Data></Cell>
			<Cell><Data ss:Type="String"> </Data></Cell>

			<Cell><Data ss:Type="String">ЭВО </Data></Cell>
			<Cell><Data ss:Type="String">Дата ЭВО </Data></Cell>
			<Cell><Data ss:Type="String">Номер вакуумного поста </Data></Cell>
			<Cell><Data ss:Type="String">Пороговый ток в начале тренировки Iпор мА </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения в начале тренировки Uгор т1 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 5 часов тренировки Uгор т2 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения в после перезаполнения Uгор т3 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 10 часов тренировки Uгор т4 В </Data></Cell>
			<Cell><Data ss:Type="String">Порговый ток в конце тренировки Iпор (кт) мА </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения в начале стабилизации Uгор с1 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 1 час стабилизации Uгор с2 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 2 часа стабилизации Uгор с3 В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 3 часа стабилизации Uгор с4 В </Data></Cell>
			<Cell><Data ss:Type="String">Порговый ток в конце стабилизации Iпор с мА </Data></Cell>
			<Cell><Data ss:Type="String">Контроль оптического контакта </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки) </Data></Cell>
			<Cell><Data ss:Type="String">Результат финишной ТВО </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина позврата (примечание) </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата </Data></Cell>

			<Cell><Data ss:Type="String">Термостабилизация Uгор 35s </Data></Cell>
			<Cell><Data ss:Type="String">Проверочная </Data></Cell>
			<Cell><Data ss:Type="String">Внешний вид </Data></Cell>
			<Cell><Data ss:Type="String">Оптический контакт </Data></Cell>
			<Cell><Data ss:Type="String">Селективность с </Data></Cell>
			<Cell><Data ss:Type="String">Потери </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность дата </Data></Cell>
			<Cell><Data ss:Type="String">Годен </Data></Cell>
			<Cell><Data ss:Type="String">Уровень азота </Data></Cell>
			<Cell><Data ss:Type="String">степень 10-ти для уровня азота </Data></Cell>

			<Cell><Data ss:Type="String">Термостабилизация</Data></Cell>
			<Cell><Data ss:Type="String">Дата проведения термостабилизации (ТС) </Data></Cell>
			<Cell><Data ss:Type="String">Проверочная операция после термостабилизации (ТС) </Data></Cell>
			<Cell><Data ss:Type="String">Контроль оптического контакта </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки) </Data></Cell>
			<Cell><Data ss:Type="String">Измерение напряжение горения (2с) </Data></Cell>
			<Cell><Data ss:Type="String">Дата прогрева газопоглотителя</Data></Cell>
			<Cell><Data ss:Type="String">Результат термостабилизации (ТС) </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата (примечание) </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата </Data></Cell>

			<Cell><Data ss:Type="String">Холодоустойчивость </Data></Cell>
			<Cell><Data ss:Type="String">Дата проведения холодоустойчивости (ХУ) </Data></Cell>
			<Cell><Data ss:Type="String">Проверочная операция после ХУ </Data></Cell>
			<Cell><Data ss:Type="String">Контроль оптического контакта  </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки)  </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 2сек U(2)гор В  </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 35сек U(35)гор В  </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 10 мин U(10)гор В  </Data></Cell>
			<Cell><Data ss:Type="String">Порговый ток после ХУ Iпор (ху) мА  </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 1 КГц  </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 1 Гц  </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 2 КГц  </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 2 Гц  </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 3 КГц  </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 3 Гц  </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 4 КГц  </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 4 Гц  </Data></Cell>
			<Cell><Data ss:Type="String">Результат холодоустойчивости (ХУ)  </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата(Примечание)  </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность Shamrock дата  </Data></Cell>
			<Cell><Data ss:Type="String">Годен  </Data></Cell>
			<Cell><Data ss:Type="String">Внешний вид  </Data></Cell>
			<Cell><Data ss:Type="String">Дельта Uгор  </Data></Cell>
			<Cell><Data ss:Type="String">Потери  </Data></Cell>
			<Cell><Data ss:Type="String">Селективность  </Data></Cell>

			<Cell><Data ss:Type="String">Приработка </Data></Cell>
			<Cell><Data ss:Type="String">Дата проведения приработки </Data></Cell>
			<Cell><Data ss:Type="String">Проверочая операция после приработки (Прир) </Data></Cell>
			<Cell><Data ss:Type="String">Контроль оптического контакта </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки) </Data></Cell>
			<Cell><Data ss:Type="String">Порговый ток после ХУ Iпор мА </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 1 КГц </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 1 Гц </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 2 КГц </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 2 Гц </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 3 КГц </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 3 Гц </Data></Cell>
			<Cell><Data ss:Type="String">Частоты выходного сигнала на моде 4 КГц </Data></Cell>
			<Cell><Data ss:Type="String">Захват  на моде 4 Гц </Data></Cell>
			<Cell><Data ss:Type="String">Результат  наработки (Нар) </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата(Примечание) </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата </Data></Cell>
			<Cell><Data ss:Type="String">Приработка Uгор 2s </Data></Cell>
			<Cell><Data ss:Type="String">Приработка Uгор 35s  </Data></Cell>
			<Cell><Data ss:Type="String">Приработка Uгор 10m  </Data></Cell>

			<Cell><Data ss:Type="String">Герметизация  </Data></Cell>
			<Cell><Data ss:Type="String">Дата герметизации (Герм)  </Data></Cell>
			<Cell><Data ss:Type="String">Проверочная операция после герметизации  </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 2сек U(2)гор В  </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 35сек U(35)гор В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 10мин U(10)гор В  </Data></Cell>
			<Cell><Data ss:Type="String">Результат  пережатия (пер)  </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата (примечание)  </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата  </Data></Cell>
			<Cell><Data ss:Type="String">Испытания механические внешний вид  </Data></Cell>
			<Cell><Data ss:Type="String">Оптический контакт  </Data></Cell>
			<Cell><Data ss:Type="String">Дата  </Data></Cell>
			<Cell><Data ss:Type="String">Годен  </Data></Cell>

			<Cell><Data ss:Type="String">Термотренировка в аргоновой камере </Data></Cell>
			<Cell><Data ss:Type="String">Дата проведения термотренировки в аргоновой камере </Data></Cell>
			<Cell><Data ss:Type="String">Проверочная операция после термотренировки (ТТ) </Data></Cell>
			<Cell><Data ss:Type="String">Контроль оптического контакта </Data></Cell>
			<Cell><Data ss:Type="String">Описание оптического контакта (посадки) </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 2сек U(2)гор В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 35сек U(35)гор В </Data></Cell>
			<Cell><Data ss:Type="String">Напряжение горения через 10 мин U(10)гор В </Data></Cell>
			<Cell><Data ss:Type="String">Порговый ток после ХУ Iпор (ху) мА </Data></Cell>
			<Cell><Data ss:Type="String">Изменение давления аргона в резонаторе % </Data></Cell>
			<Cell><Data ss:Type="String">Результат  термотренировки (ТТ) </Data></Cell>
			<Cell><Data ss:Type="String">Дата возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата </Data></Cell>
			<Cell><Data ss:Type="String">Причина возврата (примечание) </Data></Cell>
			<Cell><Data ss:Type="String">Описание возврата </Data></Cell>

			<Cell><Data ss:Type="String">Проверочная </Data></Cell>
			<Cell><Data ss:Type="String">Внешний вид </Data></Cell>
			<Cell><Data ss:Type="String">Оптический контакт </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность Shamrock дата  </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность Shamrock годен  </Data></Cell>

			<Cell><Data ss:Type="String">Проверочная </Data></Cell>
			<Cell><Data ss:Type="String">Внешний вид </Data></Cell>
			<Cell><Data ss:Type="String">Оптический контакт </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность Shamrock дата </Data></Cell>
			<Cell><Data ss:Type="String">Герметичность Shamrock годен </Data></Cell>
			<Cell><Data ss:Type="String">Uгор 2s </Data></Cell>
			<Cell><Data ss:Type="String">Uгор 35s </Data></Cell>
			<Cell><Data ss:Type="String">Uгор 10m  </Data></Cell>
			<Cell><Data ss:Type="String">Дельта Uгор  </Data></Cell>
			<Cell><Data ss:Type="String">Iпор </Data></Cell>
			<Cell><Data ss:Type="String">Стат захват </Data></Cell>

			<Cell><Data ss:Type="String">Контроль </Data></Cell>
			<Cell><Data ss:Type="String">Дата  </Data></Cell>
			<Cell><Data ss:Type="String">годен </Data></Cell>
		</Row>

    <% @resonators.each do |resonator| %>
		<Row>

			<% if resonator.cathode_id? %>
				<Cell><Data ss:Type="String"><%= Cathode.find(resonator.cathode_id).number %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>


			<% if resonator.leg_id? %>
				<Cell><Data ss:Type="String"><%= Leg.find(resonator.leg_id).disk_number %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<% if resonator.fmirror_id? %>
				<Cell><Data ss:Type="String"><%= Mirror.find(resonator.fmirror_id).number_of_substrate %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<% if resonator.pmirror_1_id? %>
				<Cell><Data ss:Type="String"><%= Mirror.find(resonator.pmirror_1_id).number_of_substrate %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<% if resonator.pmirror_2_id? %>
				<Cell><Data ss:Type="String"><%= Mirror.find(resonator.pmirror_2_id).number_of_substrate %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<% if resonator.smirror_id? %>
				<Cell><Data ss:Type="String"><%= Mirror.find(resonator.smirror_id).number_of_substrate %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<% if resonator.sensor_id? %>
				<Cell><Data ss:Type="String"><%= Sensor.find(resonator.sensor_id).number %></Data></Cell>
			<% else %>
				<Cell><Data ss:Type="String"> </Data></Cell>
			<% end %>

			<Cell><Data ss:Type="String"><%= resonator.number %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.alignment %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_date %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_cathode_date_of_manufacture %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_leg_date_of_manufacture %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_fmirror_date_of_manufacture %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_piezo_mirrors_1_date_of_manufacture %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_piezo_mirrors_2_date_of_manufacture %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_smirror_date_of_manufacture  %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.al_TEM00_loss %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.al_TEM01_loss  %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.al_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.al_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.al_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.al_refund_description %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.al_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.al_selectivity %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.evo %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ev_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ev_vacuum_post_number %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_threshold_current_at_the_beginning_of_the_workout %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_burning_stress_at_the_beginning_of_the_workout %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_burning_voltage_after_5_hours_of_training %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_combustion_voltage_after_refilling %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_the_burning_voltage_after_10_hours_of_training %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_threshold_current_at_the_end_of_the_workout %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_the_combustion_voltage_at_the_beginning_of_stabilization %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_the_combustion_voltage_after_1_hour_of_stabilization %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_the_combustion_voltage_after_2_hours_of_stabilization %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_the_combustion_voltage_after_3_hours_of_stabilization %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ev_threshold_current_at_the_end_of_stabilization %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ev_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ev_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ev_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ev_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ev_refund_description %></Data></Cell>

			<Cell><Data ss:Type="Number"><%= resonator.ts_measurement_of_combustion_voltage_35 %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.test_3 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t3_selectivity %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t3_losses %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.t3_im_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.t3_im_fit %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t3_nitrogen_level %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t3_nitrogen_level_rate %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.thermostabilization %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ts_date %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ts_verification_operation_after_ts %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ts_optical_contact_monitoring %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ts_measurement_of_combustion_voltage %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ts_date_of_preheating_of_getter %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ts_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ts_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ts_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ts_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ts_refund_description %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.cold_resistance %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.cr_date %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.cr_verification_operation_after_ts %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_optical_contact_monitoring %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_description_of_optical_contact %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_burning_voltage_after_2_sec %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_burning_voltage_after_35_sec %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_burning_voltage_after_10_min %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_threshold_current_after_XY %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_output_frequency_in_mode_1 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_capture_in_fashion_1 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_output_frequency_in_mode_2 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_capture_on_fashion_2 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_output_frequency_in_mode_3 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_capture_in_fashion_3 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_output_frequency_in_mode_4 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_capture_on_fashion_4 %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.cr_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_refund_description %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.cr_im_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_im_fit %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cr_appearance %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_combustion_voltage %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_losses %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.cr_selectivity %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.running_in %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ri_date %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ri_verification_operation_after_ts %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_optical_contact_monitoring %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_description_of_optical_contact %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_threshold_current_after_XY %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_output_frequency_in_mode_1 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_capture_in_fashion_1 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_output_frequency_in_mode_2 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_capture_on_fashion_2 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_output_frequency_in_mode_3 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_capture_in_fashion_3 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_output_frequency_in_mode_4 %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_capture_on_fashion_4 %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ri_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ri_refund_description %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_combustion_voltage_2s %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_combustion_voltage_35s %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ri_combustion_voltage_10m %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.sealing %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.se_date %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.se_verification_operation_after_ts %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.se_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_refund_description %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_appearance %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.se_im_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.se_im_fit %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.heat_treatment_in_an_argon_chamber %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ht_date  %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ht_verification_operation_after_ts %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ht_optical_contact_monitoring %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ht_burning_voltage_after_2_sec %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ht_burning_voltage_after_35_sec %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ht_burning_voltage_after_10_min %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ht_threshold_current_after_XY %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.ht_the_change_in_the_argon_pressure_in_the_resonator %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ht_result %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.ht_return_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ht_reason_for_return %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ht_for_the_return_list %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.ht_refund_description %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.test_9 %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.t9_appearance %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.t9_optical_contact %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.t9_im_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.t9_im_fit  %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_combustion_voltage_2s %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_combustion_voltage_35s %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_combustion_voltage_10m %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_combustion_voltage_delta %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_threshold_current %></Data></Cell>
			<Cell><Data ss:Type="Number"><%= resonator.t9_omega %></Data></Cell>

			<Cell><Data ss:Type="String"><%= resonator.control %></Data></Cell>
			<Cell><Data ss:Type="Date"><%= resonator.cn_date %></Data></Cell>
			<Cell><Data ss:Type="String"><%= resonator.cn_result  %></Data></Cell>

		</Row>
	<% end %>
    </Table>
	</Worksheet>
</Workbook>

