/ 4.Стабилизация
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.thermostabilization_container.panel {
	data-return = @resonator.ts_result
	data-status = @resonator.thermostabilization }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_ts_title[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/thermostabilization_form'
