/ 2.ЭВО
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.evo_container.panel {
	data-return = @resonator.ev_result
	data-status = @resonator.evo }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_ev_title[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/evo_form'
