/ 5.Испытания климатические
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.cold_resistance_container.panel {
	data-nos = @resonator.cr_nitrogen_level
	data-nos-rate = @resonator.cr_nitrogen_level_rate
	data-shamrock = @resonator.cr_im_fit
	data-return = @resonator.cr_result
	data-status = @resonator.cold_resistance }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_cr_title[0]}", @resonator
		.panel-body
			.row
				.col-sm-12
					= render 'resonators/cold_resistance_form'
