/ 10.Контрольная
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.control_container.panel {
	data-return = @resonator.cn_result
	data-status = @resonator.control }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_control[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/control_form'
