/ 9.Проверочная
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.test_9_container.panel {
	data-nos = @resonator.t9_nitrogen_level
	data-nos-rate = @resonator.t9_nitrogen_level_rate
	data-shamrock = @resonator.t9_im_fit
	data-return = @resonator.t9_result
	data-status = @resonator.test_9 }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_t9[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/test9_form'
