/ 7.Вибрация
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.sealing_container.panel {
	data-return = @resonator.se_result
	data-shamrock = @resonator.se_im_fit
	data-status = @resonator.sealing }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_se_title[0]}", @resonator

		.panel-body id = "sealing_show"
			.row
				.col-sm-12 = render 'resonators/sealing_form'
