/ 3.Проверочная
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.test_3_container.panel {
	data-nos = @resonator.t3_nitrogen_level
	data-nos-rate = @resonator.t3_nitrogen_level_rate
	data-shamrock = @resonator.t3_im_fit
	data-return = @resonator.t3_result
	data-status = @resonator.test_3 }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_t3[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/test3_form'
