/ 1.Юстировка
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.alignment_container.panel {
	data-nos = false
	data-return = @resonator.al_result
	data-status = @resonator.alignment }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_al_title[0]}", @resonator
		.panel-body
			.row
				.col-sm-12 = render 'resonators/alignment_form'
