/ 8.Термоциклическая обработка
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.heat_treatment_in_an_argon_chamber_container.panel {
	data-return = @resonator.ht_result
	data-status = @resonator.heat_treatment_in_an_argon_chamber }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_ht_title[0]}", @resonator

		.panel-body
			.row
				.col-sm-12
					= render 'resonators/heat_treatment_in_an_argon_chamber_form'
