/ 6.Приработка
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.running_in_container.panel {
	data-return = @resonator.ri_result
	data-status = @resonator.running_in }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@resonator_ri_title[0]}", @resonator
		.panel-body id = "running_in_show"
			.row
				.col-sm-12 = render 'resonators/running_in_form'



