/ 7.Вибрация
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.show_container.panel {
	data-return = @resonator.se_result
	data-shamrock = @resonator.se_im_fit
	data-status = @resonator.sealing }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_se_title[0]}", @resonator
				.col-sm-1
					-if user_signed_in?
						-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_sealing_resonators_path(id: @resonator.id)
		.panel-body id = "sealing_show"
			.row
				.col-sm-12 = render 'resonators/sealing_show'
