/ 2.ЭВО
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.evo_container.panel {
	data-return = @resonator.ev_result
	data-status = @resonator.evo }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_ev_title[0]}", @resonator
				.col-sm-1
					-if user_signed_in?
						-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :evo
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g'), set_evo_resonators_path(id: @resonator.id)
		.panel-body id = "evo_show"
			.row
				.col-sm-12 = render 'resonators/evo_show'

