/ 3.Проверочная
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.test_3_container.panel {
	data-nos = @resonator.t3_nitrogen_level
	data-nos-rate = @resonator.t3_nitrogen_level_rate
	data-shamrock = @resonator.t3_im_fit
	data-return = @resonator.t3_result
	data-status = @resonator.test_3 }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_t3[0]}", @resonator
				.col-sm-1
					-if user_signed_in?
						-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_test3_resonators_path(id: @resonator.id)
		.panel-body id = "test3_show"
			.row
				.col-sm-12 = render 'resonators/test3_show'
