/ 5.Испытания климатические
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.cold_resistance_container.panel {
	data-nos = @resonator.cr_nitrogen_level
	data-nos-rate = @resonator.cr_nitrogen_level_rate
	data-shamrock = @resonator.cr_im_fit
	data-return = @resonator.cr_result
	data-status = @resonator.cold_resistance }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_cr_title[0]}", @resonator
				.col-sm-1
					-if user_signed_in?
						-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_cold_resistance_resonators_path(id: @resonator.id)
		.panel-body id = "cold_resistance_show"
			.row
				.col-sm-12
					= render 'resonators/cold_resistance_show'
