/ 8.Термоциклическая обработка
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.heat_treatment_in_an_argon_chamber_container.panel {
	data-return = @resonator.ht_result
	data-status = @resonator.heat_treatment_in_an_argon_chamber }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_ht_title[0]}", @resonator
				.col-sm-1
					-if user_signed_in?
						-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_heat_treatment_in_an_argon_chamber_resonators_path(id: @resonator.id)
		.panel-body id = "heat_treatment_in_an_argon_chamber_show"
			.row
				.col-sm-12 = render 'resonators/heat_treatment_in_an_argon_chamber_show'
