/ 1.Юстировка
.col-sm-2
	== render 'resonators/blocks/resonator_title'
.col-sm-5
	br
	br
	.alignment_container.panel {
	data-nos = false
	data-return = @resonator.al_result
	data-status = @resonator.alignment }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@resonator_al_title[0]}", @resonator
				.col-sm-1
					- if user_signed_in?
						- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_alignment_resonators_path(id: @resonator.id)
		#alignment_show.panel-body
			.row
				.col-sm-12 = render 'resonators/alignment_show'
