- @loss = 0
- @gas = 0
- @capture = 0
- @amp = 0
- @view = 0
- @combustion_voltage = 0
- @threshold_voltage = 0
- @moda = 0
- @current = 0
- @no_generate = 0
- @no_burn = 0
- @drift = 0
- @other_1 = 0

/ Таблица 2

table.table-bordered.table-condensed

    tr
        th rowspan=2 Год
        th rowspan=2 Месяц
        th rowspan=2 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=2 Количество переборок резонаторов, шт.
        th colspan=2 Потери, селективность
        th colspan=2 Изменение газового состава
        th colspan=2 Зона захвата
        th colspan=2 Амплитуда
        th colspan=2 Внешний вид
        th colspan=2 Пороговое напряжение пробоя
        th colspan=2 Поперечная мода
        th colspan=2 Пороговый ток
        th colspan=2 Нет генерации
        th colspan=2 Напряжение горения
        th colspan=2 Не поджиг
        th colspan=2 Дрейф, СКО
        th colspan=2 Другое
        th colspan=2 Итого

    tr
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %

    - @evo_1.each do |evo_1|
        tr
            // 1
            td
                = evo_1[:date].strftime('%Y')

            // 2
            td
                = evo_1[:date].strftime('%B')

            // 3
            td
                = evo_1[:run_resonators]

            // 4
            - if @reject == true
                td
                    = evo_1[:bust]

            // 5 Потери, селективность
            td
                - @loss = @loss + evo_1[:loss]
                = evo_1[:loss]

            // 6
            td
                = ((evo_1[:depressurization].to_f / evo_1[:run_resonators].to_f)*100).round 1

            // 7 Изменение газового состава
            td
                - @gas = @gas + evo_1[:gas]
                = evo_1[:gas]

            // 8
            td
                = ((evo_1[:gas].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 9 Зона захвата
            td
                - @capture = @capture + evo_1[:capture]
                = evo_1[:capture]

            // 10
            td
                = ((evo_1[:threshold_current].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 11 Амплитуда
            td
                - @amp = @amp + evo_1[:amp]
                = evo_1[:amp]


            // 12
            td
                = ((evo_1[:combustion_voltage].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 13 Внешний вид
            td
                - @view = @view + evo_1[:view]
                = evo_1[:view]


            // 14
            td
                = ((evo_1[:view].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 15 Пороговое напряжение пробоя
            td
                - @threshold_voltage = @threshold_voltage + evo_1[:threshold_voltage]
                = evo_1[:threshold_voltage]


            // 16
            td
                = ((evo_1[:threshold_voltage].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 17 Поперечная мода
            td
                - @moda = @moda + evo_1[:moda]
                = evo_1[:moda]

            // 18
            td
                = ((evo_1[:moda].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 19 Пороговый ток
            td
                - @current = @current + evo_1[:current]
                = @current

            // 20
            td
                = ((evo_1[:current].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 21 Нет генерации
            td
                - @no_generate = @no_generate + evo_1[:no_generate]
                = @no_generate

            // 22
            td
                = ((evo_1[:no_generate] / evo_1[:run_resonators].to_f)*100).round 1


            // 23 Напряжение горения
            td
                - @combustion_voltage = @combustion_voltage + evo_1[:combustion_voltage]
                = @combustion_voltage

            // 24
            td
                = ((evo_1[:combustion_voltage].to_f / evo_1[:run_resonators].to_f)*100).round 1

            // 25 Не поджиг
            td
                - @no_burn = @no_burn + evo_1[:no_burn]
                = @no_burn

            // 26
            td
                = ((evo_1[:no_burn].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 27 Дрейф, СКО
            td
                - @drift = @drift + evo_1[:drift]
                = @drift

            // 28
            td
                = ((evo_1[:drift].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 29 Другое
            td
                - @other_1 = @other_1 + evo_1[:other_1]
                = @other_1

            // 30
            td
                = ((evo_1[:other_1].to_f / evo_1[:run_resonators].to_f)*100).round 1

            // 31 Итого
            td
                - ev = evo_1[:loss].to_i + evo_1[:leg].to_i + evo_1[:gas].to_i + evo_1[:capture].to_i + evo_1[:amp].to_i + evo_1[:view].to_i + evo_1[:combustion_voltage].to_i + evo_1[:threshold_voltage].to_i + evo_1[:moda].to_i + evo_1[:current].to_i + evo_1[:no_generate].to_i + evo_1[:no_burn].to_i + evo_1[:drift].to_i + evo_1[:other_1].to_i
                = ev

            // 32
            td
                = ((ev.to_f / evo_1[:run_resonators].to_f)*100).round 1

br
br

- @bar = [  ['Потери, селективность', @loss],
            ['Изменение газового состава', @gas],
            ['Зона захвата', @capture],
            ['Амплитуда', @amp],
            ['Внешний вид', @view],
            ['Пороговое напряжение пробоя', @threshold_voltage],
            ['Поперечная мода', @moda],
            ['Пороговый ток', @current],
            ['Нет генерации', @no_generate],
            ['Напряжение горения', @combustion_voltage],
            ['Не поджиг', @no_burn],
            ['Дрейф, СКО', @drift] ]



- @bar = @bar.sort_by {|e| e.last}.reverse
- @bar = @bar.select{ |key, val| val != 0 }
= bar_chart @bar

br
br
br
br

- @brazing = 0
- @leg = 0
- @glass = 0
- @crack = 0
- @gas = 0
- @undefined = 0

/ Таблица 3

table.table-bordered.table-condensed

    tr
        th rowspan=2 Год
        th rowspan=2 Месяц
        th rowspan=2 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=2 Количество переборок резонаторов, шт.
        th colspan=2 Пайка ножки
        th colspan=2 Ножка
        th colspan=2 Зеркало
        th colspan=2 Трещина в стекле
        th colspan=2 Газоотделение (водород)
        th colspan=2 Не определено
        th colspan=2 Итого

    tr
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %

    - @evo_2.each do |evo_2|
        tr
            // 1
            td
                = evo_2[:date].strftime('%Y')

            // 2
            td
                = evo_2[:date].strftime('%B')

            // 3
            td
                = evo_2[:run_resonators]

            // 4
            - if @reject == true
                td
                    = evo_2[:bust]

            // 5
            td
                - @brazing = @brazing + evo_2[:brazing]
                = evo_2[:brazing]

            // 6
            td
                = ((evo_2[:brazing].to_f / evo_2[:run_resonators].to_f)*100).round 1

            // 7
            td
                - @leg = @leg + evo_2[:leg]
                = evo_2[:leg]

            // 8
            td
                = ((evo_2[:leg].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 9
            td
                - @glass = @glass + evo_2[:glass]
                = evo_2[:glass]

            // 10
            td
                = ((evo_2[:glass].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 11
            td
                - @crack = @crack + evo_2[:crack]
                = evo_2[:crack]


            // 12
            td
                = ((evo_2[:crack].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 13
            td
                - @gas = @gas + evo_2[:gas]
                = evo_2[:gas]


            // 14
            td
                = ((evo_2[:gas].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 15
            td
                - @undefined = @undefined + evo_2[:undefined]
                = evo_2[:undefined]

            // 16
            td
                = ((evo_2[:undefined].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 17
            td
                - ev = evo_2[:brazing].to_i + evo_2[:leg].to_i + evo_2[:glass].to_i + evo_2[:crack].to_i + evo_2[:gas].to_i + evo_2[:undefined].to_i
                = ev


            // 18
            td
                = ((ev.to_f / evo_2[:run_resonators].to_f)*100).round 1

br
br

- @bar = [  ['Пайка ножки', @brazing],
            ['Ножка', @leg],
            ['Зеркало', @glass],
            ['Трещина в стекле', @crack],
            ['Газоотделение (водород)', @gas],
            ['Не определено', @undefined] ]

- @bar =  @bar.sort_by {|e| e.last}.reverse
- @bar = @bar.select{ |key, val| val != 0 }
= bar_chart @bar
