- @depressurization = 0
- @no_generate = 0
- @threshold_current = 0
- @combustion_voltage = 0
- @loss = 0
- @view = 0
- @other_1 = 0

- @leg = 0
- @mirror = 0
- @glass = 0
- @electrodes = 0
- @place = 0
- @other_2 = 0

/ Таблица 2

table.table-bordered.table-condensed

    tr
        th rowspan=2 Год
        th rowspan=2 Месяц
        th rowspan=2 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=2 Количество переборок резонаторов, шт.
        th colspan=2 Разгерметизация (изменение газового состава)
        th colspan=2 Отсутствие генерации
        th colspan=2 Пороговый ток
        th colspan=2 Напряжение горения
        th colspan=2 Потери, селективность
        th colspan=2 Внешний вид
        th colspan=2 Другое
        th colspan=2 Итого забраковано

    tr
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %

    - @evo_1.each do |evo_1|
        tr
            // 1
            td
                = evo_1[:date].strftime('%Y')

            // 2
            td
                = evo_1[:date].strftime('%B')

            // 3
            td
                = evo_1[:run_resonators]

            // 4
            - if @reject == true
                td
                    = evo_1[:bust]

            // 5
            td
                - @depressurization = @depressurization + evo_1[:depressurization]
                = evo_1[:depressurization]

            // 6
            td
                = ((evo_1[:depressurization].to_f / evo_1[:run_resonators].to_f)*100).round 1

            // 7
            td
                - @no_generate = @no_generate + evo_1[:no_generate]
                = evo_1[:no_generate]

            // 8
            td
                = ((evo_1[:no_generate].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 9
            td
                - @threshold_current = @threshold_current + evo_1[:threshold_current]
                = evo_1[:threshold_current]

            // 10
            td
                = ((evo_1[:threshold_current].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 11
            td
                - @combustion_voltage = @combustion_voltage + evo_1[:combustion_voltage]
                = evo_1[:combustion_voltage]


            // 12
            td
                = ((evo_1[:combustion_voltage].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 13
            td
                - @loss = @loss + evo_1[:loss]
                = evo_1[:loss]


            // 14
            td
                = ((evo_1[:loss].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 15
            td
                - @view = @view + evo_1[:view]
                = evo_1[:view]

            // 16
            td
                = ((evo_1[:view].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 17
            td
                - @other_1 = @other_1 + evo_1[:other_1]
                = evo_1[:other_1]

            // 18
            td
                = ((evo_1[:other_1].to_f / evo_1[:run_resonators].to_f)*100).round 1


            // 19
            td
                - ev = evo_1[:depressurization].to_i + evo_1[:no_generate].to_i + evo_1[:threshold_current].to_i + evo_1[:combustion_voltage].to_i + evo_1[:loss].to_i + evo_1[:view].to_i + evo_1[:other_1].to_i
                = ev

            // 20
            td
                = ((ev.to_f / evo_1[:run_resonators].to_f)*100).round 1

br
br

- @bar = [ ['Разгерметизация', @depressurization],
['Отсутствие генерации', @no_generate], ['Пороговый ток', @threshold_current],
['Напряжение горения', @combustion_voltage], ['Потери, селективность', @loss],
['Внешний вид', @view], ['Другое', @other_1] ]

- @bar = @bar.sort_by {|e| e.last}.reverse
- @bar = @bar.select{ |key, val| val != 0 }
= bar_chart @bar

br
br
br
br

/ Таблица 3
table.table-bordered.table-condensed

    tr
        th rowspan=3 Год
        th rowspan=3 Месяц
        th rowspan=3 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=3 Количество переборок резонаторов, шт.
        th colspan=4 Оптический контакт
        th rowspan=2 colspan=2 Трещина в стекле
        th rowspan=2 colspan=2 Течь по пайке электродов
        th rowspan=2 colspan=2 Течь по соседнему месту
        th rowspan=2 colspan=2 Другое
        th rowspan=2 colspan=2 Итого забраковано

    tr
        th colspan=2 Ножка
        th colspan=2 Зеркало

    tr
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %
        th Количество
        th %

    - @evo_2.each do |evo_2|
        tr
            // 1
            td
                = evo_2[:date].strftime('%Y')

            // 2
            td
                = evo_2[:date].strftime('%B')

            // 3
            td
                = evo_2[:run_resonators]

            // 4
            - if @reject == true
                td
                    = evo_2[:bust]

            // 5
            td
                - @leg = @leg + evo_2[:leg]
                = evo_2[:leg]

            // 6
            td
                = ((evo_2[:leg].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 7
            td
                - @mirror = @mirror + evo_2[:mirror]
                = evo_2[:mirror]


            // 8
            td
                = ((evo_2[:mirror].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 9
            td
                - @glass = @glass + evo_2[:glass]
                = evo_2[:glass]

            // 10
            td
                = ((evo_2[:glass].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 11
            td
                - @electrodes = @electrodes + evo_2[:electrodes]
                = evo_2[:electrodes]


            // 12
            td
                = ((evo_2[:electrodes].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 13
            td
                - @place = @place + evo_2[:place]
                = evo_2[:place]


            // 14
            td
                = ((evo_2[:place].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 15
            td
                - @other_2 = @other_2 + evo_2[:other_2]
                = evo_2[:other_2]

            // 16
            td
                = ((evo_2[:other_2].to_f / evo_2[:run_resonators].to_f)*100).round 1


            // 17
            td
                - ev = evo_2[:leg].to_i + evo_2[:mirror].to_i + evo_2[:glass].to_i + evo_2[:electrodes].to_i + evo_2[:place].to_i + evo_2[:other_2]
                = ev


            // 18
            td
                = ((ev.to_f / evo_2[:run_resonators].to_f)*100).round 1

br
br

- @bar = [ ['Оптический контакт, Ножка', @leg],
['Оптический контакт, Зеркало', @mirror], ['Трещина в стекле', @glass],
['Течь по пайке электродов', @electrodes], ['Течь по соседнему месту', @place],
['Другое', @other_2] ]

- @bar = @bar.sort_by {|e| e.last}.reverse
- @bar = @bar.select{ |key, val| val != 0 }
= bar_chart @bar
