/ Таблица 6

table.table-bordered.table-condensed

    tr
        th rowspan=3 Год
        th rowspan=3 Месяц
        th rowspan=3 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=3 Количество переборок резонаторов, шт.
        th colspan=20 Резонатор
        th colspan=10 Датчик ЭК-104С
        th rowspan=2 colspan=2 Итого
    tr
        th colspan=2 = @resonator_al_title[0]
        th colspan=2 = @resonator_ev_title[0]
        th colspan=2 = @resonator_t3[0]
        th colspan=2 = @resonator_ts_title[0]
        th colspan=2 = @resonator_cr_title[0]
        th colspan=2 = @resonator_ri_title[0]
        th colspan=2 = @resonator_se_title[0]
        th colspan=2 = @resonator_ht_title[0]
        th colspan=2 = @resonator_t9[0]
        th colspan=2 = @resonator_control[0]
        th colspan=2 = @sensor_ap_title[0]
        th colspan=2 = @sensor_cb_title[0]
        th colspan=2 = @sensor_cf_title[0]
        th colspan=2 = @sensor_cp_title[0]
        th colspan=2 = @sensor_ps_title[0]

    tr
        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %


    - @alignment = 0
    - @evo = 0
    - @test_3 = 0
    - @thermostabilization = 0
    - @cold_resistance = 0
    - @running_in = 0
    - @sealing = 0
    - @heat_treatment_in_an_argon_chamber = 0
    - @test_9 = 0
    - @control = 0

    - @align_prisms_and_fpu = 0
    - @checking_the_build_quality_in_screens = 0
    - @check_for_resistance_to_sinusoidal_vibration = 0
    - @check_by_pm = 0
    - @psi = 0

    - @stage.each do |evo|
        tr
            // 1
            td
                = evo[:date].strftime('%Y')

            // 2
            td
                = evo[:date].strftime('%B')

            // 3
            td
                = evo[:run_resonators]

            // 4
            - if @reject == true
                td
                    = evo[:bust]

            // 5
            td
                - @alignment = @alignment + evo[:alignment]
                = evo[:alignment]

            // 6
            td
                = ((evo[:alignment].to_f / evo[:run_resonators].to_f)*100).round 1

            // 7
            td
                - @evo = @evo + evo[:evo]
                = evo[:evo]

            // 8
            td
                = ((evo[:evo].to_f / evo[:run_resonators].to_f)*100).round 1


            // 9
            td
                - @test_3 = @test_3 + evo[:test_3]
                = evo[:test_3]

            // 10
            td
                = ((evo[:test_3].to_f / evo[:run_resonators].to_f)*100).round 1


            // 11
            td
                - @thermostabilization = @thermostabilization + evo[:thermostabilization]
                = evo[:thermostabilization]


            // 12
            td
                = ((evo[:thermostabilization].to_f / evo[:run_resonators].to_f)*100).round 1


            // 13
            td
                - @cold_resistance = @cold_resistance + evo[:cold_resistance]
                = evo[:cold_resistance]


            // 14
            td
                = ((evo[:cold_resistance].to_f / evo[:run_resonators].to_f)*100).round 1


            // 15
            td
                - @running_in = @running_in + evo[:running_in]
                = evo[:running_in]

            // 16
            td
                = ((evo[:running_in].to_f / evo[:run_resonators].to_f)*100).round 1


            // 17
            td
                - @sealing = @sealing + evo[:sealing]
                = evo[:sealing]

            // 18
            td
                = ((evo[:sealing].to_f / evo[:run_resonators].to_f)*100).round 1


            // 19
            td
                - @heat_treatment_in_an_argon_chamber = @heat_treatment_in_an_argon_chamber + evo[:heat_treatment_in_an_argon_chamber]
                = evo[:heat_treatment_in_an_argon_chamber]


            // 20
            td
                = ((evo[:heat_treatment_in_an_argon_chamber].to_f / evo[:run_resonators].to_f)*100).round 1


            // 21
            td
                - @test_9 = @test_9 + evo[:test_9]
                = evo[:test_9]

            // 22
            td
                = ((evo[:test_9].to_f / evo[:run_resonators].to_f)*100).round 1


            // 23
            td
                - @control = @control + evo[:control]
                = evo[:control]

            // 24
            td
                = ((evo[:control].to_f / evo[:run_resonators].to_f)*100).round 1


            // 25
            td
                - @align_prisms_and_fpu = @align_prisms_and_fpu + evo[:align_prisms_and_fpu]
                = evo[:align_prisms_and_fpu]

            // 26
            td
                = ((evo[:align_prisms_and_fpu].to_f / evo[:run_resonators].to_f)*100).round 1


            // 27
            td
                - @checking_the_build_quality_in_screens = @checking_the_build_quality_in_screens + evo[:checking_the_build_quality_in_screens]
                = evo[:checking_the_build_quality_in_screens]

            // 28
            td
                = ((evo[:control].to_f / evo[:run_resonators].to_f)*100).round 1

            // 29
            td
                - @check_for_resistance_to_sinusoidal_vibration = @check_for_resistance_to_sinusoidal_vibration + evo[:check_for_resistance_to_sinusoidal_vibration]
                = evo[:check_for_resistance_to_sinusoidal_vibration]

            // 30
            td
                = ((evo[:check_for_resistance_to_sinusoidal_vibration].to_f / evo[:run_resonators].to_f)*100).round 1

            // 31
            td
                - @check_by_pm = @check_by_pm + evo[:check_by_pm]
                = evo[:check_by_pm]

            // 32
            td
                = ((evo[:check_by_pm].to_f / evo[:run_resonators].to_f)*100).round 1


            // 33
            td
                - @psi = @psi + evo[:psi]
                = evo[:psi]

            // 34
            td
                = ((evo[:psi].to_f / evo[:run_resonators].to_f)*100).round 1


            // 35
            td
                = evo[:alignment].to_i + evo[:evo].to_i + evo[:test_3].to_i + evo[:thermostabilization].to_i + evo[:cold_resistance].to_i + evo[:running_in].to_i + evo[:sealing].to_i + evo[:heat_treatment_in_an_argon_chamber].to_i + evo[:test_9].to_i + evo[:control].to_i + evo[:align_prisms_and_fpu].to_i + evo[:checking_the_build_quality_in_screens].to_i + evo[:check_for_resistance_to_sinusoidal_vibration].to_i + evo[:check_by_pm].to_i + evo[:psi].to_i

            // 36
            td
                = ((evo[:psi].to_f / evo[:run_resonators].to_f)*100).round 1


br
br

- @bar = [  ['1. Юстировка  ', @alignment],
['2. ЭВО', @evo],
['3. Проверочная', @test_3],
['4. Стабилизация', @thermostabilization],
['5. Испытания климатические', @cold_resistance],
['6. Приработка', @running_in],
['7. Вибрация', @sealing],
['8. Термоциклическая обработка', @heat_treatment_in_an_argon_chamber],
['9. Проверочная', @test_9],
['10. Контрольная', @control],
['1. Юстировка призмы и ФПУ', @align_prisms_and_fpu],
['2. Проверка параметров после монтажа и сборки в экраны', @checking_the_build_quality_in_screens],
['3. Проверка на устойчивость к синусоидальной вибрации', @check_for_resistance_to_sinusoidal_vibration],
['4. Проверка по ПМ', @check_by_pm],
['5. ПСИ', @psi]   ]

- @bar = @bar.sort_by {|e| e.last}.reverse
- @bar = @bar.select{ |key, val| val != 0 }
= bar_chart @bar
