br
br

table.table-bordered.table-condensed.table-striped id = "more_table"

    tr
        th rowspan=3 Год
        th rowspan=3 Месяц
        th rowspan=3 Количество запущенных резонаторов(датчиков)
        - if @reject == true
            th rowspan=3 Количество переборок резонаторов, шт.

        th rowspan=2 colspan=2 Брак на посту
        th rowspan=2 colspan=2 Брак после поста

        th colspan=4 Итого

    tr
        th colspan=2 Годных
        th colspan=2 Брак

    tr
        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

        th Количество
        th %

    - @total.each do |total|
        tr
            // 1
            td
                = total[:date].strftime('%Y')

            // 2
            td
                = total[:date].strftime('%B')

            // 3
            td
                = total[:run_resonators]

            // 4
            - if @reject == true
                td
                    = total[:bust]

            // 5
            td
                = total[:in_post]

            // 6
            td
                = ((total[:in_post].to_f / total[:run_resonators].to_f)*100).round 1

            // 7
            td
                = total[:after_post]

            // 8
            td
                = ((total[:after_post].to_f / total[:run_resonators].to_f)*100).round 1

            // 9
            td
                = total[:good]

            // 10
            td
                = ((total[:good].to_f / total[:run_resonators].to_f)*100).round 1

            // 11
            td
                = total[:not_good]

            // 12
            td
                = ((total[:not_good].to_f / total[:run_resonators].to_f)*100).round 1

br
br
br
br

= pie_chart [["Брак на посту", @reject_in_post.round(0)], ["Брак после поста", @reject_after_post.round(0)]], legend: false
