.container-fluid
    .row
        .col-sm-2
            == render 'bad_analyzes/blocks/date_field_bad_total'

        .col-sm-10
            br
            br
            . align = "center"
                h3
                    b Общая статистика по забракованию
                    br
                    br
                == render 'total'
