.container-fluid
    .row
        .col-sm-2
            == render 'bad_analyzes/blocks/date_field_return_evo'

        .col-sm-10
            br
            br
            . align = "center"
                h3
                    b Отказы на стадии ЭВО
                    br
                    br
                == render 'evo'
