.container-fluid
    .row
        .col-sm-2
            == render 'bad_analyzes/blocks/date_field_return_stage'

        .col-sm-10
            br
            br
            . align = "center"
                h3
                    b Отказы по стадиям производства
                    br
                    br
                == render 'stage'
