header.text-title

    h4
        b Датчики
        br
        span style="font-size: 12px;" ="#{@current_title}"
        |
        h6
        .sys_success
            = notice

    -if user_signed_in?
        -if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
            = link_to "Внести",
            new_sensor_path,
            class: 'btn btn-default'

    == render 'sensors/blocks/sensors_filter'
