hr

h6 = link_to "В производстве: #{@work_sensor.count}", sensors_path(view_type: 'work', page: 1)
h6 = link_to "Годных: #{@good_sensor.count}", sensors_path(view_type: 'good', page: 1)
h6 = link_to "Не годных: #{BadSensor.count}", sensors_path(view_type: 'bad', page: 1)
h6
    b = "Всего в базе: #{Sensor.count + BadSensor.count}"
hr

= form_tag('sensors/search', method: 'get', id: 'sensors_search_form') do
    .input-group
        = text_field_tag :search_val, nil, class: 'form-control', id: 'search_field'
        .input-group-btn
            button.btn.btn-default type = "button" onclick = "$('#sensors_search_form').submit()" Поиск
