header.text-title
    h5 Датчик
    h4
        b = @sensor.number
        |
        span &nbsp
        |
        -if user_signed_in?
            -if current_user.has_role? :admin or current_user.has_role? :moderator
                = link_to content_tag('span', '', class: 'fa fa-pencil fa-1g'), edit_sensor_path(@sensor)
    hr

    - if Resonator.find_by(id: @sensor.resonator_id)
        - resonator = Resonator.find(@sensor.resonator_id)
        h5 Установлен резонатор
        |
        h4
            = link_to "#{resonator.number} ", resonator
        hr

    h5.sys_success
        = notice
