.container-fluid
	.row
		.col-sm-2
			header.text-title 
				h5 Резонатор
				h4
					b = @resonator.number
				hr
				h5.sys_success
					= notice

		.col-sm-10
			br 
			br
			== render 'resonators/show'