header.text-title
    h5 Резонатор
    h4
        b = @resonator.number
        |
        span &nbsp
        |
        -if user_signed_in?
            -if current_user.has_role? :admin or current_user.has_role? :moderator
                = link_to content_tag('span', '', class: 'fa fa-pencil fa-1g'), edit_resonator_path(@resonator)
    hr

    - if @resonator.sensor_id
        - sensor = Sensor.find(@resonator.sensor_id)
        h5 В датчике
        |
        h4
            = link_to "#{sensor.number} ", sensor
        hr
    h5.sys_error
        = notice
