hr

h6 = link_to "В производстве: #{@work_resonator.count}", resonators_path(view_type: 'work', page: 1), { data: { toggle: 'tooltip' } }
h6 = link_to "Годных: #{@good_resonator.count}", resonators_path(view_type: 'good', page: 1)
h6 = link_to "Не годных: #{BadResonator.count}", resonators_path(view_type: 'bad', page: 1)
h6
    b = "Всего в базе: #{Resonator.count + BadResonator.count}"

hr

= form_tag('resonators/search', method: 'get', id: 'resonators_search_form') do
    .input-group
        = text_field_tag :search_val, nil, class: 'form-control', id: 'search_field'
        .input-group-btn
            button.btn.btn-default type = "button" onclick = "$('#resonators_search_form').submit()" Поиск
