<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :username, label: 'Имя пользователя', required: false, autofocus: true %>
    <%= f.input :password, label: 'Пароль', required: false %>
    <%= f.input :remember_me, label: 'Запомнить меня', as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Войти" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
