 li.dropdown
 	a.dropdown-toggle data-toggle="dropdown" href="#" = content_tag('span', '', class: 'fa fa-floppy-o')
 	ul.dropdown-menu
 		li = link_to "CSV", resonators_path(format: "csv")
 		li = link_to "Excel", resonators_path(format: "xls")  