li.dropdown
	-if user_signed_in?
		a.dropdown-toggle data-toggle="dropdown" href="#" = "#{current_user.full_name} (#{current_user.roles.first.name})"
		ul.dropdown-menu
			-if user_signed_in?
				-if current_user.has_role? :admin
					li = link_to "Профиль", edit_user_registration_path
			li = link_to "Выйти", destroy_user_session_path
	-  else
		a.dropdown-toggle data-toggle="dropdown" href="#" Вход не выполнен
		ul.dropdown-menu
			li = link_to "Войти", new_user_session_path
			//li = link_to "Зарегистрироваться", new_user_registration_path