<h2>Регистрация</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: 'Логин', required: true, autofocus: true %>
    <%= f.input :full_name, label: 'Полное имя', required: true, autofocus: true %>
    <%= f.input :password, label: 'Пароль', required: true, hint: ("#{@minimum_password_length} знаков минимум" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Ещё раз пароль', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Зарегистрироваться" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
