/= pie_chart BadStage.group(:bad_stage).count, legend: false, width: "100%", height: "100%", donut: true
= column_chart BadStage.where(created_at: @date_period).order(bad_stage: :desc).group(:bad_stage).count
/= column_chart bad_gist_resonators_path
/= competitions_by_year