span = link_to "Поиск", "#searchModal", { id: 'searchLink', class: 'other_link', data: { toggle: 'modal' }, title: 'Вызвать окно поиска' }
br
span = link_to "Анализ", "#graphics", { class: 'collapsed other_link', data: { toggle: 'collapse' }, aria: { expanded: false} }

.collapse id = "graphics"
	span = link_to "Потери резонатора", graphics_loss_resonators_path(date_in: nil, date_out: nil, from_index: true), { class: 'other_link', title: 'Вызвать окно анализа распределений' }
	br
	span = link_to "Напряжения горения через 10 мин.", graphics_burning_voltage_after_10_min_resonators_path(date_in: nil, date_out: nil, from_index: true), { class: 'other_link', title: 'Вызвать окно анализа распределений' }
	br
	span = link_to "Изменение напряжения горения через 10 мин.",graphics_from_the_burning_voltage_after_10_min_resonators_path(date_in: nil, date_out: nil, from_index: true), { class: 'other_link', title: 'Вызвать окно анализа распределений' }
	br
	span = link_to "Захват",graphics_capture_resonators_path(date_in: nil, date_out: nil, from_index: true), { class: 'other_link', title: 'Вызвать окно анализа распределений' }
br
span = link_to "Причины брака", bad_gist_resonators_path, { class: 'other_link', title: 'Вызвать окно анализа распределений' }