.
	/ Дата юстировки призмы и ФПУ
	.row
		.col-sm-7
			= @sensor_ap_title[1]
		.col-sm-5
			 = @sensor.ap_date

 	/ Напряжение горения через 2сек, U(2с)гор, В
	.row
		.col-sm-7
			= @sensor_ap_title[2]
		.col-sm-5
			= @sensor.ap_the_combustion_voltage_in_2_sec

	/ Напряжение горения через 35сек, U(35с)гор, В
	.row
		.col-sm-7
			= @sensor_ap_title[3]
		.col-sm-5
			= @sensor.ap_the_combustion_voltage_after_35_sec

	/ Напряжение горения через 10 мин, U(10м)гор, В
	.row
		.col-sm-7
			= @sensor_ap_title[4]
		.col-sm-5
			= @sensor.ap_the_combustion_voltage_after_10_min

	/ Коэффициент передачи ПБ1, Uλпб1, В
	.row
		.col-sm-7
			= @sensor_ap_title[5]
		.col-sm-5
			= @sensor.ap_the_transmission_coefficient_pb1

	/ Коэффициент передачи ПБ2, Uλпб2, В
	.row
		.col-sm-7
			= @sensor_ap_title[6]
		.col-sm-5
			= @sensor.ap_the_transmission_coefficient_pb2

	.row
		.col-sm-12
			hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @sensor.ap_result

	- if @sensor.ap_reason_for_return? and @align_prisms_and_fpu_return_list.rassoc(@sensor.ap_reason_for_return)

		/ Дата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @sensor.ap_return_date
		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@align_prisms_and_fpu_return_list.rassoc(@sensor.ap_reason_for_return).first}(#{@sensor.ap_for_the_return_list})"
		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @sensor.ap_refund_description
