/ Дата проведения
.row
	.col-sm-7
		= @sensor_cf_title[1]
	.col-sm-5
		= @sensor.cf_date

.row
	.col-sm-12
		hr

/ Результат
.row
	.col-sm-7
		= @return_title[0]
	.col-sm-5
		= @sensor.cf_result

-if @sensor.cf_reason_for_return? and @check_for_resistance_to_sinusoidal_vibration_return_list.rassoc(@sensor.cf_reason_for_return)

	/ Дата
	.row
		.col-sm-7
			= @return_title[1]
		.col-sm-5
			= @sensor.cf_return_date

	/ Причина возврата
	.row
		.col-sm-7
			= @return_title[2]
		.col-sm-5
			= "#{@check_for_resistance_to_sinusoidal_vibration_return_list.rassoc(@sensor.cf_reason_for_return).first}(#{@sensor.cf_for_the_return_list})"

	/ Описание возврата
	.row
		.col-sm-7
			= @return_title[3]
		.col-sm-5
			= @sensor.cf_refund_description
