.
	/ Дата проведения
	.row
		.col-sm-7
			= @sensor_cb_title[1]
		.col-sm-5
			= @sensor.cb_date

	/ Напряжение горения через 2сек, U(2с)гор, В
	.row
		.col-sm-7
			= @sensor_cb_title[2]
		.col-sm-5
			= @sensor.cb_the_combustion_voltage_in_2_sec

	/ Напряжение горения через 35сек, U(35с)гор, В
	.row
		.col-sm-7
			= @sensor_cb_title[3]
		.col-sm-5
			= @sensor.cb_the_combustion_voltage_after_35_sec

	/ Напряжение горения через 10 мин, U(10м)гор, В
	.row
		.col-sm-7
			= @sensor_cb_title[4]
		.col-sm-5
			= @sensor.cb_the_combustion_voltage_after_10_min

	/ Амплитуда выходного сигнала 1 на моде (+), АВ1+, В
	.row
		.col-sm-7
			= @sensor_cb_title[5]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_output_signal_1_in_the_mode_plus
	/ Амплитуда выходного сигнала 2 на моде (+), АВ2+, В
	.row
		.col-sm-7
			= @sensor_cb_title[6]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_output_signal_2_in_the_mode_plus

	/ Амплитуда выходного сигнала 1 на моде (-), АВ1-, В
	.row
		.col-sm-7
			= @sensor_cb_title[7]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_output_signal_1_in_the_mode_minus

	/ Амплитуда выходного сигнала 2 на моде (-), АВ2-, В
	.row
		.col-sm-7
			= @sensor_cb_title[8]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_output_signal_2_in_the_mode_minus

	/ Разность фаз выходных сигналов, ϕ, град
	.row
		.col-sm-7
			= @sensor_cb_title[9]
		.col-sm-5
			= @sensor.cb_the_phase_difference_of_the_output_signals

	/ Коэффициент передачи НУ на моде (+), Кну+, КГц/А
	.row
		.col-sm-7
			= @sensor_cb_title[10]
		.col-sm-5
			= @sensor.cb_the_transmission_coefficient_of_the_modes_in_the_mode_plus

	/ Коэффициент передачи НУ на моде (-), Кну-, КГц/А
	.row
		.col-sm-7
			= @sensor_cb_title[11]
		.col-sm-5
			= @sensor.cb_the_transmission_coefficient_of_the_modes_in_the_mode_minus

	/ Коэффициент передачи ПБ, Uλ, В
	.row
		.col-sm-7
			= @sensor_cb_title[12]
		.col-sm-5
			= @sensor.cb_the_transmission_coefficient

	/ Амплитуда периметрового сигнала моды (+), Ап1, В
	.row
		.col-sm-7
			= @sensor_cb_title[13]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_perimeter_signal_of_the_mode_plus

	/ Амплитуда периметрового сигнала моды (-), Ап2, В
	.row
		.col-sm-7
			= @sensor_cb_title[14]
		.col-sm-5
			= @sensor.cb_the_amplitude_of_the_perimeter_signal_of_the_mode_minus

	.row
		.col-sm-12
			hr

	/ Результат
	.row
		.col-sm-7
			= @return_title[0]
		.col-sm-5
			= @sensor.cb_result

	- if @sensor.cb_reason_for_return? and @checking_the_build_quality_in_screens_return_list.rassoc(@sensor.cb_reason_for_return)

		/ Дата
		.row
			.col-sm-7
				= @return_title[1]
			.col-sm-5
				= @sensor.cb_return_date

		/ Причина возврата
		.row
			.col-sm-7
				= @return_title[2]
			.col-sm-5
				= "#{@checking_the_build_quality_in_screens_return_list.rassoc(@sensor.cb_reason_for_return).first}(#{@sensor.cb_for_the_return_list})"

		/ Описание возврата
		.row
			.col-sm-7
				= @return_title[3]
			.col-sm-5
				= @sensor.cb_refund_description
