= form_for @sensor do |f|

    / Дата проведения
    .row
        .col-sm-7
			= @sensor_cf_title[1]
        .col-sm-5
			= f.text_field :cf_date,
            { include_blank: true,
            class: 'datepicker form-control' }

    .row
        .col-sm-12
            hr

    / Результат
    .row
        .col-sm-7
              = @return_title[0]
        .col-sm-5
            = f.select :cf_result,
            [ ["Годен"], ["Возврат"] ], {},
            { id: 'result_field',
            class: 'select2_nosearch form-control',
            style: 'width: 100%;' }


    .return_fields
        / Дата возврата
        .row
            .col-sm-7
                  = @return_title[1]
            .col-sm-5
                = f.text_field :cf_return_date,
                { include_blank: true,
                class: 'form-control datepicker',
                id: 'return_date_field',
                value: Date.today }


        / Причина возврата
        .row
            .col-sm-7
                = @return_title[2]
            .col-sm-5
                - return_list = @check_for_resistance_to_sinusoidal_vibration_return_list.values_at(0, 6, 12)
                = f.select :cf_reason_for_return,
                return_list, {},
                { id: 'reason_for_return_field',
                class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-7
            .col-sm-5
                .option-group-0 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :cf_for_the_return_list,
                    @check_for_resistance_to_sinusoidal_vibration_return_list[1..5], {},
                    { id: 'option-group-0-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-group-1 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :cf_for_the_return_list,
                    @check_for_resistance_to_sinusoidal_vibration_return_list[7..11], {},
                    { id: 'option-group-1-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-other {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Введите с клавиатуры" }
                    = f.text_field :cf_for_the_return_list,
                    { id: 'option-other-field',
                    class: 'form-control' }

        .row
            .col-sm-7
                = @return_title[3]
            .col-sm-5
                = f.text_area :cf_refund_description,
                { id: 'return_description_field',
                class: 'form-control' }

    .row
        .col-sm-12
            hr

    .row
        .col-sm-7
            = @status_title
        .col-sm-5
            = f.select :check_for_resistance_to_sinusoidal_vibration,
            [ ["Не завершена"],["Завершена"] ], {},
            { class: 'select2_nosearch form-control' }

    .row
        .col-sm-12
            hr

    / Внести
    .row
        .col-sm-10
        .col-sm-2
            = f.submit "Внести",
            { class: 'btn btn-default form-control' }
