/ Дата проведения
.row
    .col-sm-7
        = @sensor_cp_title[1]
    .col-sm-5
        = @sensor.cp_date

.row
    .col-sm-12
        hr

/ Результат
.row
    .col-sm-7
        = @return_title[0]
    .col-sm-5
        = @sensor.cp_result

- if @sensor.cp_reason_for_return? and @check_by_pm_return_list.rassoc(@sensor.cp_reason_for_return)
    / Дата
    .row
        .col-sm-7
            = @return_title[1]
        .col-sm-5
            = @sensor.cp_return_date

    / Причина возврата
    .row
        .col-sm-7
            = @return_title[2]
        .col-sm-5
            = "#{@check_by_pm_return_list.rassoc(@sensor.cp_reason_for_return).first}(#{@sensor.cp_for_the_return_list})"

    / Описание
    .row
        .col-sm-7
            = @return_title[3]
        .col-sm-5
            = @sensor.cp_refund_description
