= form_for @sensor do |f|

    / Дата проведения
    .row
        .col-sm-7
            = @sensor_cb_title[1]
		.col-sm-5
            = f.text_field :cb_date,
            { include_blank: true,
            class: 'datepicker form-control' }

	/ Напряжение горения через 2сек, U(2с)гор, В
    .row
        .col-sm-7
            = @sensor_cb_title[2]
		.col-sm-5
            = f.number_field :cb_the_combustion_voltage_in_2_sec,
            { step: @step,
            class: 'form-control' }

    / Напряжение горения через 35сек, U(35с)гор, В
    .row
        .col-sm-7
            = @sensor_cb_title[3]
		.col-sm-5
            = f.number_field :cb_the_combustion_voltage_after_35_sec,
            { step: @step,
            class: 'form-control' }

	/ Напряжение горения через 10 мин, U(10м)гор, В
    .row
        .col-sm-7
            = @sensor_cb_title[4]
		.col-sm-5
            = f.number_field :cb_the_combustion_voltage_after_10_min,
            { step: @step,
            class: 'form-control' }

	/ Амплитуда выходного сигнала 1 на моде (+), АВ1+, В
    .row
        .col-sm-7
            = @sensor_cb_title[5]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_output_signal_1_in_the_mode_plus,
            { step: @step,
            class: 'form-control' }

	/ Амплитуда выходного сигнала 2 на моде (+), АВ2+, В
    .row
		.col-sm-7
            = @sensor_cb_title[6]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_output_signal_2_in_the_mode_plus, step: @step, class: 'form-control'

	/ Амплитуда выходного сигнала 1 на моде (-), АВ1-, В
    .row
		.col-sm-7
            = @sensor_cb_title[7]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_output_signal_1_in_the_mode_minus, step: @step, class: 'form-control'

    / Амплитуда выходного сигнала 2 на моде (-), АВ2-, В
	.row
		.col-sm-7
            = @sensor_cb_title[8]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_output_signal_2_in_the_mode_minus, step: @step, class: 'form-control'

	/ Разность фаз выходных сигналов, ϕ, град
    .row
		.col-sm-7
            = @sensor_cb_title[9]
		.col-sm-5
            = f.number_field :cb_the_phase_difference_of_the_output_signals, step: @step, class: 'form-control'
	/ Коэффициент передачи НУ на моде (+), Кну+, КГц/А
    .row
		.col-sm-7
            = @sensor_cb_title[10]
		.col-sm-5
            = f.number_field :cb_the_transmission_coefficient_of_the_modes_in_the_mode_plus, step: @step, class: 'form-control'

	/ Коэффициент передачи НУ на моде (-), Кну-, КГц/А
    .row
		.col-sm-7
            = @sensor_cb_title[11]
		.col-sm-5
            = f.number_field :cb_the_transmission_coefficient_of_the_modes_in_the_mode_minus, step: @step, class: 'form-control'

	/ Коэффициент передачи ПБ, Uλ, В
    .row
		.col-sm-7
            = @sensor_cb_title[12]
		.col-sm-5
            = f.number_field :cb_the_transmission_coefficient, step: @step, class: 'form-control'

	/ Амплитуда периметрового сигнала моды (+), Ап1, В
    .row
		.col-sm-7
            = @sensor_cb_title[13]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_perimeter_signal_of_the_mode_plus, step: @step, class: 'form-control'

	/ Амплитуда периметрового сигнала моды (-), Ап2, В
    .row
		.col-sm-7
            = @sensor_cb_title[14]
		.col-sm-5
            = f.number_field :cb_the_amplitude_of_the_perimeter_signal_of_the_mode_minus, step: @step, class: 'form-control'

    .row
        .col-sm-12
            hr

    / Результат
    .row
        .col-sm-7
              = @return_title[0]
        .col-sm-5
            = f.select :cb_result,
            [ ["Годен"], ["Возврат"] ], {},
            { id: 'result_field',
            class: 'select2_nosearch form-control',
            style: 'width: 100%;' }


    .return_fields
        / Дата возврата
        .row
            .col-sm-7
                  = @return_title[1]
            .col-sm-5
                = f.text_field :cb_return_date,
                { include_blank: true,
                class: 'form-control datepicker',
                id: 'return_date_field',
                value: Date.today }


        / Причина возврата
        .row
            .col-sm-7
                = @return_title[2]
            .col-sm-5
                - return_list = @checking_the_build_quality_in_screens_return_list.values_at(0, 6, 13)
                = f.select :cb_reason_for_return,
                return_list, {},
                { id: 'reason_for_return_field',
                class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-7
            .col-sm-5
                .option-group-0 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :cb_for_the_return_list,
                    @align_prisms_and_fpu_return_list[1..5], {},
                    { id: 'option-group-0-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-group-1 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :cb_for_the_return_list,
                    @align_prisms_and_fpu_return_list[7..12], {},
                    { id: 'option-group-1-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-other {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Введите с клавиатуры" }
                    = f.text_field :cb_for_the_return_list,
                    { id: 'option-other-field',
                    class: 'form-control' }

        / Описание возврата
        .row
            .col-sm-7
                = @return_title[3]
            .col-sm-5
                = f.text_area :cb_refund_description,
                { id: 'return_description_field',
                class: 'form-control' }

    .row
        .col-sm-12
            hr

    .row
        .col-sm-7
            = @status_title
        .col-sm-5
            = f.select :checking_the_build_quality_in_screens,
            [ ["Не завершена"],["Завершена"] ], {},
            { class: 'select2_nosearch form-control' }

    .row
        .col-sm-12
            hr

    / Внести
    .row
        .col-sm-10
        .col-sm-2
            = f.submit "Внести",
            { class: 'btn btn-default form-control' }
