= form_for @sensor do |f|
	table.table-condensed
		tr
			td = @sensor_title[0]
			td
			td = f.text_field :number, class: 'form-control'

		tr
			td = @sensor_title[3]
			td
			td 
				= f.select :resonator_id, {}, {}, {class: 'select2_empty form-control', disabled: false, placeholder: 'Enter'} do
		            -if Resonator.exists?
		                option
		                - Resonator.all.collect {|p| [p.number, p.sensor_id, p.id]}.each do |c|
		                    -if !c[1]
		                        = content_tag(:option, c.first, value: c.last)
		                        - @resonator = true
	                	-if !@resonator
                    		= content_tag(:option, "Нет свободных резонаторов", disabled: true)
		            - else
		                = content_tag(:option, "В базе нет резонаторов", disabled: true)

		tr
			td align="center" colspan="3" = f.submit "Внести", class: 'btn btn-default'