/ Дата проведения
.row
	.col-sm-7
		= @sensor_ps_title[1]
	.col-sm-5
		= @sensor.ps_date

/ Амплитуда выходного сигнала 1 на рабочей моде, АВ1, В
.row
	.col-sm-7
		= @sensor_ps_title[3]
	.col-sm-5
		= @sensor.ps_the_amplitude_of_the_output_signal_1_in_the_working_mode

/ Амплитуда выходного сигнала 2 на рабочей моде, АВ2, В
.row
	.col-sm-7
		= @sensor_ps_title[2]
	.col-sm-5
		= @sensor.ps_the_amplitude_of_the_output_signal_2_in_the_operating_mode

/ Коэффициент передачи НУ на рабочей моде, Кну, КГц/А
.row
	.col-sm-7
		= @sensor_ps_title[4]
	.col-sm-5
		= @sensor.ps_the_transmission_coefficient_of_the_ou_in_the_working_mode

/ Напряжение горения
.row
	.col-sm-7
		= @sensor_ps_title[5]
	.col-sm-5
		= @sensor.ps_combustion_voltage
.row
	.col-sm-12
		hr

/ Результат
.row
	.col-sm-7
		= @return_title[0]
	.col-sm-5
		= @sensor.ps_result

- if @sensor.ps_reason_for_return? and @psi_return_list.rassoc(@sensor.ps_reason_for_return)
	/ Дата
	.row
		.col-sm-7
			= @return_title[1]
		.col-sm-5
			= @sensor.ps_return_date

	/ Причина возврата
	.row
		.col-sm-7
			= @return_title[2]
		.col-sm-5
			= "#{@psi_return_list.rassoc(@sensor.ps_reason_for_return).first}(#{@sensor.ps_for_the_return_list})"

	/ Описание
	.row
		.col-sm-7
			= @return_title[3]
		.col-sm-5
			= @sensor.ps_refund_description



