= form_for @sensor do |f|
    / Дата проведения
    .row
        .col-sm-7
            = @sensor_ps_title[1]
        .col-sm-5
            = f.text_field :ps_date,
            { include_blank: true,
            class: 'datepicker form-control' }
	.row
		.col-sm-7
            = @sensor_ps_title[2]
		.col-sm-5
            = f.number_field :ps_the_amplitude_of_the_output_signal_2_in_the_operating_mode,
            { step: @step,
            class: 'form-control' }
	.row
		.col-sm-7
            = @sensor_ps_title[3]
		.col-sm-5
            = f.number_field :ps_the_amplitude_of_the_output_signal_1_in_the_working_mode,
            { step: @step,
            class: 'form-control' }
	.row
		.col-sm-7
            = @sensor_ps_title[4]
		.col-sm-5
            = f.number_field :ps_the_transmission_coefficient_of_the_ou_in_the_working_mode,
            { step: @step,
            class: 'form-control' }
	.row
		.col-sm-7
            = @sensor_ps_title[5]
		.col-sm-5
            = f.number_field :ps_combustion_voltage, step: @step, class: 'form-control'




    .row
        .col-sm-12
            hr

    / Результат
    .row
        .col-sm-7
              = @return_title[0]
        .col-sm-5
            = f.select :ps_result,
            [ ["Годен"], ["Возврат"] ], {},
            { id: 'result_field',
            class: 'select2_nosearch form-control',
            style: 'width: 100%;' }


    .return_fields
        / Дата возврата
        .row
            .col-sm-7
                  = @return_title[1]
            .col-sm-5
                = f.text_field :ps_return_date,
                { include_blank: true,
                class: 'form-control datepicker',
                id: 'return_date_field',
                value: Date.today }


        / Причина возврата
        .row
            .col-sm-7
                = @return_title[2]
            .col-sm-5
                - return_list = @psi_return_list.values_at(0, 6, 13)
                = f.select :ps_reason_for_return,
                return_list, {},
                { id: 'reason_for_return_field',
                class: 'select2_nosearch form-control',
                style: 'width: 100%;' }

        .row
            .col-sm-7
            .col-sm-5
                .option-group-0 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :ps_for_the_return_list,
                    @psi_return_list[1..5], {},
                    { id: 'option-group-0-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-group-1 {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Выберите" }
                    = f.select :ps_for_the_return_list,
                    @psi_return_list[7..12], {},
                    { id: 'option-group-1-field',
                    class: 'select2_nosearch form-control',
                    style: 'width: 100%;' }

                .option-other {
                data-toggle = "tooltip"
                data-placement = "right"
                title = "Введите с клавиатуры" }
                    = f.text_field :ps_for_the_return_list,
                    { id: 'option-other-field',
                    class: 'form-control' }

        .row
            .col-sm-7
                = @return_title[3]
            .col-sm-5
                = f.text_area :ps_refund_description,
                { id: 'return_description_field',
                class: 'form-control' }

    .row
        .col-sm-12
            hr

    / Статус операции
    .row
        .col-sm-7
            = @status_title
        .col-sm-5
            = f.select :psi,
            [ ["Не завершена"],["Завершена"] ], {},
            { class: 'select2_nosearch form-control' }

    .row
        .col-sm-12
            hr

    / Внести
    .row
        .col-sm-10
        .col-sm-2
            = f.submit "Внести",
            { class: 'btn btn-default form-control' }


