table.table-condensed
    - if @sensors
        - @sensors.each do |sensor|

            tr
                / Номер
                td = link_to "#{sensor.number}", sensor

                / 1. Юстировка призмы и ФПУ
                td
                    - if sensor.ap_result == 'Возврат'
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.align_prisms_and_fpu == 'Завершена'
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 2. Проверка параметров после монтажа и сборки в экраны
                td
                    - if sensor.cb_result == 'Возврат'
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.checking_the_build_quality_in_screens == 'Завершена'
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 3. Проверка на устойчивость к синусоидальной вибрации
                td
                    - if sensor.cf_result == 'Возврат'
                          = link_to "#{@sensor_cf_title[0]}",
                          show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                          { class: 'btn btn-danger' }
                    - elsif sensor.check_for_resistance_to_sinusoidal_vibration == 'Завершена'
                        = link_to "#{@sensor_cf_title[0]}",
                        show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cf_title[0]}",
                        show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 4. Проверка по ПМ
                td
                    - if sensor.cp_result == 'Возврат'
                          = link_to "#{@sensor_cp_title[0]}",
                          show_check_by_pm_sensors_path(id: sensor.id),
                          { class: 'btn btn-danger' }
                    - elsif sensor.check_by_pm == 'Завершена'
                        = link_to "#{@sensor_cp_title[0]}",
                        show_check_by_pm_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cp_title[0]}",
                        show_check_by_pm_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }


                / 5. ПСИ
                td
                    - if sensor.ps_result == 'Возврат'
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.psi == 'Завершена'
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }


                td
                    -if user_signed_in?
                        -if current_user.has_role? :admin or current_user.has_role? :moderator
                            = link_to content_tag('span', '',
                            class: 'fa fa-trash'),
                            sensor,
                            data:{ confirm: "Удалить датчик #{sensor.number} ?" },
                            method: :delete

    - if @bad_sensors
        - @bad_sensors.each do |sensor|

            tr
                / Номер
                td = link_to "#{sensor.number}", sensor

                / 1. Юстировка призмы и ФПУ
                td
                    - if sensor.ap_result == 'Возврат'
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.align_prisms_and_fpu == 'Завершена'
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_ap_title[0]}",
                        show_align_prisms_and_fpu_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 2. Проверка параметров после монтажа и сборки в экраны
                td
                    - if sensor.cb_result == 'Возврат'
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.checking_the_build_quality_in_screens == 'Завершена'
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cb_title[0]}",
                        show_checking_the_build_quality_in_screens_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 3. Проверка на устойчивость к синусоидальной вибрации
                td
                    - if sensor.cf_result == 'Возврат'
                          = link_to "#{@sensor_cf_title[0]}",
                          show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                          { class: 'btn btn-danger' }
                    - elsif sensor.check_for_resistance_to_sinusoidal_vibration == 'Завершена'
                        = link_to "#{@sensor_cf_title[0]}",
                        show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cf_title[0]}",
                        show_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }

                / 4. Проверка по ПМ
                td
                    - if sensor.cp_result == 'Возврат'
                          = link_to "#{@sensor_cp_title[0]}",
                          show_check_by_pm_sensors_path(id: sensor.id),
                          { class: 'btn btn-danger' }
                    - elsif sensor.check_by_pm == 'Завершена'
                        = link_to "#{@sensor_cp_title[0]}",
                        show_check_by_pm_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_cp_title[0]}",
                        show_check_by_pm_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }


                / 5. ПСИ
                td
                    - if sensor.ps_result == 'Возврат'
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-danger' }
                    - elsif sensor.psi == 'Завершена'
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-info' }
                    - else
                        = link_to "#{@sensor_ps_title[0]}",
                        show_psi_sensors_path(id: sensor.id),
                        { class: 'btn btn-default' }


                / Возврат из удаленных
                /td
                    -if user_signed_in?
                          -if current_user.has_role? :admin or current_user.has_role? :moderator
                                = link_to content_tag('span', '',
                                class: 'fa fa-eject'),
                                roll_back_bad_sensors_path(id: sensor.id),
                                title: 'Вернуть в список годных'
