= form_for @sensor do |f|
	table.table-condensed
		tr
			td = @sensor_title[1]
			td
			td = f.select :resonator_id, {}, {}, {class: 'select2_empty form-control'} do
				- if Resonator.exists?
					option
					- Resonator.all.collect {|p| [p.number, p.id]}.each do |c|
						= content_tag(:option, c.first, value: c.last)
				- else
					= content_tag(:option, "В базе нет резонаторов", disabled: true)
		tr
			td = @sensor_title[2]
			td
			td = f.date_select :date_of_manufacture_of_the_resonator, {include_blank: true}

		tr
			td align="center" colspan="3" = f.submit "Внести", class: 'btn btn-default'