.row
	.col-sm-6

		/ 1.Юстировка призмы и ФПУ
		.align_prisms_and_fpu_container.panel {
		data-return = @sensor.ap_result
		data-status = @sensor.align_prisms_and_fpu }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_ap_title[0]}",
						"#align_prisms_and_fpu_show",
						{ id: 'align_prisms_and_fpu',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'align_prisms_and_fpu_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_align_prisms_and_fpu_sensors_path(id: @sensor.id)
			#align_prisms_and_fpu_show.panel-body.collapse
				.row
					.col-sm-12 = render 'sensors/align_prisms_and_fpu_show'


		/ 2.Проверка параметров после монтажа и сборки в экраны
		.checking_the_build_quality_in_screens_container.panel {
		data-return = @sensor.cb_result
		data-status = @sensor.checking_the_build_quality_in_screens }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_cb_title[0]}",
						"#checking_the_build_quality_in_screens_show",
						{ id: 'checking_the_build_quality_in_screens',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false,
						controls: 'checking_the_build_quality_in_screens_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_checking_the_build_quality_in_screens_sensors_path(id: @sensor.id)
			#checking_the_build_quality_in_screens_show.panel-body.collapse
				.row
					.col-sm-12 = render 'sensors/checking_the_build_quality_in_screens_show'



		/ 3.Проверка на устойчивость к синусоидальной вибрации
		.check_for_resistance_to_sinusoidal_vibration_container.panel {
		data-return = @sensor.cf_result
		data-status = @sensor.check_for_resistance_to_sinusoidal_vibration }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_cf_title[0]}",
						"#check_for_resistance_to_sinusoidal_vibration_show",
						{ id: 'check_for_resistance_to_sinusoidal_vibration',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false,
						controls: 'check_for_resistance_to_sinusoidal_vibration_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: @sensor.id)
			#check_for_resistance_to_sinusoidal_vibration_show.panel-body.collapse
				.row
					.col-sm-12 = render 'sensors/check_for_resistance_to_sinusoidal_vibration_show'



		/ 4.Проверка по ПМ
		.check_by_pm_container.panel {
		data-return = @sensor.cp_result
		data-status = @sensor.check_by_pm }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_cp_title[0]}",
						"#check_by_pm_show",
						{ id: 'check_by_pm',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false,
						controls: 'check_by_pm_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_check_by_pm_sensors_path(id: @sensor.id)
			#check_by_pm_show.panel-body.collapse
				.row
					.col-sm-12 = render 'sensors/check_by_pm_show'


		/ 5.ПСИ
		.psi_container.panel {
		data-return = @sensor.ps_result
		data-status = @sensor.psi }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_ps_title[0]}",
						"#psi_show",
						{ id: 'psi',
						class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: false, controls: 'psi_show' } }
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '',
								class: 'fa fa-pencil fa-1g',
								data: { toggle: 'tooltip' },
								title: 'Редактировать'),
								set_psi_sensors_path(id: @sensor.id)
			#psi_show.panel-body.collapse
				.row
					.col-sm-12 = render 'sensors/psi_show'




.row
	.col-sm-12
		hr

.row
	.col-sm-6
		.panel.panel-default
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_title[2]}", "#remark_show",
						{ class: 'collapsed',
						data: { toggle: 'collapse' },
						aria: { expanded: true, controls: 'remark_show' } }
					.col-sm-1
						-if user_signed_in?
							= link_to content_tag('span', '',
							class: 'fa fa-pencil fa-1g',
							data: { toggle: 'tooltip' },
							title: 'Редактировать'), edit_sensor_path


			#remark_show.panel-body.collapse style="height: 283px; overflow-y: auto; overflow-x: hidden;"
				.row
					.col-sm-12
						= @sensor.remark




		.panel.panel-default
			.panel-heading
				span = link_to "#{@sensor_title[1]}", "#history_show",
				{ class: 'collapsed',
				data: { toggle: 'collapse' },
				aria: { expanded: true, controls: 'history_show' } }
			#history_show.panel-body.collapse style="height: 220px; overflow-y: auto; overflow-x: hidden;"
				.row
					.col-sm-12
						- @histories.each do |history|
							.text-title = "#{history.created_at.strftime("%d.%m.%Y в %H:%M:%S ")}"
							|
							.text-title
								b = "#{history.operation}"
							hr

