.container-fluid

	.row
		.col-sm-2
			== render 'sensors/blocks/sensor_title'

		.col-sm-4
			br
			br

			.panel.panel-default
				.panel-heading
					.row
						.col-sm-12
							span = link_to "Редактировать", @sensor
				.panel-body
					.row
						.col-sm-12
							= form_for @sensor do |f|
								.row
									.col-sm-12
										-if user_signed_in?
        									-if current_user.has_role? :admin or current_user.has_role? :moderator
													h5 Номер
													= f.text_field :number, class: 'form-control', style: 'width: 100%;'
													br
										h5 Коментарий
										= f.text_area :remark, class: 'form-control', style: 'width: 100%;'
										br
										. align="right" = f.submit "Внести", class: 'btn btn-default'
