.container-fluid
    .row
        .col-sm-2
            == render 'sensors/blocks/sensors_title'

        .col-sm-10
            br
            br
            == render 'sensors'


/ Поиск
.modal.fade id="searchModalSensor" role="dialog" aria-labelledby="myLargeModalLabel"
	.modal-dialog.modal-lg style="width: 15%; height: 10%;"
		.modal-content

			/.modal-header
				button.close type="button" data-dismiss="modal" &times
				h4.modal-title id="myModalLabel" Поиск

			.modal-body
				= form_tag('sensors/search', method: 'get', id: 'sensors_search_form') do
					.input-group
						= text_field_tag :search_val, '', class: 'form-control', id: 'search_field'
						span.input-group-btn
							button.btn.btn-default type="button" onclick="$('#sensors_search_form').submit()" Поиск

			/.modal-footer
				button.btn.btn-default type="button" data-dismiss="modal" Закрыть
