.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br

	/ 3.Проверка на устойчивость к синусоидальной вибрации
	.check_for_resistance_to_sinusoidal_vibration_container.panel {
	data-return = @sensor.cf_result
	data-status = @sensor.check_for_resistance_to_sinusoidal_vibration }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@sensor_cf_title[0]}", @sensor
		#check_for_resistance_to_sinusoidal_vibration_show.panel-body
			.row
				.col-sm-12
					= render 'check_for_resistance_to_sinusoidal_vibration_form'
