.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br

	/ 4.ПСИ
	.psi_container.panel {
	data-return = @sensor.ps_result
	data-status = @sensor.psi }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@sensor_ps_title[0]}", @sensor
		#psi_show.panel-body
			.row
				.col-sm-12 = render 'psi_form'
