.col-sm-2
    == render 'sensors/blocks/sensor_title'
.col-sm-5
    br
    br

    / 4.Проверка по ПМ
    .check_by_pm_container.panel {
    data-return = @sensor.cp_result
    data-status = @sensor.check_by_pm }
        .panel-heading
            .row
                .col-sm-12
                    span = link_to "#{@sensor_cp_title[0]}", @sensor
        #check_by_pm_show.panel-body
            .row
                .col-sm-12
                    == render 'check_by_pm_form'
