.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br

	/ 2.Проверка параметров после монтажа и сборки в экраны
	.checking_the_build_quality_in_screens_container.panel {
	data-return = @sensor.cb_result
	data-status = @sensor.checking_the_build_quality_in_screens }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@sensor_cb_title[0]}", @sensor
		#checking_the_build_quality_in_screens_show.panel-body
			.row
				.col-sm-12
					= render 'checking_the_build_quality_in_screens_form'
