.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br

	/ 1.Юстировка призмы и ФПУ
	.align_prisms_and_fpu_container.panel {
	data-return = @sensor.ap_result
	data-status = @sensor.align_prisms_and_fpu }
		.panel-heading
			.row
				.col-sm-12
					span = link_to "#{@sensor_ap_title[0]}", @sensor
		#align_prisms_and_fpu_show.panel-body
			.row
				.col-sm-12
					== render 'align_prisms_and_fpu_form'
