.row
	.col-sm-2
		== render 'sensors/blocks/sensor_title'
	.col-sm-5
		br
		br
		.align_prisms_and_fpu_container.panel {
		data-nos = false
		data-return = @sensor.ap_result
		data-status = @sensor.align_prisms_and_fpu }
			.panel-heading
				.row
					.col-sm-11
						span = link_to "#{@sensor_ap_title[0]}", @sensor
					.col-sm-1
						- if user_signed_in?
							- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
								= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_align_prisms_and_fpu_sensors_path(id: @sensor.id)
			#align_prisms_and_fpu_show.panel-body
				.row
					.col-sm-12
						== render 'align_prisms_and_fpu_show'
