.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br
	/ 4.ПСИ
	.psi_container.panel {
	data-return = @sensor.ps_result
	data-status = @sensor.psi }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@sensor_ps_title[0]}", @sensor
				.col-sm-1
					- if user_signed_in?
						- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_psi_sensors_path(id: @sensor.id)
		#psi_show.panel-body
			.row
				.col-sm-12
					== render 'psi_show'
