.col-sm-2
    == render 'sensors/blocks/sensor_title'
.col-sm-4
    br
    br
    / 4.Проверка по ПМ
    .check_by_pm_container.panel {
    data-return = @sensor.cp_result
    data-status = @sensor.check_by_pm }
        .panel-heading
            .row
                .col-sm-11
                    span = link_to "#{@sensor_cp_title[0]}", @sensor
                .col-sm-1
                    - if user_signed_in?
                        - if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
                            = link_to content_tag('span', '',
                            class: 'fa fa-pencil fa-1g',
                            data: { toggle: 'tooltip' },
                            title: 'Редактировать'),
                            set_check_by_pm_sensors_path(id: @sensor.id)
        #check_by_pm_show.panel-body
            .row
                .col-sm-12
                    == render 'check_by_pm_show'
