.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br
	/ 3.Проверка на устойчивость к синусоидальной вибрации
	.check_for_resistance_to_sinusoidal_vibration_container.panel {
	data-return = @sensor.cf_result
	data-status = @sensor.check_for_resistance_to_sinusoidal_vibration }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@sensor_cf_title[0]}", @sensor
				.col-sm-1
					- if user_signed_in?
						- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_check_for_resistance_to_sinusoidal_vibration_sensors_path(id: @sensor.id)
		.panel-body id = "check_for_resistance_to_sinusoidal_vibration_show"
			.row
				.col-sm-12 = render 'check_for_resistance_to_sinusoidal_vibration_show'
