.col-sm-2
	== render 'sensors/blocks/sensor_title'
.col-sm-5
	br
	br
	/ 2.Проверка параметров после монтажа и сборки в экраны
	.checking_the_build_quality_in_screens_container.panel {
	data-return = @sensor.cb_result
	data-status = @sensor.checking_the_build_quality_in_screens }
		.panel-heading
			.row
				.col-sm-11
					span = link_to "#{@sensor_cb_title[0]}", @sensor
				.col-sm-1
					- if user_signed_in?
						- if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :alignment or current_user.has_role? :adjustment
							= link_to content_tag('span', '', class: 'fa fa-pencil fa-1g', data: { toggle: 'tooltip' }, title: 'Редактировать'), set_checking_the_build_quality_in_screens_sensors_path(id: @sensor.id)
		.panel-body id = "checking_the_build_quality_in_screens_show"
			.row
				.col-sm-12 = render 'checking_the_build_quality_in_screens_show'
