.container-fluid
    .row
        .col-sm-2
            header.text-title
                h5 Датчик
                h4
                    b = @sensor.number
                hr
                h5.sys_success
                    = notice

        .col-sm-10
            br
            br
            == render 'sensors/show'
