doctype html
html
  head
	meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
	title База данных ЭК-104С

	= csrf_meta_tags
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  body

	/= render 'shared/correct_work'

	nav.navbar-default.bg-primary role="navigation"
		.container-fluid
			.navbar-header
				ul.nav.navbar-nav.navbar
					li
						a = content_tag('span', '', class: 'fa fa-database')
					li.headerText
						a href==resonators_path(page: 1)
							| Резонаторы
					li.headerText
						a href==sensors_path
							| Датчики
					li.headerText
						a href==mirrors_path
							| Подложки/Зеркала
					li.headerText
						a href==legs_path(page: 1)
							| Ножки
					li.headerText
						a href==cathodes_path(page: 1)
							| Катоды

					li.dropdown
						a {
                        data-toggle = "dropdown"
                        role = "button"
                        aria-haspopup = "true"
                        aria-expanded = "false"
                        href == cathodes_path(page: 1) }
							| Элементы анализа
							span.caret
						ul.dropdown-menu

							li
								.dropdown_group_label Статистика по забракованию

							li
								a href == bad_total_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Общая
							li
								a href == bad_evo_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Брак на стадии ЭВО
							li
								a href == bad_after_evo_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Брак после ЭВО
							li
								a href == bad_stage_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Брак по стадиям производства
							li
								hr

							li
								.dropdown_group_label Статистика по отказам

							li
								a href == return_total_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Общая
							li
								a href == return_evo_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Отказы на стадии ЭВО
							li
								a href == return_after_evo_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Отказы после ЭВО
							li
								a href == return_stage_bad_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6])
									| Отказы по стадиям производства
							li
								hr

							li
								.dropdown_group_label По интервалам порогового тока резонаторов

							li
								a href == chart_1_1_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| В начале тренировки и в конце стабилизации оп.70

							li
								a href == chart_1_2_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| В конце стабилизации оп.70 и после холодоустойчивости оп.105

							li
								a href == chart_1_3_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| После холодоустойчивости оп.105 и после приработки оп.115

							li
								a href == chart_1_4_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| После приработки оп.115 и проверочной оп.175

							li
								a href == chart_1_5_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| На всех стадиях

							li
								a href == chart_3_1_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| Интервалы разностей в начале тренировки и в конце стабилизации оп.70

							li
								a href == chart_3_2_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| Интервалы разностей в конце стабилизации оп.70 и после холодоустойчивости оп.105

							li
								a href == chart_3_3_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| Интервалы разностей после холодоустойчивости оп.105 и после приработки оп.115

							li
								a href == chart_3_4_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| Интервалы разностей после приработки оп.115 и проверочной оп.175

							li
								a href == chart_3_5_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| Интервалы разностей на всех стадиях

							li
								hr

							li
								.dropdown_group_label Потери и селективность резонаторов

							li
								a href == chart_5_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам потерь после сборки и юстировки оп.065, проверочной оп.075, и проверочной оп.175

							li
								a href == chart_7_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам селективности после сборки и юстировки оп.065, проверочной оп.075, и проверочной оп.175

							li
								a href == chart_9_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разности потерь после сборки и юстировки оп.065 и проверочной оп.075

							li
								a href == chart_11_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разности потерь и разности селективности между проверочными оп.175 и оп.075

							li
								hr

							li
								.dropdown_group_label Захват

							li
								a href == chart_13_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам захвата(среднее по модам), измеренным на оп.105, 115, 175

							li
								a href == chart_15_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разностей захвата(среднее по модам), измеренным на оп.115, 105

							li
								a href == chart_17_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разностей захвата(среднее по модам), измеренным на оп.175, 115

							li
								a href == chart_19_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам захвата(максимальное по модам), измеренным на оп.105, 115, 175

							li
								a href == chart_21_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разностей захвата(максимальное по модам), измеренным на оп.115, 105

							li
								a href == chart_23_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разностей захвата(максимальное по модам), измеренным на оп.175, 115

							li
								hr

							li
								.dropdown_group_label КНУ(захв.)

							li
								a href == chart_25_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам КНУ (захв.), замеренным на оп.105 и 115

							li
								a href == chart_27_0_resonators_analyzes_path(date_in: (Date.current - 1.year).to_s[0..6], date_out: Date.current.to_s[0..6], x_in: '', x_out: '')
									| По интервалам разностей КНУ (захв.), замеренным на оп.115 и 105

							li
								hr



			ul.nav.navbar-nav.navbar-right
				= render "shared/export"

			ul.nav.navbar-nav.navbar-right
				= render "shared/login"
	div.col-sm-12
		= yield
