.row
	.col-sm-2
		header.text-title
			h5
				b Напряжение горения через 10 мин

			- if @start_date && @stop_date
				h6 = "с #{@start_date.strftime("%d.%m.%Y")} по #{@stop_date.strftime("%d.%m.%Y")}"

			hr
			= form_tag({controller: 'resonators', action: 'graphics_burning_voltage_after_10_min'}, method: 'get') do
				/.row
					.col-sm-12
						h5 = 'Номер резонатора'
						= select_tag :number_reso, options_for_select(Resonator.select(:number).distinct.collect{ |u| [u.number] }), { class: 'select2_empty form-control', style: 'width: 280px;', multiple: 'true' }
				br
				.row
					.col-sm-12
						h5	= 'Номер вакуумного поста'
						= select_tag :number_post, options_for_select(Resonator.select(:ev_vacuum_post_number).distinct.collect{ |u| [u.ev_vacuum_post_number] }), { class: 'select2_empty form-control', style: 'width: 280px;', include_blank: true }

				br
				.row
					.col-sm-6
						h5 
							= "Дата с"
						= date_select(:date_in, "date", {}, {class: 'select2_nosearch', style: 'width: 100%;'})

					.col-sm-6
						h5	
							= "Дата до"
						= date_select(:date_out, "date", {}, {class: 'select2_nosearch', style: 'width: 100%;'})

				br
				.row
					.col-sm-12 align = "center"
						= submit_tag ('Построить'), {class: 'btn btn-default'}

	.col-sm-10
		. align = "center"
			h5
				b = "Напряжение горения через 10 мин"
		/= line_chart @resonators.where.not(ri_combustion_voltage_10m: 0).where(created_at: @date).group(:ri_combustion_voltage_10m).count
		= line_chart @resonators.where(created_at: @date).group(:ri_combustion_voltage_10m).count
