.row
	.col-sm-2
		header.text-title
			h5
				b Потери резонатора

			- if @start_date && @stop_date
				h6 = "с #{@start_date.strftime("%d.%m.%Y")} по #{@stop_date.strftime("%d.%m.%Y")}"

			hr
			= form_tag({controller: 'resonators', action: 'graphics_loss'}, method: 'get') do
				/.row
					.col-sm-12
						h5 = 'Номер резонатора'
						= select_tag :number_reso, options_for_select(Resonator.select(:number).distinct.collect{ |u| [u.number] }), { class: 'select2_empty form-control', style: 'width: 280px;', multiple: 'true' }
				br
				.row
					.col-sm-12
						h5 
							= 'Номер вакуумного поста'
						= select_tag :number_post, options_for_select(Resonator.select(:ev_vacuum_post_number).distinct.collect{ |u| [u.ev_vacuum_post_number] }), { class: 'select2_empty form-control', style: 'width: 280px;', include_blank: true }

				br
				.row
					.col-sm-6
						h5 
							= 'Дата с'
						= date_select(:date_in, "date", {}, {class: 'select2_nosearch', style: 'width: 100%;'})
					.col-sm-6
						h5 = 'Дата до'
						= date_select(:date_out, "date", {}, {class: 'select2_nosearch', style: 'width: 100%;'})

				br
				.row
					.col-sm-12 align = "center"
						= submit_tag ('Построить'), {class: 'btn btn-default'}
	.col-sm-10
		. align = "center"
			h5
				b = "Потери до ЭВО"
		/= line_chart @resonators.where.not(al_TEM00_loss: 0).where(created_at: @date).group(:al_TEM00_loss).count
		= line_chart @resonators.where(created_at: @date).group(:al_TEM00_loss).count

		br
		br

		. align = "center"
			h5 
				b = "Дифракционные потери "
			/= line_chart @loss_of_resonator.where.not(diffractions_before: 0).where(created_at: @date).group(:diffractions_before).count
			= line_chart @loss_of_resonator.where(created_at: @date).group(:diffractions_before).count

		br
		br
		. align = "center"
			h5 
				b = "Потери после ЭВО "
			/= line_chart @resonators.where.not(t3_losses: 0).where(created_at: @date).group(:t3_losses).count
			= line_chart @resonators.where(created_at: @date).group(:t3_losses).count


		br
		br
		. align = "center"
			h5
				b = "Разности потерь"
			/= line_chart @loss_of_resonator.where.not(difference_in_losses: 0).where(created_at: @date).group(:difference_in_losses).count
			= line_chart @loss_of_resonator.where(created_at: @date).group(:difference_in_losses).count