= form_for @mirror do |f|
    table.table-condensed

        -if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :substrate or current_user.has_role? :mirror

            tr
                td colspan=2 
                    legend style="font-size: 16px; text-align: center;" Подложка

            / Номер подложки
            tr
                td = @mirror_title[0]
                td = f.text_field :number_of_substrate, class: 'form-control'
            
            / Тип
            tr
                td = @mirror_title[1]
                td = f.select :mirror_type, [["Сферическое"],["Плоское"],["Пьезо"]], {}, {class: 'select2_nosearch form-control'}
            
            / Дата изготовления подложки
            tr
                td = @mirror_title[2]
                td = f.date_select :date_of_manufacture_of_the_substrate, {include_blank: true}
            
            / ФИО полировщика
            tr
                td = @mirror_title[3]
                td = f.text_field :name_of_polisher, class: 'form-control'
            
            / Шероховатость подложки
            tr
                td = @mirror_title[4]
                td = f.number_field :roughness_of_the_substrate, step: @step, class: 'form-control'
            
            / Радиус кривизны номинальный, мм
            tr
                td = @mirror_title[5]
                td = f.select :radius_of_curvature_is_nominal, @radius_title, {}, {id: 'radius_of_curvature_is_nominal_field', class: 'select2_nosearch form-control'}
            
            / Радиус кривизны фактический, мм
            tr
                td = @mirror_title[6]
                td = f.number_field :radius_of_curvature_is_actual, step: @step, class: 'form-control'

            / Дата измерения радиуса кривизны
            tr
                td = @mirror_title[7]
                td = f.date_select :date_of_measurement_of_the_radius_of_curvature, {include_blank: true}

            
            / Результат полировки
            tr
                td = @mirror_title[8]
                td = f.select :result_of_polishing, [['Годен'],['Не годен']], {}, {class: 'select2_nosearch form-control'}
            
            / Описание внешнего вида 
            tr
                td = @mirror_title[9]
                td = f.text_field :description_of_appearance_substrate, class: 'form-control'

            tr
                td
                    p

        -if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :mirror
        
            tr
                td colspan=2 
                    legend style="font-size: 16px; text-align: center;" align="center" Зеркало
            / Изготовитель
            tr
                td = @mirror_title[10]
                td = f.select :manufacturer, @mode_list, {}, {class: 'select2_nosearch form-control'}

            / Дата напыления
            tr
                td = @mirror_title[11]
                td = f.date_select :date_of_deposition, {include_blank: true}


            / Напылительная установка
            tr
                td = @mirror_title[12]
                td = f.select :spray_installation, @spray_installation_title, {}, {class: 'select2_nosearch form-control'}

            
            / Внешний вид 
            tr
                td = @mirror_title[13]
                td = f.select :appearance, [['Годен'],['Не годен']], {},{class: 'select2_nosearch form-control'}

            / Описание внешнего вида
            tr
                td = @mirror_title[14]
                td = f.text_area :description_of_appearance, class: 'form-control'
                
            / Дата контроля внешнего вида
            tr
                td = @mirror_title[15]
                td = f.date_select :date_control, {include_blank: true}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr
            
            / Суммарные потери
            tr  
                td = @mirror_title[16]
                td = f.number_field :tl_total_losses, step: @step, class: 'form-control'
            
            / Тип измерения
            tr  
                td = @mirror_title[17]
                td = f.select :tl_measurement, [ ['Групповое'],['Индивидуальное'] ], {}, {class: 'select2_nosearch form-control'}
            
            / Дата измерения
            tr  
                td = @mirror_title[18]
                td = f.date_select :tl_date_of_measurement, {include_blank: true}
            
            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr

            / Коэффициент интегрального рассеяния, ppm
            tr  
                td = @mirror_title[19]
                td = f.number_field :ci_coefficient_of_integral_scattering, step: @step, class: 'form-control'
            
            / Тип измерения
            tr  
                td = @mirror_title[20]
                td = f.select :ci_measurement, [ ['Групповое'],['Индивидуальное'] ], {}, {class: 'select2_nosearch form-control'}
            
            / Дата измерения
            tr  
                td = @mirror_title[21]
                td = f.date_select :ci_date_of_measurement, {include_blank: true}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr
            
            / Фазовая анизотропия
            tr  
                td = @mirror_title[22]
                td = f.number_field :pa_phase_anisotropy, step: @step, class: 'form-control'

            / Дата измерения
            tr  
                td = @mirror_title[23]
                td = f.date_select :pa_ci_date_of_measurement, {include_blank: true}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr
            
            / Коэффициент пропускания
            tr  
                td = @mirror_title[24]
                td = f.number_field :tr_transmittance, step: @step, class: 'form-control'
            
            / Дата измерения
            tr  
                td = @mirror_title[25]
                td = f.date_select :tr_date_of_measurement, {include_blank: true}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr
            
            tr  
                td = @mirror_title[26]
                td = f.date_select :date_of_transfer_to_the_assembly_in_the_resonator, {include_blank: true}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr


            / Возврат
            tr
                td = @mirror_title[27]
                td = f.select :return, [["Нет"],["Да"]], {}, {id: 'return_field', class: 'select2_nosearch form-control'}
            
            / Дата возврата
            tr
                td = @mirror_title[28]
                td = f.date_select(:return_date, {}, {id: 'return_date_field', disabled: true})
            
            / Причина возврата
            tr
                td = @mirror_title[29]
                td = f.select :reason_for_return, @return_list_title, {}, {id: 'reason_for_return_field', class: 'select2_nosearch form-control', disabled: true}
                td

                    div.element_list data-toggle="tooltip" data-placement="right" title="Выберите элемент"
                        = f.select :for_the_return_list, @element_list_title, {}, { id: 'element_list_field', class: 'select2_nosearch form-control', disabled: true, style: 'width: 200px;'}
                

                    div.parameter_list data-toggle="tooltip" data-placement="right" title="Выберите параметр"
                        = f.select :for_the_return_list, @parametr_list_title, {}, { id: 'parameter_list_field', class: 'select2_nosearch form-control', disabled: true, style: 'width: 300px;'}
                
                    div.other_list data-toggle="tooltip" data-placement="right" title="Введите причину возврата"
                        = f.text_field :for_the_return_list, { id: 'other_list_field', class: 'form-control', disabled: true, style: 'width: 300px;'}

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr
            
            / Отклонения (по картам отклонений)
            tr
                td = @mirror_title[30]
                td = f.text_field :deviations, class: 'form-control'

            /-------------------------------------------------------------------------------------------
            tr
                td colspan=2
                    hr

        tr
            td colspan=2 align="center" = f.submit "Внести", class: 'btn btn-default'
