. align="left" = will_paginate @mirrors, previous_label: "<", next_label: ">"

table.table.table-condensed style="width: 90%" align="center"
	thead
		tr
			th.center = @mirror_title[0]
			th.center = @mirror_title[2]
			th.center = @mirror_title[1]
			th.center = @mirror_title[11]
			th.center = @mirror_title[10]
			th.center = @mirror_title[22]
			th.center = @mirror_title[33]
			th.center = @mirror_title[32]
			th.center = @mirror_title[34]
			th.center = @mirror_title[30]
			
			th colspan=3

	tbody
		- @mirrors.each do |mirror|
			- @mrr_title = ""

			tr
				td.center = mirror.number_of_substrate
				td.center = mirror.date_of_manufacture_of_the_substrate
				td.center = mirror.mirror_type
				td.center = mirror.date_of_deposition
				td.center = mirror.manufacturer
				td.center = mirror.pa_phase_anisotropy
				td.center = mirror.date_of_installation_in_the_resonator
				td.center
					- if mirror.resonator_id?
                        = link_to "#{Resonator.find(mirror.resonator_id).number}", resonators_path
            	- if mirror.result_of_polishing == 'Не годен' or mirror.appearance == 'Не годен' or mirror.reason_for_return?
            		td.center.back_error Не годно
    			-else
    				td.center.success Годно

				td.center data-toggle="tooltip" data-placement="bottom" title="#{mirror.deviations}"
    				- if mirror.deviations?
    					= link_to content_tag('span', '', class: 'fa fa-file-o'),mirror_path(mirror) + '#deviations', class: 'action'

				td.center = link_to content_tag('span', '', class: 'fa fa-circle-o'), mirror_path(mirror), class: 'action'
				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :mirror
						td.center = link_to content_tag('span', '', class: 'fa fa-pencil'), edit_mirror_path(mirror), class: 'action'
				
				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator
						td.center = link_to content_tag('span', '', class: 'fa fa-trash'), mirror, class: 'action', data: {confirm: "Вы хотите удалить зеркало №#{mirror.number_of_substrate}"}, method: :delete



