div.container-fluid
    p.sys_success
        = notice
    div.row
        div.col-sm-1
            h4 Подложки/Зеркала
			-if user_signed_in?
				-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :substrate or current_user.has_role? :mirror
					= link_to "Внести", new_mirror_path, class: 'btn btn-default'
            hr
            = link_to "Сферическое", mirrors_path(view_type: 'smirror', page: 1)
            br
            = link_to "Плоское", mirrors_path(view_type: 'fmirror', page: 1)
            br
            = link_to "Пьезо", mirrors_path(view_type: 'pmirror', page: 1)
            br
            = link_to "Все", mirrors_path(view_type: 'all', page: 1)

            hr

            = form_tag('mirrors/search', method: 'get', id: 'mirror_search_form') do
                table
                    tr
                        td = text_field_tag :search_val, '', class: 'form-control'
                        td 
                            .btn.fa.fa-search onclick="$('#mirror_search_form').submit()" = submit_tag "", style: 'display: none;'

        div.col-sm-11
            = render 'mirrors'