div.container-fluid
    p.sys_error
        = notice
    div.row
        div.col-sm-1
			h4 = "Внести зеркало #{@mirror.number_of_substrate}"
			= link_to "Назад", mirrors_path, class: 'btn btn-default'

        div.col-sm-11
            = render 'form'

