div.col-sm-2
	h4 = "Зеркало #{@mirror.number_of_substrate}"
	= link_to "Назад", mirrors_path, class: 'btn btn-default'

div.col-sm-10
	table.table-condensed
		tr
			td = @mirror_title[0]
			td = @mirror.number_of_substrate
		tr
			td = @mirror_title[1]
			td = @mirror.mirror_type
		tr
			td = @mirror_title[2]
			td = @mirror.date_of_manufacture_of_the_substrate
		tr
			td = @mirror_title[3]
			td = @mirror.name_of_polisher
		tr
			td = @mirror_title[4]
			td = @mirror.roughness_of_the_substrate
		tr
			td = @mirror_title[5]
			td = @mirror.radius_of_curvature_is_nominal
		tr
			td = @mirror_title[6]
			td = @mirror.radius_of_curvature_is_actual
		tr
			td = @mirror_title[7]
			td = @mirror.date_of_measurement_of_the_radius_of_curvature
		tr
			td = @mirror_title[8]
			td = @mirror.result_of_polishing
		tr
			td = @mirror_title[9]
			td = @mirror.description_of_appearance_substrate

		tr
			td colspan=2
				hr
		tr
			td = @mirror_title[10]
			td = @mirror.manufacturer
		tr
			td = @mirror_title[11]
			td = @mirror.date_of_deposition
		tr
			td = @mirror_title[12]
			td = @mirror.spray_installation
		tr
			td = @mirror_title[13]
			td = @mirror.appearance
		tr
			td = @mirror_title[14]
			td = @mirror.description_of_appearance

		tr
			td = @mirror_title[15]
			td = @mirror.date_control

		tr
			td colspan=2
				hr
		tr
			td = @mirror_title[16]
			td = @mirror.tl_total_losses
		tr
			td = @mirror_title[17]
			td = @mirror.tl_measurement
		tr
			td = @mirror_title[18]
			td = @mirror.tl_date_of_measurement

		tr
			td colspan=2
				hr

		tr
			td = @mirror_title[19]
			td = @mirror.ci_coefficient_of_integral_scattering
		tr
			td = @mirror_title[20]
			td = @mirror.ci_measurement
		tr
			td = @mirror_title[21]
			td = @mirror.ci_date_of_measurement

		tr
			td colspan=2
				hr

		tr
			td = @mirror_title[22]
			td = @mirror.pa_phase_anisotropy
		tr
			td = @mirror_title[23]
			td = @mirror.pa_ci_date_of_measurement

		tr
			td colspan=2
				hr

		tr
			td = @mirror_title[24]
			td = @mirror.tr_transmittance
		tr
			td = @mirror_title[25]
			td = @mirror.tr_date_of_measurement

		tr
			td colspan=2
				hr
		tr
			td = @mirror_title[26]
			td = @mirror.date_of_transfer_to_the_assembly_in_the_resonator
		tr
			td colspan=2
				hr
		tr
			td = @mirror_title[27]
			td = @mirror.return
		tr
			td = @mirror_title[28]
			td = @mirror.return_date
		tr
			td = @mirror_title[29]
			td
				-if @mirror.reason_for_return?
					= "#{@mirror.reason_for_return} (#{@mirror.for_the_return_list})"

		tr
			td colspan=2
				hr

		tr
			td = @mirror_title[30]
			td = @mirror.deviations


    	- if @mirror.resonator_id?
            tr
                td colspan=2
                    hr
            tr
                td = @mirror_title[32]
                td = link_to "#{Resonator.find(@mirror.resonator_id).number}", resonators_path
            tr
                td = @mirror_title[33]
                td = @mirror.date_of_installation_in_the_resonator
        tr
        	td = @mirror_title[31]
        	td = @mirror.number_of_assemblies






