= form_for @leg do |f|
    table.table-condensed
        / Номер диска
        tr
            td = @leg_title[0]
            td = f.text_field :disk_number, class: 'form-control'
        
        / Дата изготовления
        tr
            td = @leg_title[1]
            td = f.date_select :ds_date_of_manufacture, {include_blank: true}
        
        / Неплоскостность диска N
        tr
            td = @leg_title[2]
            td = f.number_field :ds_the_nonplaneity_of_the_disc_n, step: @step, class: 'form-control'
        
        / Неплоскостность диска ΔN
        tr
            td = @leg_title[3]
            td = f.number_field :ds_the_discontinuity_of_the_disk_n, step: @step, class: 'form-control'
        
        / Внешний вид оптического контакта
        tr
            td = @leg_title[4]
            td = f.select :ds_appearance_ok, [["Годен"],["Не годен"]], {}, {class: 'select2_nosearch form-control'}
        
        / Описание внешнего вида
        tr
            td = @leg_title[5]
            td = f.text_area :ds_description_of_appearance_ok, class: 'form-control'
        
        / Дата контроля
        tr
            td = @leg_title[6]
            td = f.date_select :ds_date_control_ok, {include_blank: true}
        

        / ----------------------------------------------------------------------------------------------
        tr
            td colspan="3"
                hr

        / Дата пайки
        tr
            td = @leg_title[7]
            td = f.date_select :sd_soldering_date, {include_blank: true}
        
        / Неплоскостность ножки N
        tr
            td = @leg_title[8]
            td = f.number_field :sd_non_flatness_of_the_foot_n, step: @step, class: 'form-control'
        
        / Неплоскостность ножки ΔN
        tr
            td = @leg_title[9]
            td = f.number_field :sd_the_non_flatness_of_the_foot_n, step: @step, class: 'form-control'
        
        / Контроль герметичности
        tr
            td = @leg_title[10]
            td = f.select :sd_germ_checking_for_leaks, [["Годен"],["Не годен"]], {}, {class: 'select2_nosearch form-control'}
        
        / Дата контроля
        tr
            td = @leg_title[11]
            td = f.date_select :sd_germ_date_control, {include_blank: true}
        
        / Внешний вид оптического контакта
        tr
            td = @leg_title[12]
            td = f.select :sd_appearance_ok, [["Годен"],["Не годен"]], {}, {class: 'select2_nosearch form-control'}
        
        / Описание внешнего вида
        tr
            td = @leg_title[13]
            td = f.text_area :sd_description_of_appearance_ok, class: 'form-control'
        
        / ----------------------------------------------------------------------------------------------
        tr
            td colspan="3"
                hr

        / Дата контроля
        tr
            td = @leg_title[14]
            td = f.date_select :sd_date_control_ok, {include_blank: true}
        tr
            td = @leg_title[15]
            td = f.date_select :date_of_transfer_to_the_assembly_in_the_resonator, {include_blank: true}

        / ----------------------------------------------------------------------------------------------
        tr
            td colspan="3"
                hr
        / Возврат
        tr
            td = @leg_title[16]
            td = f.select :return, [["Нет"],["Да"]], {}, {id: 'return_field', class: 'select2_nosearch form-control'}
        
        / Дата возврата
        tr
            td = @leg_title[17]
            td = f.date_select :return_date, {}, {id: 'return_date_field', disabled: true}
        
        / Причина возврата
        tr
            td = @leg_title[18]
            td = f.select :reason_for_return, @return_list_title, {}, {id: 'reason_for_return_field', class: 'select2_nosearch form-control', disabled: true}
            td

                div.element_list data-toggle="tooltip" data-placement="right" title="Выберите элемент"
                    = f.select :for_the_return_list, @element_list_title, {}, { id: 'element_list_field', class: 'select2_nosearch form-control', disabled: true, style: 'width: 200px;'}
            

                div.parameter_list data-toggle="tooltip" data-placement="right" title="Выберите параметр"
                    = f.select :for_the_return_list, @parametr_list_title, {}, { id: 'parameter_list_field', class: 'select2_nosearch form-control', disabled: true, style: 'width: 300px;'}
            
                div.other_list data-toggle="tooltip" data-placement="right" title="Введите причину возврата"
                    = f.text_field :for_the_return_list, { id: 'other_list_field', class: 'select2_nosearch form-control', disabled: true, style: 'width: 300px;'}
                    
        / Отклонения
        tr
            td = @leg_title[19]
            td = f.text_field :deviations, class: 'form-control'

        /-------------------------------------------------------------------------------------------
        tr
            td colspan=2
                hr

        / Изображение
        tr
            td = @leg_title[25]
            td = f.file_field :xray_file



        tr
            td align="center" colspan="3" = f.submit "Внести", class: 'btn btn-default'
                