. align="left" = will_paginate @legs, previous_label: "<", next_label: ">"

table.table.table-condensed style="width: 90%" align="center"
	thead
		tr
			th.center = @leg_title[0]
			th.center = @leg_title[1]
			th.center = @leg_title[7]
			th.center = @leg_title[15]
			th.center = @leg_title[21]
			th.center = @leg_title[22]
			th.center = @leg_title[23]
			th.center = @leg_title[24]
			th colspan=3

	tbody
		- @legs.each do |leg|
			- @leg_title = ""

			tr
				td.center = leg.disk_number
				td.center = leg.ds_date_of_manufacture
				td.center = leg.sd_soldering_date
				td.center = leg.date_of_transfer_to_the_assembly_in_the_resonator
				
				td.center 
					- if leg.resonator_id?
                    	= link_to "#{Resonator.find(leg.resonator_id).number}", resonators_path
                        td.center = leg.date_of_installation_in_the_resonator
                    - else
                    	td
              	
              	- if leg.ds_appearance_ok == "Не годна" or leg.sd_germ_checking_for_leaks == "Не годна" or leg.sd_appearance_ok == "Не годна" or leg.reason_for_return?
    				td.center.back_error Не годна
        		-else
        			td.center.success Годна

    			td.center title="#{leg.deviations}"
    				- if leg.deviations?
    					= link_to content_tag('span', '', class: 'fa fa-file-o'),leg_path(leg) + '#deviations', class: 'action'

				td.center
	                / Изображение
	                - if leg.xray_file?
	                	= link_to content_tag('span', '', class: 'fa fa-file-image-o'), "#{leg.xray_file}"

				td = link_to content_tag('span', '', class: 'fa fa-circle-o'), leg_path(leg), class: 'action'

				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator or current_user.has_role? :leg
						td = link_to content_tag('span', '', class: 'fa fa-pencil'), edit_leg_path(leg), class: 'action'

				-if user_signed_in?
					-if current_user.has_role? :admin or current_user.has_role? :moderator
						td = link_to content_tag('span', '', class: 'fa fa-trash'), leg, class: 'action', data: {confirm: "Хотите удалить ножку #{leg.disk_number}?"}, method: :delete

