div.container-fluid
    p.sys_error
        = notice
    div.row
        div.col-sm-1
			h4 = "Внести ножку"
			= link_to "Назад", legs_path, class: 'btn btn-default'

        div.col-sm-11
            = render 'form'