div.container-fluid
    p.sys_success
        = notice
    div.row
        div.col-sm-1
			h4 Ножки
			= link_to "Назад", legs_path, class: 'btn btn-default'

            hr

			span ="Результат поиска по #{@search_val}"
		div.col-sm-11
			= render 'legs'