div.container-fluid
    p.sys_error
        = notice
    div.row
        div.col-sm-1
            h4 = "Ножка #{@leg.disk_number}"
            = link_to "Назад", legs_path, class: 'btn btn-default'

        div.col-sm-11
        
            table.table-condensed
                tr
                    td = @leg_title[0]
                    td = @leg.disk_number
                tr
                    td = @leg_title[1]
                    td = @leg.ds_date_of_manufacture
                tr
                    td = @leg_title[2]
                    td = @leg.ds_the_nonplaneity_of_the_disc_n
                tr
                    td = @leg_title[3]
                    td = @leg.ds_the_discontinuity_of_the_disk_n
                tr
                    td = @leg_title[4]
                    td = @leg.ds_appearance_ok
                tr
                    td = @leg_title[5]
                    td = @leg.ds_description_of_appearance_ok
                tr
                    td = @leg_title[6]
                    td = @leg.ds_date_control_ok
                tr
                    td colspan=2
                        hr
                tr
                    td = @leg_title[7]
                    td = @leg.sd_soldering_date
                tr
                    td = @leg_title[8]
                    td = @leg.sd_non_flatness_of_the_foot_n
                tr
                    td = @leg_title[9]
                    td = @leg.sd_the_non_flatness_of_the_foot_n
                tr
                    td = @leg_title[10]
                    td = @leg.sd_germ_checking_for_leaks
                tr
                    td = @leg_title[11]
                    td = @leg.sd_germ_date_control
                tr
                    td = @leg_title[12]
                    td = @leg.sd_appearance_ok
                tr
                    td = @leg_title[13]
                    td = @leg.sd_description_of_appearance_ok

                tr
                    td colspan=2
                        hr
                
                tr
                    td = @leg_title[14]
                    td = @leg.sd_date_control_ok
                tr
                    td = @leg_title[15]
                    td = @leg.date_of_transfer_to_the_assembly_in_the_resonator

                
                tr
                    td colspan=2
                        hr


                tr
                    td
                        b = @leg_title[16]
                    td
                tr
                    td = @leg_title[17]
                    td = @leg.return_date
                tr
                    td = @leg_title[18]
                    td  
                        -if @leg.reason_for_return?
                            = "#{@leg.reason_for_return} (#{@leg.for_the_return_list})"
                
                tr
                    td colspan=2
                        hr

                tr
                    td id="deviations"
                        = @leg_title[19]
                    td = @leg.deviations


                - if @leg.resonator_id?
                    tr
                        td colspan=2
                            hr
                    tr
                        td = @leg_title[21]
                        td = link_to "#{Resonator.find(@leg.resonator_id).number}", resonators_path
                    tr
                        td = @leg_title[22]
                        td = @leg.date_of_installation_in_the_resonator
                tr
                    td = @leg_title[20]
                    td = @leg.number_of_assemblies