br
h3.text-title align = "center"
        b = @title
br
h4.text-title Распределение
br
= column_chart [ { name: @legend_1, data: @chart_distribution[0] },
                 { name: @legend_2, data: @chart_distribution[1] },
                 { name: @legend_3, data: @chart_distribution[2] } ],
                 stacked: false,
                 download: "#{ Date.current }_#{ @download_name_1 }",
                 legend: "bottom",
                 xtitle: @xtitle,
                 ytitle: @ytitle
br
br

h4.text-title Относительное распределение
br
= line_chart [  { name: @legend_1, data: @chart_distribution[3] },
                { name: @legend_2, data: @chart_distribution[4] },
                { name: @legend_3, data: @chart_distribution[5] } ],
                stacked: false,
                curve: true,
                points: true,
                download: "#{ Date.current }_#{ @download_name_2 }",
                legend: "bottom",
                xtitle: @xtitle,
                ytitle: @ytitle

br
br
h5 = "Количество резонаторов в анализе: #{ @chart_distribution[6] } шт."
