br
h3.text-title align = "center"
        b = @title
br
h4.text-title Распределение
br
= column_chart @chart_distribution[0]
br
br
h4.text-title Относительное распределение
br
= line_chart @chart_distribution[1]
br
br
h5 = "Количество резонаторов в анализе: #{ @chart_distribution[2] } шт."
