br
h3.text-title align = "center"
	b = @title
br
h4.text-title Распределение
br
= column_chart [{ name: @legend_1, data: @chart_distribution.at(0) },
				{ name: @legend_2, data: @chart_distribution.at(1) },
				{ name: @legend_3, data: @chart_distribution.at(2) },
				{ name: @legend_4, data: @chart_distribution.at(3) }],
				stacked: false,
				download: "#{ Date.current }_#{ @download_name_1 }",
				legend: "bottom",
				xtitle: @xtitle,
				ytitle: @ytitle
br
br

h4.text-title Относительное распределение
br
= line_chart [  { name: @legend_1, data: @chart_distribution.at(4) },
				{ name: @legend_2, data: @chart_distribution.at(5) },
				{ name: @legend_3, data: @chart_distribution.at(6) },
				{ name: @legend_4, data: @chart_distribution.at(7) }],
				stacked: false,
				curve: true,
				points: true,
				download: "#{ Date.current }_#{ @download_name_2 }",
				legend: "bottom",
				xtitle: @xtitle,
				ytitle: @ytitle

br
br
h5 = "Количество резонаторов в анализе: #{ @chart_distribution.at(8) } шт."
